Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Automated rollback of commit ea8edb228a3a89203e4bbf76ca168638b2556af1.
  ext/src/com/google/idea/blaze/ext/mac/IntelliJExts.java
Labels: awaiting-review

Update CHANGELOG for v2024.03.12
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.03.12
  CHANGELOG
Labels: awaiting-review

Update changelog for 2024.03.12 release (#6251)
  CHANGELOG
Labels: awaiting-review

Add format files to copybara export
  cpp/BUILD
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
Labels: awaiting-review, product: CLion

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

fix: Move BlazeProjectAction.update() to the BGT
  base/src/com/google/idea/blaze/base/actions/BackgroundUpdatingBlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/CopyBlazeTargetPathAction.java
  base/src/com/google/idea/blaze/base/actions/OpenCorrespondingBuildFile.java
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAction.java
  java/src/com/google/idea/blaze/java/libraries/AttachSourceJarAction.java
  java/src/com/google/idea/blaze/java/libraries/DescribeLibraryAction.java
  java/src/com/google/idea/blaze/java/libraries/ExcludeLibraryAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Run `query_sync_integration_tests` with new artifact logic enabled too.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdateOperation.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move Bazel action state updates to BGT.
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixed conflicts with google changes
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixed getActionUpdateThread (backport of e3b3fa3) (#6270)
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains IDEs (#6267)
  WORKSPACE.bzlmod
Labels: awaiting-review

Report the start of action execution in BEP
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Add compiled artifact class jars to the project proto.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdateOperation.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add dependency generated source jars to the project.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add checked-in source jars from dependencies to the project.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencySrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support for in-project generated srcjars.
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Support for in-project generated sources.
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcs.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Fixed mac build
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
Labels: awaiting-review

Change default value for android resource package
  aspect/build_dependencies.bzl
Labels: awaiting-review

Fix bazel build error
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix unit test failure with bazel@head (#6188)
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update BazelPluginProcessorJarTest.java (#6249)
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: awaiting-review

Move ReplaceActionHelper actions to OLD_EDT
  common/actions/src/com/google/idea/common/actions/ReplaceActionHelper.java
Labels: awaiting-review

Fix "No such target" errors on incremental sync
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/tests/unittests/com/google/idea/blaze/base/issueparser/BlazeIssueParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the previous proto for piper and re-enable fixed test
  ext/proto/piper.proto
Labels: awaiting-review

Changes for compatibility with IntelliJ 2024.1
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  kotlin/tests/unittests/com/google/idea/blaze/kotlin/sync/importer/KotlinSyncAugmenterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the use of OCCommenter
  cpp/src/com/google/idea/blaze/cpp/includes/IwyuPragmas.java
Labels: awaiting-review, product: CLion

Improved error message for an unsupported workspace type
  base/src/com/google/idea/blaze/base/sync/projectview/LanguageSupport.java
  base/tests/unittests/com/google/idea/blaze/base/sync/LanguageSupportTest.java
  javascript/tests/unittests/com/google/idea/blaze/javascript/BlazeJavascriptSyncPluginTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improved error message for an unsupported workspace type (#6257)
  base/src/com/google/idea/blaze/base/sync/projectview/LanguageSupport.java
  base/tests/unittests/com/google/idea/blaze/base/sync/LanguageSupportTest.java
  javascript/tests/unittests/com/google/idea/blaze/javascript/BlazeJavascriptSyncPluginTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add an extension point to support providing `ProjectProtoTransform` implementations.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectProtoTransformProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/ProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/deps/BuiltDependenciesSupplier.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support external android resources with the new artifact logic.
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as233/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AndroidManifestParser.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
Labels: awaiting-review

Reinstate android res packages functionality with new artifact tracker.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddAndroidResPackages.java
Labels: awaiting-review

Create a new class to store immutable artifact tracker state.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddAndroidResPackages.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/BuiltDependenciesSupplier.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added external_includes to system includes switch
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/ideinfo/CIdeInfo.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/HeaderRootTrimmer.java
  proto/intellij_ide_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure all prebuilt files can be found in a consistent way.
  java/BUILD
  java/src/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinder.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinderTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencySrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactIndex.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
Labels: awaiting-review, product: IntelliJ

Require all `CppSupportChecker`s to allow cpp support.
  cpp/BUILD
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
Labels: awaiting-review, product: CLion

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Fix backwards compatibility support for AndroidIdeInfo
  aspect/build_dependencies.bzl
Labels: awaiting-review

Fix backwards compatibility support for AndroidIdeInfo
  aspect/build_dependencies.bzl
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
