Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Add sdkcompat for MSVCCompilerToVersionCacheService
  clwb/BUILD
  clwb/sdkcompat/BUILD
  clwb/sdkcompat/v223/BUILD
  clwb/sdkcompat/v223/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v231/BUILD
  clwb/sdkcompat/v231/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v232/BUILD
  clwb/sdkcompat/v232/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v233/BUILD
  clwb/sdkcompat/v233/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v241/BUILD
  clwb/sdkcompat/v241/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v242/BUILD
  clwb/sdkcompat/v242/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/MSVCEnvironmentProvider.java
  clwb/tests/unittests/com/google/idea/blaze/clwb/MSVCEnvironmentProviderTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/CppEnvironmentProvider.java
Labels: awaiting-review, product: CLion

fix: Display "Coverage" tool window correctly after executing "run with coverage"
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageEngine.java
Labels: awaiting-review, product: IntelliJ

fix: Display "Coverage" tool window correctly after executing "run with coverage" (#6502)
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageEngine.java
Labels: awaiting-review, product: IntelliJ

Add renovate.json (#6444)
  renovate.json
Labels: awaiting-review

chore(deps): update stefanbuck/github-issue-parser digest to a2288dc
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

chore(deps): update dependency platforms to v0.0.10
  MODULE.bazel
Labels: awaiting-review

chore(deps): update stefanbuck/github-issue-parser digest to a2288dc (#6503)
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

chore(deps): update dependency platforms to v0.0.10 (#6504)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency rules_kotlin to v1.9.5
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency bazel_skylib to v1.7.1
  MODULE.bazel
Labels: awaiting-review

Use a global bounded threadpool when using persistent workers
  aspect/tools/src/com/google/idea/blaze/aspect/PackageParser.java
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/PackageParserTest.java
Labels: awaiting-review

chore(deps): update dependency com_google_absl to v20230802.2
  WORKSPACE.bzlmod
Labels: awaiting-review

Automatically add assignee to issues with product labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/issue-assignee.yml
Labels: awaiting-review

chore(deps): update dependency rules_java to v7.6.5
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency rules_jvm_external to v6.1
  MODULE.bazel
Labels: awaiting-review

Bump JetBrains plugins
  WORKSPACE.bzlmod
Labels: awaiting-review

chore(deps): update dependency rules_python to v0.33.2
  MODULE.bazel
Labels: awaiting-review

chore(deps): update redhat-plumbers-in-action/advanced-issue-labeler action to v2.1.0
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

Bump JetBrains plugins (#6515)
  WORKSPACE.bzlmod
Labels: awaiting-review

chore: Update lockfile
  MODULE.bazel.lock
Labels: awaiting-review

chore(deps): update stefanbuck/github-issue-parser action to v3.2.1
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

chore(deps): update actions/checkout action to v4
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

Some clean up
  .github/workflows/issue-assignee.yml
Labels: awaiting-review

trusted project: respect intellij settings controlling project trustness
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

chore(deps): update dependency bazel_skylib to v1.7.1 (#6507)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update actions/github-script action to v7
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

chore(deps): update dependency rules_kotlin to v1.9.5 (#6506)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency com_google_absl to v20230802.2 (#6510)
  WORKSPACE.bzlmod
Labels: awaiting-review

chore(deps): update actions/labeler action to v5
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

chore(deps): update dependency rules_java to v7.6.5 (#6513)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency rules_jvm_external to v6.1 (#6514)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update dependency rules_python to v0.33.2 (#6517)
  MODULE.bazel
Labels: awaiting-review

chore(deps): update redhat-plumbers-in-action/advanced-issue-labeler action to v2.1.0 (#6518)
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

chore(deps): update stefanbuck/github-issue-parser action to v3.2.1 (#6519)
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

chore(deps): update actions/checkout action to v4 (#6520)
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

chore(deps): update actions/github-script action to v7 (#6522)
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

chore(deps): update actions/labeler action to v5 (#6523)
  .github/workflows/pr-label-and-assignee.yml
Labels: awaiting-review

chore(deps): update actions/stale action to v9
  .github/workflows/stale.yml
Labels: awaiting-review

chore(deps): update dependency com_google_absl to v20240116
  WORKSPACE.bzlmod
Labels: awaiting-review

chore(deps): update dependency rules_proto to v6
  MODULE.bazel
Labels: awaiting-review
