Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove legacy sync-before-build setting
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include messages from the cc compiler info cache session in the ide log too.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Include query sync data in bugreports.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move the definition of the protos output by the aspect for java into the querysync library.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/BUILD
  proto/artifact_tracker_data.proto
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move cc_compilation_info proto into querysync library.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  proto/BUILD
  proto/artifact_tracker_data.proto
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcDependenciesInfo.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/cc_compilation_info.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Delete unused code
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  proto/artifact_tracker_data.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

move 2023.3 to latest-stable (#5517)
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Remove the `graph` parameter from `updateProjectProtoForJavaDeps`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move java specific logic into the new `java` package.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/PackageReader.java
  querysync/java/com/google/idea/blaze/qsync/java/PackageStatementParser.java
  querysync/java/com/google/idea/blaze/qsync/java/ParallelPackageReader.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/WorkspaceResolvingPackageReader.java
  querysync/java/com/google/idea/blaze/qsync/util/BUILD
  querysync/java/com/google/idea/blaze/qsync/util/GetJarRoots.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/PackageStatementParserTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/SrcJarProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use canonical android resource packages extracted from the dependency build, rather than a query-time heuristic.
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/java/AndroidResPackagesProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add empty BlazeProjectDataManager for non-blaze projects
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/data/EmptyBlazeProjectDataManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Respect user settings for showing console windows on query sync
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix buildifier formatting for `MODULE.bazel` and `WORKSPACE`
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Allow to have non-existent import entries in `projectview` that pointing to … (#5689)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/projectview/ProjectViewSet.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TryImportSection.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/references/ProjectViewLabelReferenceTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/scope/ErrorCollector.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pass environment variables from BlazeCidrLauncher down to bazel (#5771)
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/run/processhandler/ScopedBlazeProcessHandler.java
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include the blaze-out relative path in local file ouput artifact equals implementation.
  aswb/tests/unittests/com/google/idea/blaze/android/libraries/RenderJarCacheTest.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifactWithoutDigest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve query sync file listener
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Track operation type in QuerySyncStatus
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatusImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Convert subclasses of `OutputArtifactDestinationAndLayout` to `@AutoValue`
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

bazelrc: set java_runtime_version for builds too
  .bazelrc
Labels: awaiting-review

Switch to using `AndroidIdeInfo` provider instead if `target.android`.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Enable QuerySyncManager to track sync status
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatusImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix buildifier formatting for `MODULE.bazel` and `WORKSPACE` (#5829)
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Filter IDE deploy info by path
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginDeployer.java
Labels: awaiting-review

Fix go examples
  examples/go/with_go_source/run_configurations/test_macro_expansion.xml
  examples/go/with_go_source/with_go_source.bazelproject
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
Labels: awaiting-review, product: GoLand

Update toString key name
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifactWithoutDigest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: Enable debugging the gazelle binary (#5816)
  golang/src/com/google/idea/blaze/golang/GoBlazeRules.java
Labels: awaiting-review, product: GoLand

Update intellij plugin to use modern provider
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix go examples (#5839)
  examples/go/with_go_source/run_configurations/test_macro_expansion.xml
  examples/go/with_go_source/with_go_source.bazelproject
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
Labels: awaiting-review, product: GoLand

Fix kotlin example for bazel 7.0.0
  WORKSPACE
  examples/kotlin/simple_project/BUILD
Labels: awaiting-review, product: IntelliJ

Add missing generic parameters to `Context` where necessary,
  aswb/src/com/google/idea/blaze/android/sync/sdk/AndroidSdkFromProjectView.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/scope/output/IssueOutput.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
  querysync/java/com/google/idea/blaze/qsync/AffectedPackagesCalculator.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProject.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  MODULE.bazel.lock
  WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: awaiting-review

Read android resource package from the manifest instead of using the `AndroidIdeInfo.java_package` provider API.
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/BuildArtifactProvider.java
  querysync/java/com/google/idea/blaze/qsync/java/AndroidResPackagesProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Split `DefaultCacheLayout` into an unzipping part, and the fallback behaviour into a key based layout.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/CacheDirectories.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayoutTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayoutTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/TestOutputArtifactInfo.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support kt_android and kt_android_local_test (bazelbuild/intellij PR import #5789)
  aspect/build_dependencies.bzl
  aspect/intellij_info_impl.bzl
  java/src/com/google/idea/blaze/java/AndroidBlazeRules.java
  java/src/com/google/idea/blaze/java/TargetKindUtil.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/fastbuild/AndroidLocalTestEnvironmentModifier.java
  java/src/com/google/idea/blaze/java/sync/source/AndroidJavaLikeLanguage.java
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review, product: IntelliJ

Provides a test rule that allows test case to set up mock server provides mock response
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Bump JetBrains products versions (#5852)
  WORKSPACE
Labels: awaiting-review

Implement IntellijExtCodeSearchApiClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/BUILD
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update glob validation to support allow_empty parameter
  base/src/com/google/idea/blaze/base/lang/buildfile/validation/GlobErrorAnnotator.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/validation/GlobValidationTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
