Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add data classes to support `watchBuild` in intellij-ext
  ext/proto/build_service.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Improvements to language class enums.
  base/src/com/google/idea/blaze/base/logging/utils/querysync/ProjectInfoStats.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/LanguageClasses.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/LanguageClassesTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/java/com/google/idea/blaze/qsync/project/language_class.proto
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include whether flags need values in info [
  third_party/bazel/src/main/protobuf/bazel_flags.proto
Labels: awaiting-review

Implement GetComposeLayoutInspectorJarToken in Blaze project system
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeToken.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeToken.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorInfo.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorTracker.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/NoAppInspectorBuiltException.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/artifact_tracker_data.proto
  querysync/java/com/google/idea/blaze/qsync/project/BlazeProjectDataStorage.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Generalize proto source dirs logic to include any non-Java sources.
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Ensure NDK support is enabled after building deps for cc targets.
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/cppimpl/BlazeNdkSupportEnabler.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement Duckie ChatBotModelService in intellijext
  ext/proto/chatbotmodel.proto
Labels: awaiting-review

Improve consistency of source handling.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
Labels: awaiting-review

Remove the subdir argument for android studio
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Export `android_studio.bzl`
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Remove unnecesary plugin_api directory
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Add watchBuild calls from Intellij-Ext client
  ext/proto/build_service.proto
Labels: awaiting-review

Set up experiment value for Blaze.getProjectType(Project) and ProjectConverterProvider
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ignore invalid build events
  ext/proto/build_service.proto
Labels: awaiting-review

Update changelog for release v2023.11.07.
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for v2023.11.07 release (#5611)
  CHANGELOG
Labels: awaiting-review

fix: Do not complete ignored directories
  base/src/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManager.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

rework null propagation for testing
  base/src/com/google/idea/blaze/base/model/primitives/WorkspaceRoot.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove unnecessary assignment
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Update assignees in templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: awaiting-review

Update assignees in templates (#5619)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: awaiting-review

Fix go debugging (#5585)
  golang/BUILD
  golang/src/com/google/idea/blaze/golang/run/BlazeGoDebugRunner.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/go/GoSdkCompat.java
Labels: awaiting-review, product: GoLand

Bump versions (#5586)
  WORKSPACE
Labels: awaiting-review

Fix an issue with generated headers handling in `build_dependencies.bzl`.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Automated rollback of commit 88642811d29453e84d2cd720daa1b72c25485042.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix clion sdkcompat package name
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
Labels: awaiting-review, product: CLion

Don't vary `ParsedBepOutput` behaviour based on query sync enabled-ness.
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change.
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Ignore intellij-specific code in clion's projectview
  clwb/clwb.bazelproject
Labels: awaiting-review, product: CLion

Fix clion sdkcompat package name (#5637)
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
Labels: awaiting-review, product: CLion

Pre-Canary 11 fixes
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
Labels: awaiting-review

Internal change.
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Pass -include compilation flags down to OC language model
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion

Pre Canary 11 fixes
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
Labels: awaiting-review

Implement WatchBuild in Intellij-ext
  ext/proto/build_service.proto
Labels: awaiting-review

Remove fail soft from ASwB canary version
  .bazelci/android-studio.yml
Labels: awaiting-review

Internal change.
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Add support for multiple versions
  intellij_platform_sdk/BUILD.android_studio232
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Internal change.
  aspect/testing/tests/src/com/google/idea/blaze/aspect/python/pytest/BUILD
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
