Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Use `equals` for enum equality test
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve creation of cache layouts and management of their directories.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/CacheDirectoryManager.java
  base/src/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/DelegatingCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Show detailed querysync info in the editor by default.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Normalize test structure for Canary 11 import
  aswb/BUILD
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/AvailableDebuggersTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/DebuggerInfoProviderTest.java
  aswb/tests/integrationtests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
Labels: awaiting-review

Remove android-studio-dev
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Fix test in BlazeJavaRunProfileStateTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Remove android-studio-dev
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Fix test in BlazeJavaRunProfileStateTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Fix CI (#5739)
  intellij_platform_sdk/build_defs.bzl
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Fix cpp sdkcompat for CLion v233
  cpp/sdkcompat/v233/BUILD
Labels: awaiting-review, product: CLion

Update CHANGELOG for v2023.11.21 release
  CHANGELOG
Labels: awaiting-review

Use the full artifact path inside `JavaSourcesArchiveCacheLayout`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix 'Non-blaze project is provided' error in GoLand
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Use the full artifact path inside `JavaSourcesArchiveCacheLayout`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Fix 'Non-blaze project is provided' error in GoLand (#5741)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Add internal only comment around run_binary_test
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

fix: Rename 'fast' run configurations to 'Fast Run' and 'Fast Debug' back
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildDebugExecutor.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildRunExecutor.java
Labels: awaiting-review, product: IntelliJ

Bump JetBrains products versions (#5740)
  WORKSPACE
Labels: awaiting-review

Escape regex-relevant characters in test filter
  golang/src/com/google/idea/blaze/golang/run/producers/GoTestContextProvider.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/producers/BlazeGoTestConfigurationProducerTest.java
  golang/tests/unittests/com/google/idea/blaze/golang/run/producers/GoTestContextProviderTest.java
Labels: awaiting-review, product: GoLand

fix: Rename 'fast' run configurations to 'Fast Run' and 'Fast Debug' back (#5743)
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildDebugExecutor.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildRunExecutor.java
Labels: awaiting-review, product: IntelliJ

Add some attribute type checks to build_dependencies.bzl
  aspect/build_dependencies.bzl
Labels: awaiting-review

Switch canary channel to be from android-build
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Handle null values for getSyncStatus
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use the full artifact path inside `JavaSourcesArchiveCacheLayout`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add internal only comment around run_binary_test
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Add some attribute type checks to build_dependencies.bzl
  aspect/build_dependencies.bzl
Labels: awaiting-review

Fix 'Non-blaze project is provided' error in GoLand (#5741)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Add checks to correctly ignore non-bazel projects
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review, product: GoLand

Enable NewBlazePackageAction for query sync
  base/src/com/google/idea/blaze/base/ide/NewBlazePackageAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ignore cc compilation info relating to targets no longer in the project.
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
Labels: awaiting-review

Add checks to correctly ignore non-bazel projects
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Add checks to correctly ignore non-bazel projects
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Remove build_flags from example
  examples/java/greetings_project/hello/hello.bazelproject
Labels: awaiting-review, product: IntelliJ

Fix 'Non-blaze project is provided' error in GoLand (#5741)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: awaiting-review, product: GoLand

Enable coroutine debugging tab for query sync
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/BazelKotlinxCoroutinesLibFinder.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/BlazeKotlinDebuggingSetupHandler.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinxCoroutinesLibFinder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix fast run with enabled bzlmod
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestEnvironmentCreator.java
Labels: awaiting-review, product: IntelliJ

Ignore cc compilation info relating to targets no longer in the project.
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
Labels: awaiting-review

Enable coroutine debugging tab for query sync
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/BazelKotlinxCoroutinesLibFinder.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/BlazeKotlinDebuggingSetupHandler.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinxCoroutinesLibFinder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix fast run with enabled bzlmod
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestEnvironmentCreator.java
Labels: awaiting-review, product: IntelliJ
