Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Bump JetBrains IDEs (#6288)
  WORKSPACE.bzlmod
Labels: awaiting-review

Provide customized debug flag for customized rule
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/src/com/google/idea/blaze/java/sync/source/JavaLikeLanguage.java
Labels: awaiting-review, product: IntelliJ

Require all `CppSupportChecker`s to allow cpp support.
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
Labels: awaiting-review, product: CLion

Add missing kt library kind when collecting android ide info
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Replace OCCommenter with CLanguageCommenter implementation
  cpp/src/com/google/idea/blaze/cpp/CLanguageCommenter.java
  cpp/src/com/google/idea/blaze/cpp/includes/IwyuPragmas.java
Labels: awaiting-review, product: CLion

Fix dependency source navigation with new artifact tracker.
  java/BUILD
  java/src/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinder.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinderTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactIndex.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
Labels: awaiting-review, product: IntelliJ

Path translations for the Python debugger command line
  python/src/META-INF/blaze-python.xml
  python/src/com/google/idea/blaze/python/run/BlazePyDebugHelperImpl.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
Labels: awaiting-review, product: IntelliJ

Automated rollback of commit 65e74336acd5b763f3eb53f481e9df864804dcfa.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Allow non-empty package prefixes when appropriate.
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencySrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarProjectUpdater.java
Labels: awaiting-review

fix(sync): Disable query-sync by default (#6210)
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: awaiting-review

Support embedded go_proto_library
  aspect/intellij_info_impl.bzl
  examples/go/with_proto/proto/BUILD.bazel
  examples/go/with_proto/proto/fooserver.proto
  examples/go/with_proto/proto/translators.go
Labels: awaiting-review, product: GoLand

[aspect] Add tests for go_proto_library
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/GoTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/fooserver.proto
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/setup.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/simple.go
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/translators.go
Labels: awaiting-review

Delete duplicated rules in WORKSPACE
  WORKSPACE.bzlmod
Labels: awaiting-review

Fix CI
  WORKSPACE.bzlmod
Labels: awaiting-review

Clean up unnecessary files and deps
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/setup.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/simple.go
Labels: awaiting-review

Address comments
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/GoTest.java
  examples/go/with_proto/proto/translators.go
Labels: awaiting-review, product: GoLand

(rebase) Support embedded go_proto_library (#6030)
  WORKSPACE.bzlmod
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/GoTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/fooserver.proto
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/translators.go
  examples/go/with_proto/proto/translators.go
Labels: awaiting-review, product: GoLand

Add missing `kt_android_library`
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Upgrade the version of AS 2023.2
  WORKSPACE
  aswb/sdkcompat/as232/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review

Implement StartBuild [
  third_party/bazel/src/main/protobuf/BUILD
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Add CC information to the artifact tracker state.
  querysync/java/com/google/idea/blaze/qsync/cc/CcIncludeDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/TargetBuildInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Add CC information to the artifact tracker state.
  querysync/java/com/google/idea/blaze/qsync/cc/CcIncludeDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/TargetBuildInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Fix querysync deps tests. Also add them to the `test_suite` to ensure they don't break again.
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
Labels: awaiting-review

Bump JetBrains IDEs (#6301)
  WORKSPACE.bzlmod
Labels: awaiting-review

Replace internal package
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Reduced the logging level for the stack traces produced when resolving external artifacts.
  base/src/com/google/idea/blaze/base/sync/workspace/ArtifactLocationDecoderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rework CC logic for the new artifact tracker.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcIncludeDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/ConfigureCcCompilation.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/deps/ConfigureCcCompilationTest.java
Labels: awaiting-review

Fix backwards compatibility support for AndroidIdeInfo
  aspect/build_dependencies.bzl
Labels: awaiting-review

Expose AndroidSdkInfo to bazel
  aspect/build_dependencies.bzl
Labels: awaiting-review

Unify handling of directories in the project artifact store.
  querysync/java/com/google/idea/blaze/qsync/cc/ConfigureCcCompilation.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/java/com/google/idea/blaze/qsync/java/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcs.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/ConfigureCcCompilationTest.java
Labels: awaiting-review

Fail gracefully when inputs or outputs are lost and rewinding is disabled.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Update BUILD
  maintenance/BUILD
Labels: awaiting-review

chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Reduced the logging level for the stack traces produced when resolving external artifacts. (#6310)
  base/src/com/google/idea/blaze/base/sync/workspace/ArtifactLocationDecoderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

chore: Bump JetBrains IDEs (#6312)
  WORKSPACE.bzlmod
Labels: awaiting-review

Read and route android assets form the aspect
  aspect/intellij_info_impl.bzl
  aswb/src/com/google/idea/blaze/android/sync/importer/BlazeAndroidWorkspaceImporter.java
  aswb/src/com/google/idea/blaze/android/sync/model/AndroidResourceModule.java
  aswb/src/com/google/idea/blaze/android/sync/projectstructure/BlazeAndroidProjectStructureSyncer.java
  base/src/com/google/idea/blaze/base/ideinfo/AndroidIdeInfo.java
  proto/intellij_ide_info.proto
  proto/project_data.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix resolving dependencies as gradle coordinates
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/projectsystem/DefaultMavenArtifactLocator.java
Labels: awaiting-review

Update logic to read external libraries
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/projectsystem/DefaultMavenArtifactLocator.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
Labels: awaiting-review

Add class content cache
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/projectsystem/ClassContentCache.java
  aswb/src/com/google/idea/blaze/android/projectsystem/ClassContentCacheImpl.java
Labels: awaiting-review
