Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Set up run configuration according to project type
  aswb/src/com/google/idea/blaze/android/run/runner/InstrumentationInfo.java
  base/src/com/google/idea/blaze/base/model/AspectSyncProjectData.java
  base/src/com/google/idea/blaze/base/model/BlazeProjectData.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
  base/src/com/google/idea/blaze/base/run/producers/BlazeBuildFileRunConfigurationProducer.java
  base/src/com/google/idea/blaze/base/run/producers/PendingWebTestContext.java
  base/src/com/google/idea/blaze/base/run/ui/TargetExpressionListUi.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Automated rollback of commit 5bf772a34e47ff3e193c1ee78cb21cfc73a54d8a.
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add build service support in intellij-ext
  ext/proto/BUILD
  ext/proto/build_service.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Add source folders for proto directory when needed
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/protoonly/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/protoonly/only.proto
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review

Add experiment for the build service in intellij-ext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Setup automatic desugaring for ASwB
  aswb/BUILD
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/projectsystem/DesugaringLibraryConfigFilesLocator.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeModuleSystemExternalDependencyIntegrationTest.java
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
Labels: awaiting-review

Enable Syntax highlighting for `MODULE.bazel`
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystemProvider.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystemProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildFile.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystemProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add IntellijExt Kythe definition and client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/kythe.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Disable some legacy C++ functionality for query sync projects.
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeLanguageKindCalculatorHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCppAutoImportHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCustomHeaderProvider.java
Labels: awaiting-review, product: CLion

Add utility for building converters for GraphToProjectConverterTest
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
Labels: awaiting-review

Add list of targets that are allowed to depend internally.
  build_defs/restrictions.bzl
Labels: awaiting-review

Update text for Query Sync settings
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Sync project according to project type
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  base/src/com/google/idea/blaze/base/settings/BlazeImportSettings.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
  base/tests/integrationtests/com/google/idea/blaze/base/settings/BlazeTest.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make blaze actions to check project type
  aswb/sdkcompat/as222/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/src/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributor.java
  aswb/src/com/google/idea/blaze/android/resources/actions/BlazeCreateResourceUtils.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  base/src/com/google/idea/blaze/base/run/testmap/ProjectSourceToTargetFinder.java
  base/tests/unittests/com/google/idea/blaze/base/run/testmap/TestMapTest.java
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
  java/src/com/google/idea/blaze/java/libraries/BlazeAttachSourceProvider.java
  java/src/com/google/idea/blaze/java/qsync/QuerySyncNavigationPolicy.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildSuggestion.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make PbLightClassSettings to check if current project type is supported
  base/src/com/google/idea/blaze/base/qsync/HandledRulesProvider.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add a new field to "bazel aquery" that reports scheduling dependencies.
  third_party/bazel/src/main/protobuf/analysis_v2.proto
Labels: awaiting-review

Partial rollback of commit ac7f9d693cdcec18ddf7d1774942674512857169.
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
  base/tests/integrationtests/com/google/idea/blaze/base/settings/BlazeTest.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add IntellijExt Experiments Service definition and client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/experiments.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for a linter API in intellijext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/linter.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Integrate with SkyLark C++ toolchain API.
  aspect/build_dependencies.bzl
  proto/cc_compilation_info.proto
Labels: awaiting-review

Make language related files check project type
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make BlazeProjectDataManager check project type
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make sync action switch to Blaze.getProjectType
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make sync and its related code check project type
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove QuerySync.isEnabled(project)
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
  base/src/com/google/idea/blaze/base/run/producers/BlazeBuildFileRunConfigurationProducer.java
  base/src/com/google/idea/blaze/base/run/producers/PendingWebTestContext.java
  base/src/com/google/idea/blaze/base/run/ui/TargetExpressionListUi.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeLanguageKindCalculatorHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCppAutoImportHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCustomHeaderProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable REQUIRED actions for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Mark package with BUILD.bazel file in completion (#5526)
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Force JarCache to be on on JarCache tests (#5530)
  java/tests/unittests/com/google/idea/blaze/java/libraries/JarCacheTest.java
Labels: awaiting-review, product: IntelliJ

Changes to support Iguana Canary 7
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/NonBlazeProducerConfigurationTest.java
Labels: awaiting-review, product: IntelliJ

Reverse query sync check in SyncStatusNodeDecorator
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update changelog for release v2023.10.24
  CHANGELOG
Labels: awaiting-review

Add placeholder code for populating CC information in the project proto.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcDependenciesInfo.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Calculate cc workspace information and add it to the project proto.
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.h
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.cpp
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.h
Labels: awaiting-review

Calculate cc workspace information and add it to the project proto.
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.h
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.cpp
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.h
Labels: awaiting-review

Modify artifact paths within `target_prebuilt_dep_descs` output directory.
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
Labels: awaiting-review, product: CLion

Configure the IJ project model for based on the output from a dependency build in the project proto.
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
Labels: awaiting-review, product: CLion

Handle null and empty resource package names of AARs
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleDependencies.java
Labels: awaiting-review

Update VCS state in NoopProjectRefresh
  querysync/java/com/google/idea/blaze/qsync/NoopProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/ProjectRefresher.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
Labels: awaiting-review

Import Android Studio 2023.2.1 Canary 7 (2023.2.1.7)
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/NonBlazeProducerConfigurationTest.java
Labels: awaiting-review, product: IntelliJ

Add third_party annotation library for qsync library
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
