Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove experiment value for application level query sync enabled
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Integrate with SkyLark C++ toolchain API.
  aspect/build_dependencies.bzl
  proto/cc_compilation_info.proto
Labels: awaiting-review

Update changelog for 2023.10.24
  CHANGELOG
Labels: awaiting-review

Make language related files check project type
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump to newest EAPs
  WORKSPACE
  plugin_dev/BUILD
  third_party/devkit/BUILD
Labels: awaiting-review

Add LanguageModel abstraction to support StudioBot
  aswb/BUILD
  aswb/src/com/google/idea/blaze/android/languagemodel/LanguageModel.java
  aswb/src/com/google/idea/blaze/android/languagemodel/ResponseChunker.java
  ext/proto/BUILD
  ext/proto/languagemodel.proto
Labels: awaiting-review

Make BlazeProjectDataManager check project type
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make sync action switch to Blaze.getProjectType
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make sync and its related code check project type
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Mark package with BUILD.bazel file in completion
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

cleanup: Ignore Jetbrains IDE files in examples
  .gitignore
Labels: awaiting-review

Remove QuerySync.isEnabled(project)
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
  base/src/com/google/idea/blaze/base/run/producers/BlazeBuildFileRunConfigurationProducer.java
  base/src/com/google/idea/blaze/base/run/producers/PendingWebTestContext.java
  base/src/com/google/idea/blaze/base/run/ui/TargetExpressionListUi.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCppAutoImportHelper.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCustomHeaderProvider.java
  cpp/src/com/google/idea/blaze/cpp/BlazeLanguageKindCalculatorHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Depend on upstream jna instead of the bundled one
  WORKSPACE
  testing/test_defs.bzl
Labels: awaiting-review

fix: Force JarCache to be on on JarCache tests
  java/tests/unittests/com/google/idea/blaze/java/libraries/JarCacheTest.java
Labels: awaiting-review, product: IntelliJ

fix: .bazelignore examples directory
  .bazelignore
Labels: awaiting-review

Add simple cc test project.
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcDependenciesInfo.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.h
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.cpp
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.h
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable REQUIRED actions for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump to newest EAPs (#5522)
  WORKSPACE
  plugin_dev/BUILD
  third_party/devkit/BUILD
Labels: awaiting-review

move 2023.3 to latest-stable
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Logged mdproxy and query sync user settings
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

logging extra query sync details
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStatsScope.java
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectListener.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable studio deployer experiment for Mac
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/StudioDeployerExperiment.java
Labels: awaiting-review

Continue unifying artifact handling
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename `ArtifactTrackerImpl.artifacts` to `javaArtifacts`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Tweak `BlazeProjectSnapshotBuilder.ProjectProtoTransform` to prepare for CC support.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add an entry point for registering `BlazeProjectListener`s.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/BlazeProjectListenerProvider.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add missing test cases to querysync_tests target.
  querysync/BUILD
Labels: awaiting-review

Logging query data usage
  base/src/com/google/idea/blaze/base/logging/utils/querysync/SyncQueryStats.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for building deps of cc targets, and reading the build artifacts.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputGroup.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/BUILD
  proto/artifact_tracker_data.proto
  proto/cc_compilation_info.proto
  querysync/java/com/google/idea/blaze/qsync/project/BlazeProjectDataStorage.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for `copts` and `built_in_include_directories`.
  aspect/build_dependencies.bzl
  proto/cc_compilation_info.proto
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc/BUILD
Labels: awaiting-review

Some readability improvements to `TestData`.
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Return the resource packages from the project and external dependencies to the class loader and rendering pipeline
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleDependencies.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/src/com/google/idea/blaze/android/resources/BlazeLightResourceClassService.java
Labels: awaiting-review

Add `Context` to the `ProjectProtoTransform` interface.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Check if query sync is enabled for specific project
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add some test utility code for constructing `BuildGraphData` instances based on a `TestData` project.
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review

Extract `framework_include_directories` in the aspect.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Make `simple_fixture` compatible with `--trim_test_configuration`.
  aspect/testing/rules/intellij_aspect_test_fixture.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctest/BUILD
Labels: awaiting-review

Always build java_imports
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
Labels: awaiting-review

Add start/end timestamps to ActionExecuted event protobuf.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Sync project according to project type
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  aswb/src/com/google/idea/blaze/android/sync/sdk/SdkUtil.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchProjectInitializer.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/autosync/AutoSyncHandler.java
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspacePathResolverProviderImpl.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
  base/src/com/google/idea/blaze/base/targetmaps/DelegatingSourceToTargetMap.java
  kotlin/src/com/google/idea/blaze/kotlin/run/debug/KotlinProjectTraversingService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
