Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Generalize proto source dirs logic to include any non-Java sources.
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Ensure NDK support is enabled after building deps for cc targets.
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/cppimpl/BlazeNdkSupportEnabler.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Reverse query sync check in SyncStatusNodeDecorator
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add placeholder code for populating CC information in the project proto.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcDependenciesInfo.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Calculate cc workspace information and add it to the project proto.
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass.h
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.cpp
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_multisrc/TestClass2.h
Labels: awaiting-review

Configure the IJ project model for based on the output from a dependency build in the project proto.
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
Labels: awaiting-review, product: CLion

Handle null and empty resource package names of AARs
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleDependencies.java
Labels: awaiting-review

Update VCS state in NoopProjectRefresh
  querysync/java/com/google/idea/blaze/qsync/NoopProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/ProjectRefresher.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
Labels: awaiting-review

Import Android Studio 2023.2.1 Canary 7 (2023.2.1.7)
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/NonBlazeProducerConfigurationTest.java
Labels: awaiting-review, product: IntelliJ

Add third_party annotation library for qsync library
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
Labels: awaiting-review

Enable IntellijExt experiments service if system property is set
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename some proto messages to make it clear that they're Java specific.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/artifact_tracker_data.proto
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename `BlazeProjectListener` method to make it fit what the method does better.
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProject.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectListener.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add action for building reverse dependencies for a file
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForDirectReverseDepsAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/transitiveinternaldep/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/transitiveinternaldep/TestClassTransiviteInternalDep.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Automated rollback of commit ba1bf5d981be855c06ad606397fb686a417fc30f.
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/StudioDeployerExperiment.java
Labels: awaiting-review

Implement ChatBot integration via IntellijExt
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/chatbotmodel.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Test integration testing support better
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Split `ArtifactTracker` interface
  aswb/src/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProvider.java
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ArtifactTrackerUpdateResult.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove test that no longer compiles
  aswb/BUILD
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/AswbRenderTaskTest.java
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.android_studio232
Labels: awaiting-review

Add support for serializing Any types to BEP's JSON transport.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Fix AS 2023.2 support in OSS plugin
  WORKSPACE
  intellij_platform_sdk/BUILD.android_studio232
Labels: awaiting-review

Write the action digest to the execution log also for cache misses.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Do not resolve source prefixes before checking against java sources
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/nestedproto/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/nestedproto/java/com/testdata/nestedproto/NestedProtoConsumer.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/nestedproto/java/com/testdata/nestedproto/proto/nested.proto
Labels: awaiting-review

Create QuerySyncActionStatsScope with factory methods
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStatsScope.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement Duckie ChatBotModelService in intellijext
  ext/proto/chatbotmodel.proto
Labels: awaiting-review

Show a warning to the user rather than crashing if there's no android facet when the workspace_type is android.
  aswb/src/com/google/idea/blaze/android/qsync/BlazeAndroidQuerySyncPlugin.java
Labels: awaiting-review

Add experiment to read artifact info files in parallel
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Moves decompression of android studio artifacts to build time
  intellij_platform_sdk/BUILD.android_studio232
Labels: awaiting-review

Add action for building reverse deps for working set
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  shared/BUILD
  shared/java/com/google/idea/blaze/common/vcs/VcsState.java
  shared/javatests/com/google/idea/blaze/common/vcs/BUILD
  shared/javatests/com/google/idea/blaze/common/vcs/VcsStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix the handling of the cc_headers inside `build_dependencies.bzl` to ensure it consistently uses a `depset`, rather than using a list in some cases and a `depset` in others.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Add a helper method to create DependenciesInfo.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Do not throw `IOException` from `OutputArtifactDestinationAndLayout`
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include all necessary sources in prebuild test data.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Serialize test sources from project definition to disk
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
Labels: awaiting-review

Try to compute working set when building dependencies
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerier.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add IDE notification logic to QuerySyncManager
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use externally available dependencies in `build_dependencies.bzl`
  aspect/build_dependencies.bzl
Labels: awaiting-review

Clean up `BlazeProjectSystem`
  aswb/sdkcompat/as222/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
Labels: awaiting-review

When adding source jars, check each top level dir for inner paths.
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/util/BUILD
  querysync/java/com/google/idea/blaze/qsync/util/GetJarRoots.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
Labels: awaiting-review

Move "is Xxxx rule kind" logic into `RuleKinds`.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
