Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Reworked according to PR suggestions
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/sync/data/BlazeDataStorage.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Do not suggest to add `.ijwb` and others to project view. (#5168)
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/sync/data/BlazeDataStorage.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Set up query sync settings page
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Rename build_config key to workspace_buildrc_file
  base/src/com/google/idea/blaze/base/projectview/section/sections/BuildConfigSection.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewCompletionTest.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Add internal intellij-ext implementation for google3
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtMenu.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtStatusAction.java
  base/src/com/google/idea/blaze/base/ext/StatusDialog.java
  ext/BUILD
  ext/proto/BUILD
  ext/proto/intellij-ext.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtServer.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
  ext/tests/com/google/idea/blaze/ext/IntelliJExtServiceTest.java
  ext/tests/com/google/idea/blaze/ext/IntelliJExtTestServer.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Proper check for git repository
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Show detailed querysync info in inspection widget by default.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Show detailed querysync info in inspection widget by default.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Fix detecting custom test_suite macros (#5184)
  base/src/com/google/idea/blaze/base/model/primitives/Kind.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Do not remove manually added source directories
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Refactor logic for resolving a source file to a target.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncSourceToTargetMap.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Delete `RetainedHeapLimiter`.
  third_party/bazel/src/main/protobuf/memory_pressure.proto
Labels: awaiting-review

Prepare BlazeModuleSystem for compat
  aswb/sdkcompat/as222/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
Labels: awaiting-review, product: Android Studio

Protect sync-before-build by an experiment
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Import Android Studio Dev (202307311854)
  aswb/sdkcompat/as222/com/google/idea/blaze/android/cppimpl/debug/BlazeAutoAndroidDebugger.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/cppimpl/debug/BlazeAutoAndroidDebugger.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/cppimpl/debug/BlazeAutoAndroidDebugger.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/cppimpl/debug/BlazeAutoAndroidDebugger.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/cppimpl/debug/BlazeAutoAndroidDebuggerBase.java
Labels: awaiting-review, product: Android Studio

Fix build exit code handling.
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Use '--keep_going' in query invocations.
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  querysync/java/com/google/idea/blaze/qsync/AffectedPackagesCalculator.java
  querysync/java/com/google/idea/blaze/qsync/PartialProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  querysync/javatests/com/google/idea/blaze/qsync/AffectedPackagesTest.java
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTestBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTestUtil.java
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Add UI to select a single target to build when there are several.
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Provide better implementation of new AndroidProjectSystem methods
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
Labels: awaiting-review, product: Android Studio

enable query sync settings page when use.query.sync flag is set
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Add handling in aspect for implementation_deps
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Include android manifests in the build graph.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/AndroidManifest.xml
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/scope_util.bzl
Labels: awaiting-review

Replace generic other_attributes with specific fields in Query.Summary proto.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: awaiting-review

Support `BUILD.bazel` files along `BUILD` in errors parsing
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/tests/unittests/com/google/idea/blaze/base/issueparser/BlazeIssueParserTest.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Support `BUILD.bazel` files along `BUILD` in errors parsing (#5206)
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/tests/unittests/com/google/idea/blaze/base/issueparser/BlazeIssueParserTest.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

Rename function and add docstring
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Registry key declaration
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

- Allow to suppress automatic Bazel project opening if `.ijwb` or so … (#5208)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

[
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Automated rollback of commit e9564668c7a619df7bd9290ecde4a9f3d78e34d8.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Update changelog for release v2023.08.15
  CHANGELOG
Labels: awaiting-review

Add TODO for BlazeCreateResourceUtils
  aswb/src/com/google/idea/blaze/android/resources/actions/BlazeCreateResourceUtils.java
Labels: awaiting-review, product: Android Studio

Enable full sync action for query sync
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: Android Studio, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: Android Studio':
- aswb/**/*
- base/**/*
- intellij_platform_sdk/BUILD.android_studio213
- intellij_platform_sdk/BUILD.android_studio221
- intellij_platform_sdk/BUILD.android_studio222
- intellij_platform_sdk/BUILD.android_studio223
- intellij_platform_sdk/BUILD.android_studio231
- intellij_platform_sdk/BUILD.android_studiodev

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/with_proto/**/*
- gazelle/**/*
- golang/**/*
