Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Re-implement merge source folders
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Disable some python logic for query sync.
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
Labels: awaiting-review, product: IntelliJ

Exclude `no-ide` targets from `ProjectSourceToTargetFinder`.
  base/src/com/google/idea/blaze/base/run/testmap/ProjectSourceToTargetFinder.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/tags/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/tags/TestClass.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Position package select popup next to editor notification
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update documentation.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Hide unused actions for query sync
  java/src/com/google/idea/blaze/java/libraries/DescribeLibraryAction.java
  java/src/com/google/idea/blaze/java/libraries/ExcludeLibraryAction.java
Labels: awaiting-review, product: IntelliJ

Support CompileFileAction for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeCompileFileAction.java
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support MakeProject action for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeMakeProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for generated in-project srcjars where the java package does not match the srcjar path.
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
Labels: awaiting-review

Add a comment intended for an earlier CL.
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
Labels: awaiting-review

Check for empty path before checking prefixes
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Enable the IDE to know the channel it was built from at runtime.
  common/experiments/BUILD
  common/experiments/src/com/google/idea/common/experiments/ExperimentServiceImpl.java
  common/experiments/tests/unittests/com/google/idea/common/experiments/ExperimentServiceImplTest.java
  common/util/BUILD
  common/util/src/com/google/idea/common/util/MorePlatformUtils.java
Labels: awaiting-review

Add special case support for single line generated java files to the package statement parser.
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/PackageStatementParser.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/PackageStatementParserTest.java
Labels: awaiting-review

Fix channel select logic to work for builds with `--define=ij_product=android-studio-2023.2` and the like.
  common/util/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Report test exit code
  third_party/bazel/src/main/protobuf/test_status.proto
Labels: awaiting-review

Use IJ `getExtension` instead of defining our own.
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Set test sources bit correctly for generated source jars.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/TestSourceGlobMatcher.java
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Reduce log spam caused my missing header paths.
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
Labels: awaiting-review

When adding to the project view, don't show a popup if there is only one option.
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add rule type to ExecutionGraph.Node.
  third_party/bazel/src/main/protobuf/execution_graph.proto
Labels: awaiting-review

Update Notifications usages in AddSourceToProjectHelper
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable "add file to project" banner for query sync
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement code search API in intellijext
  ext/proto/BUILD
  ext/proto/codesearch.proto
Labels: awaiting-review

Re-implement merge source folders
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Disable some python logic for query sync.
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
Labels: awaiting-review, product: IntelliJ

Exclude `no-ide` targets from `ProjectSourceToTargetFinder`.
  base/src/com/google/idea/blaze/base/run/testmap/ProjectSourceToTargetFinder.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/tags/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/tags/TestClass.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Position package select popup next to editor notification
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Show banner for newly added project files
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/NewFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG with 2 more fixes.
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2023.12.05.
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2023.12.05 release (#5801)
  CHANGELOG
Labels: awaiting-review

Fix
  .bazelrc
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/NoIdeTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/DependenciesTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/GenJarsTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/JavaBinaryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/JavaLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/ScalaBinaryTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/ArgumentCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionAttributeCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/CommonMacroCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/PackageReferenceTest.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/TargetExpressionTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/CandidatePackageFinderTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  kotlin/tests/integrationtests/com/google/idea/blaze/kotlin/run/producers/KotlinTestContextProviderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/aidl/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/kotlinandroidlib/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: Enable debugging the gazelle binary
  golang/src/com/google/idea/blaze/golang/GoBlazeRules.java
Labels: awaiting-review, product: GoLand

Fix
  MODULE.bazel.lock
  aswb/BUILD
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  clwb/BUILD
  cpp/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  MODULE.bazel.lock
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
  cpp/BUILD
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
Labels: awaiting-review, product: CLion

Fix
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: awaiting-review

Implemenent improved, more accurate calculation of android resource directories.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add Intellij-ext client for depserver
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/depserver.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move PopupPositioner to top-level class
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForDirectReverseDepsAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/PopupPositioner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
