Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Internal change
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  examples/kotlin/simple_coroutines_project/test/GreetingTest.kt
  java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix test
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

Migrate EventLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Remove repackaged dependency from g3plugins/citc
  build-visibility.bzl
Labels: awaiting-review

Enable a few more plugin libraries that can build in repo
  build-visibility.bzl
Labels: awaiting-review

Removed repackaged dependency from java/com/google/devtools/intellij/g3plugins/logging
  build-visibility.bzl
Labels: awaiting-review

Create RpcRetryHelper
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make IntellijLogEntryConverter use AutoConverter
  ext/proto/logentry.proto
Labels: awaiting-review

WIP final refactoring in google3
  ext/proto/logentry.proto
Labels: awaiting-review

Migrate LoggingServiceCallLogger to ij-ext
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  ext/proto/logentry.proto
  java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve error messages on restrictions.bzl failures
  build_defs/restrictions.bzl
Labels: awaiting-review

fix: exception when trying to import java project
  WORKSPACE
  aspect/tools/BUILD
Labels: awaiting-review

skyfocus: introduce FailureDetail category.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

fix: exception when trying to import java project (#6140)
  WORKSPACE
  aspect/tools/BUILD
Labels: awaiting-review

Rename `querysync/java/com/google/idea/blaze/qsync/build` package
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/build_output/BUILD
  querysync/java/com/google/idea/blaze/qsync/build_output/OutputGroup.java
  querysync/java/com/google/idea/blaze/qsync/build_output/OutputInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Enable two more plugin_libraries in repo
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Split GCL models from runtime dependencies
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Enable GCL library to compile in repo
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Update changelog for 2024.02.27 release
  CHANGELOG
Labels: awaiting-review

Added MODULE.bazel to isBazelWorkspace in AutoImportProjectOpenProcessor
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added BazelNotificationProvider to display import notification
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use path to workspace root as `pwd` for `buildifier`
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Merge `build` package into `deps`.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/GroupedOutputArtifacts.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/build/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/OutputGroup.java
  querysync/java/com/google/idea/blaze/qsync/deps/OutputInfo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move where intellij-ext is installed and expected by ASwB
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Migrate CompletionLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Change dependency restriction check to be only on intellij-ext
  build_defs/intellij_plugin.bzl
Labels: awaiting-review

Migrate ConfigurationLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Add check to verify what targets use public Guava APIs
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Add plugins to prevent dependencies on internal Guava
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  skylark/BUILD
  terminal/BUILD
Labels: awaiting-review, product: IntelliJ

Migrate EditingEventLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Move file refreshing logic into its own class.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/FileRefresher.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `getCcDependenciesInfo` an implementation detail of `ArtifactTrackerImpl`.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move file refreshing logic inside `ArtifactTrackerImpl` and simplify the API as a result.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ArtifactTrackerUpdateResult.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Migrate IdeArtifactStatsLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Migrate EditedFilesLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Implement IntellijExtECatcherClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Merge `build` package into `deps`.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/GroupedOutputArtifacts.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/build/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/OutputGroup.java
  querysync/java/com/google/idea/blaze/qsync/deps/OutputInfo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Allow annotation that can be removed with copybara
  build_defs/restrictions.bzl
Labels: awaiting-review

Use path to workspace root as `pwd` for `buildifier` (#6158)
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add Comments2Code protos for intellijext
  ext/proto/BUILD
  ext/proto/comments2code.proto
Labels: awaiting-review
