Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2024.01.02
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2024.01.02
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2024.01.02
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.01.02
  CHANGELOG
Labels: awaiting-review

Update changelog for 2024.01.02 (#5908)
  CHANGELOG
Labels: awaiting-review

Augment NoDependenciesBuiltException message for 'no such target' errors
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Change restrictions check to allow select
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Pass `log_dir` to intellij-ext to put intellij-ext log next to idea.log
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable DBiP on cloud-top via experiment
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunnerExperiments.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Refactor gRPC piper service client to support intellij-ext
  ext/proto/BUILD
  ext/proto/piper.proto
Labels: awaiting-review

Make expected pinging intellij-ext server failure not SEVERE
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Add presubmit tests and fix test
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Promote the current Hedgehog build to the stable channel
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Allow some native options to be marked as IMMUTABLE.
  third_party/bazel/src/main/protobuf/option_filters.proto
Labels: awaiting-review

Implement UpdateWorkspace method of Piper API service in intellij-ext with tests
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement ReadFiles method of Piper API service in intellij-ext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement ResolveConflicts method of Piper API service in intellij-ext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement GetChanges method of Piper API service in intellij-ext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make calculateTransitiveExternalDependencies iterative
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

Implement IntellijExtFileApiClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix test
  MODULE.bazel
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  ext/proto/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  MODULE.bazel.lock
  WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
Labels: awaiting-review

Rename BuildGraphTest to BuildGraphDataTest
  querysync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review

Intellij-ext implementation of findings service api client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/findings.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use source file labels for determining packages in query summary
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/empty/BUILD
Labels: awaiting-review

Implement Findings service in Intellij-ext
  ext/proto/BUILD
  ext/proto/codereview.proto
Labels: awaiting-review

Prepare intellij-ext codereview.proto
  ext/proto/BUILD
  ext/proto/codereview.proto
Labels: awaiting-review

Handle JavaBinaryContextProvider#getRunContext for query sync
  java/BUILD
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: awaiting-review, product: IntelliJ

Revert "Update intellij plugin to use modern provider"
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix Gazelle test
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: awaiting-review, product: GoLand

Revert "Update intellij plugin to use modern provider"
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Revert "Fix gazelle test (#5870)"
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: awaiting-review, product: GoLand

Add kt_stubby_library_helper to always build rules
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
Labels: awaiting-review

Treat the inability to load the Windows filesystem JNI as an error.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add a new config setting to build only the intellij-ext version
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Project extension points in tests
  testing/src/com/google/idea/testing/IntellijRule.java
  testing/src/com/google/idea/testing/ServiceHelper.java
Labels: awaiting-review

Change BuildGraphData#getAllSourceFiles to return a set
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Remove references to Scala provider
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Implement file api service for intellij-ext
  ext/proto/BUILD
  ext/proto/fileapi.proto
Labels: awaiting-review

Augment NoDependenciesBuiltException message for 'no such target' errors
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
