Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Capture the selection and file content when the refactoring action was triggered.
  ext/proto/logentry.proto
Labels: awaiting-review

Update BazelPluginProcessorJarTest.java (#6249)
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: awaiting-review

Move Bazel action state updates to BGT.
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump CLion (#6255)
  WORKSPACE.bzlmod
Labels: awaiting-review

Removes validation attributes and switch to map
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Add `BuildArtifactCache`.
  base/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  shared/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCache.java
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
  shared/javatests/com/google/idea/blaze/common/BUILD
  shared/javatests/com/google/idea/blaze/common/LoggingContext.java
  shared/javatests/com/google/idea/blaze/common/NoopContext.java
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestArtifactFetcher.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestOutputArtifact.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add `ProjectArtifactStore` and proto messages to define its contents.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/artifacts/ProjectArtifactStore.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdateTest.java
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix broken CI
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
Labels: awaiting-review

Remove dependencies on com.google.common.labs.concurrent
  build_defs/restrictions.bzl
Labels: awaiting-review

Refactor GrpcExceptionsUtils
  build_defs/restrictions.bzl
Labels: awaiting-review

Create external version of GrpcExceptionsUtils
  build_defs/restrictions.bzl
Labels: awaiting-review

Separate out Le3LogWriter
  build_defs/restrictions.bzl
Labels: awaiting-review

Improve UI consistency & discoverability for "enable analysis" actions.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForDirectReverseDepsAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove dependencies on "//java/com/google/common/labs/text"
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove RpcException from RpcErrorUtil
  build_defs/restrictions.bzl
Labels: awaiting-review

Make code proto3 compatible
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
Labels: awaiting-review

Add a flag for the new artifact management logic.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `Label` contructor private.
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  shared/java/com/google/idea/blaze/common/Label.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review, product: IntelliJ

Intern all labels.
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

Pass label names through the Label class when parsing query output.
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review

skyfocus: implement verification sets.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Rename Status to PerforceStatus to avoid collision with intellij-ext Status object
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/mail_change_rpc.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/upload_change_rpc.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Update intellij-ext to use the new protos
  ext/proto/BUILD
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement CitC operations in intellij-ext
  ext/proto/BUILD
  ext/proto/citc_operations.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Move linkification to intellij-ext and GoGrpc clients
  build_defs/restrictions.bzl
Labels: awaiting-review

Move `regurgitator.proto` to `//java` tree
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove "//util/task:codes_java_proto" for intellijperforceplugin
  build_defs/restrictions.bzl
Labels: awaiting-review

Update plugins that can be built in repo
  ext/proto/BUILD
Labels: awaiting-review

Remove dependency to java/com/google/devtools/intellij/g3plugins/services/grpc:state_provider
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove java/com/google/devtools/intellij/g3plugins/license for intellijext
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove unnecesary repackage
  build_defs/restrictions.bzl
Labels: awaiting-review

Do not use Google3 CitC file type enum
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove `bouncycastle` from `plugin_api` and the `plugin_api_for_tests`
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Update protos to support golang autoconverter
  ext/proto/BUILD
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/base.proto
  ext/proto/perforce/change.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/mail_change_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/presubmit.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/sync_files_rpc.proto
  ext/proto/perforce/upload_change_rpc.proto
  ext/proto/perforce/workspace.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Fix CI
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

Fix deadlock in `BuildTasksProblemsView`
  base/src/com/google/idea/blaze/base/ui/problems/BuildTasksProblemsView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move `getSnapshotDiff()` operation to `CitcOperations`
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove proto target and obsolete jar
  build_defs/restrictions.bzl
Labels: awaiting-review

Restructure CitcC related targets and registration
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove custom plugin and enable g3plugins
  build_defs/restrictions.bzl
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
