Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Update java example (#5701)
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/hello/hello.bazelproject
Labels: awaiting-review, product: IntelliJ

Add checks to correctly ignore non-bazel projects
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

WIP: Attempt to get cc_genhdr test case working
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

cc case in SyncedProjectTest.
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Generate module name from target for Live-Edit compilation
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
Labels: awaiting-review

Add checks to correctly ignore non-bazel projects
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump IntelliJ to Beta 2
  WORKSPACE
Labels: awaiting-review

Add checks to correctly ignore non-bazel projects
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump IntelliJ to Beta 2 (#5709)
  WORKSPACE
Labels: awaiting-review

Fix Fast test invocation to work when bzlmod is enabled
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
Labels: awaiting-review, product: IntelliJ

fix: Do not fail when setting a breakpoint in non-bazel project
  BUILD
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  skylark/BUILD
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
  skylark/tests/unittests/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtilsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include built cc targets in the set of live cached targets.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Forbid simultaneously requesting both a JSON and binary execution log.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add load time of action cache to statistics.
  third_party/bazel/src/main/protobuf/action_cache.proto
Labels: awaiting-review

feat: Add support for Starlark float literals (#5678)
  base/src/com/google/idea/blaze/base/lang/buildfile/highlighting/BuildSyntaxHighlighter.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuiltInNamesProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/BuildLexerBase.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/TokenKind.java
  base/src/com/google/idea/blaze/base/lang/buildfile/parser/ExpressionParsing.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementTypes.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementVisitor.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/FloatLiteral.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/BlazeLexerTest.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/HighlightingLexerTest.java
  skylark/src/com/google/idea/blaze/skylark/debugger/impl/SkylarkDebugValue.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Do not complete ignored directories (#5573)
  base/src/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManager.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/src/com/google/idea/blaze/base/model/primitives/WorkspaceRoot.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Prepare tests for Canary 11
  aswb/BUILD
  aswb/tests/unittests/com/google/idea/blaze/android/resources/actions/BlazeCreateResourceUtilsTest.java
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
Labels: awaiting-review

Add checks to correctly ignore non-bazel projects
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review, product: GoLand

Remove check for `target.aspect_ids`
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Fix NPE when accessing xcodeProperties
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolverResult.java
Labels: awaiting-review, product: CLion

Add IntellijExt Build Cleaner service definition and client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/build_cleaner.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix NPE when accessing xcodeProperties (#5714)
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolverResult.java
Labels: awaiting-review, product: CLion

Add an option to bypass source-transformation build rules.
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: awaiting-review

For in-project targets, use generated source jars instead of compiled jar files.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Log WorkerMetrics of killed workers in the BEP and why they were killed. Also include the number of actions executed of each worker process.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Replace path with project_path for source folders
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Extract srcjar inner path finder and stub creator utilities
  querysync/java/com/google/idea/blaze/qsync/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
Labels: awaiting-review

Attach project srcjars as content entries without extracting
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure srcjar attribute has files when building dependencies
  aspect/build_dependencies.bzl
Labels: awaiting-review

Use `equals` for enum equality test
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle non-bazel project in BlazeIntellijPluginConfigurationFactory (#5706)
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review

Fix 'Non-blaze project is provided' error in GoLand (#5704)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: GoLand

Handle non-bazel project in BlazeIntellijPluginConfigurationFactory (#5706)
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review

Fix 'Non-blaze project is provided' error in GoLand (#5704)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: GoLand

Canary 11 fixes (to be merged with the base CL)
  aswb/BUILD
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeAddDestinationMenuToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeNavDesignSurfaceToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/RenderErrorLoggingContributorCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BlazeNativeDebuggerAppContextProvider.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/AvailableDebuggersTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/DebuggerInfoProviderTest.java
  aswb/tests/integrationtests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Add `load()` statements for builtin Python rules/providers
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Update changelog for release v2022.11.21.
  CHANGELOG
Labels: awaiting-review

Update changelog for 2023.11.21
  CHANGELOG
Labels: awaiting-review

Improve creation of cache layouts and management of their directories.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/CacheDirectoryManager.java
  base/src/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/DelegatingCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Show detailed querysync info in the editor by default.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
