Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement cleaning in `BuildArtifactCache`.
  shared/java/com/google/idea/blaze/common/artifact/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCache.java
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestArtifactFetcher.java
Labels: awaiting-review

Fix thread leaks in intellij-ext service
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Adjust transformations for ext/proto package
  ext/proto/BUILD
Labels: awaiting-review

Check directory existence when creating query sync aspect file
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

cquery --output=proto: include more dependencies in `configured_rule_input`
  third_party/bazel/src/main/protobuf/build.proto
Labels: awaiting-review

Create only parent directories of the aspect file if missing
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

skyfocus: handle configuration changes and refactor SkyfocusModule state to use an immutable record stored in the SkyframeExecutor.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add missing PerforceStatus to Piper API response objects
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
Labels: awaiting-review

Add the remaining piper api methods to the intellij-ext service proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

provide use_query_sync session in project view
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/UseQuerySyncSection.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix: Silence false positive "No such target" errors for files in the project root (#6377)
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal cleanup
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Try to add not immediate parent for the file but more applicable folder based on the presence of `BUILD` file there
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve notification panel label to reflect better whatever is being done now when we add a file to project.
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix sync path after addition to project view
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix the notification
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Search for BUILD file only if derive_targets_from_directories is enabled
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Avoid overspecified test of getBuiltInIncludeDirectoryList().
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/CcToolchainTest.java
Labels: awaiting-review

Update CHANGELOG for v2024.04.09 release
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2024.04.09 release (#6372)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.04.09.
  CHANGELOG
Labels: awaiting-review

Automatic code cleanup.
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Bump JetBrains IDEs (#6382)
  WORKSPACE.bzlmod
Labels: awaiting-review

Expose build event stream and starlark debugging protos [
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/starlarkdebug/proto/BUILD
Labels: awaiting-review

Restored resolve _virtual_includes and added registry flag clangd includes
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixed android build
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
Labels: awaiting-review, product: CLion

Fixed BlazeCompilerSettingsTest
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: awaiting-review, product: CLion

Search for BUILD file only if derive_targets_from_directories is enabled
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix the notification
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix sync path after addition to project view
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Try to add not immediate parent for the file but more applicable folder based on the presence of `BUILD` file there
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve notification panel label to reflect better whatever is being done now when we add a file to project.
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix: Better labels and confimration dialog in 'Add to project'
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Also log citc snapshot and selection when the refactoring handler is started.
  ext/proto/logentry.proto
Labels: awaiting-review

Automatic code cleanup.
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Removed clangd mentions
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Removed obsolete registry flag to disable include collection hints
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  cpp/src/META-INF/blaze-cpp.xml
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added fix for NPE
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Changed default value for bazel.sync.collect.virtual.includes.hints to true
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
