Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Fix Git detection on Mac OS and Windows
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support CompileFileAction for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeCompileFileAction.java
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support MakeProject action for query sync
  base/src/com/google/idea/blaze/base/actions/BlazeMakeProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for generated in-project srcjars where the java package does not match the srcjar path.
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
Labels: awaiting-review

Add a comment intended for an earlier CL.
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
Labels: awaiting-review

Check for empty path before checking prefixes
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Enable the IDE to know the channel it was built from at runtime.
  common/experiments/BUILD
  common/experiments/src/com/google/idea/common/experiments/ExperimentServiceImpl.java
  common/experiments/tests/unittests/com/google/idea/common/experiments/ExperimentServiceImplTest.java
  common/util/BUILD
  common/util/src/com/google/idea/common/util/MorePlatformUtils.java
Labels: awaiting-review

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Mitigate StartupActivity warnings (#5760)
  base/src/com/google/idea/blaze/base/formatter/ExternalFormatterCodeStyleManager.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  clwb/src/com/google/idea/blaze/clwb/run/producers/NonBlazeProducerSuppressor.java
  golang/src/com/google/idea/blaze/golang/run/producers/NonBlazeProducerSuppressor.java
  java/src/com/google/idea/blaze/java/run/producers/NonBlazeProducerSuppressor.java
  javascript/src/com/google/idea/blaze/javascript/run/producers/NonBlazeProducerSuppressor.java
  python/src/com/google/idea/blaze/python/run/producers/NonBlazeProducerSuppressor.java
  scala/src/com/google/idea/blaze/scala/run/producers/NonBlazeProducerSuppressor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add special case support for single line generated java files to the package statement parser.
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/PackageStatementParser.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/PackageStatementParserTest.java
Labels: awaiting-review

Move run_configurations folder to the correct Go example (#5772)
  examples/go/with_go_source/run_configurations/test_macro_expansion.xml
Labels: awaiting-review, product: GoLand

Bump JetBrains products versions (#5788)
  WORKSPACE
Labels: awaiting-review

Support kt_android_local_test
  java/src/com/google/idea/blaze/java/AndroidBlazeRules.java
  java/src/com/google/idea/blaze/java/TargetKindUtil.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/fastbuild/AndroidLocalTestEnvironmentModifier.java
  java/src/com/google/idea/blaze/java/sync/source/AndroidJavaLikeLanguage.java
Labels: awaiting-review, product: IntelliJ

Expand kt_android_ support
  aspect/build_dependencies.bzl
  aspect/intellij_info_impl.bzl
  java/src/com/google/idea/blaze/java/AndroidBlazeRules.java
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review, product: IntelliJ

TryImport POC
  base/src/com/google/idea/blaze/base/projectview/ProjectViewSet.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TryImportSection.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

`try_import` instead of `import`
  base/src/com/google/idea/blaze/base/projectview/section/sections/TryImportSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Some tests for try_import
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/references/ProjectViewLabelReferenceTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

test fix
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pass environment variables from BlazeCidrLauncher down to bazel
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/run/processhandler/ScopedBlazeProcessHandler.java
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `PostQuerySyncData` a member of `BuildGraphData`.
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
Labels: awaiting-review

Fix channel select logic to work for builds with `--define=ij_product=android-studio-2023.2` and the like.
  common/util/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Report test exit code [
  third_party/bazel/src/main/protobuf/test_status.proto
Labels: awaiting-review

Use IJ `getExtension` instead of defining our own.
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Set test sources bit correctly for generated source jars.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/TestSourceGlobMatcher.java
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Reduce log spam caused my missing header paths.
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
Labels: awaiting-review

When adding to the project view, don't show a popup if there is only one option.
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use escaping as fallback on Windows
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use escaping as fallback on Windows
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2023.12.05 release
  CHANGELOG
Labels: awaiting-review

Escape regex-relevant characters in test filter (#5745)
  golang/src/com/google/idea/blaze/golang/run/producers/GoTestContextProvider.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/producers/BlazeGoTestConfigurationProducerTest.java
  golang/tests/unittests/com/google/idea/blaze/golang/run/producers/GoTestContextProviderTest.java
Labels: awaiting-review, product: GoLand

Add rule type to ExecutionGraph.Node.
  third_party/bazel/src/main/protobuf/execution_graph.proto
Labels: awaiting-review

Update Notifications usages in AddSourceToProjectHelper
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Hacky workaround to EDT requirement
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectImportBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable "add file to project" banner for query sync
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement code search API in intellijext
  ext/proto/BUILD
  ext/proto/codesearch.proto
Labels: awaiting-review

Fix
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  javascript/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/nested/inner/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  .bazelrc
  MODULE.bazel
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewParserIntegrationTest.java
  ijwb/tests/integrationtests/com/google/idea/blaze/ijwb/lang/projectview/ProjectViewCompletionTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  MODULE.bazel
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
Labels: awaiting-review

Fix
  .bazelrc
Labels: awaiting-review
