Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review

Update aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review

Update base/src/com/google/idea/blaze/base/projectview/ProjectView.java
  base/src/com/google/idea/blaze/base/projectview/ProjectView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Remove line calculation from print() methods
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/SectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlockSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Remove line calculation from print() methods
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6265 Remove redundant method
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Remove redundant method
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6265 Readd required method
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6265 Update comment
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6265 Update comment
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support Bazel rules_kotlin's toolchain without legacy providers
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

[
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/crash_debugging.proto
Labels: awaiting-review

Fix `@rules_java` `load()` statement in bundled bzl file
  aspect/BUILD
Labels: awaiting-review

Update CHANGELOG for v2024.04.23
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.04.23.
  CHANGELOG
Labels: awaiting-review

Update changelog for v2024.04.23 release (#6401)
  CHANGELOG
Labels: awaiting-review

Added dismiss action to import bazel notifications
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/wizard2/BazelDisableImportNotification.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  clwb/src/com/google/idea/blaze/clwb/BazelCMakeNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: disable bzlmod for"with_go_source" example
  examples/go/with_go_source/with_go_source.bazelproject
Labels: awaiting-review, product: GoLand

Import plugin_api for CLion 2023.3.
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Closes #6403 Fix remote development by reverting the thread type used for importing projects
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add default condition to channel select
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Deprecate unused return_default_workspace_if_missing.
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
  base/tests/unittests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  intellij_platform_sdk/BUILD.clion241
  intellij_platform_sdk/BUILD.ue241
  testing/src/com/google/idea/testing/TestUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Repro for https://github.com/bazelbuild/intellij/issues/6407
  examples/java/greetings_project/codegen_hello/BUILD
  examples/java/greetings_project/codegen_hello/src/resources/generation.properties
  examples/java/greetings_project/greeting_lib/BUILD
Labels: awaiting-review, product: IntelliJ

Update aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review

Bump JetBrains IDEs (#6411)
  WORKSPACE.bzlmod
  base/tests/unittests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  intellij_platform_sdk/BUILD.clion241
  intellij_platform_sdk/BUILD.ue241
  testing/src/com/google/idea/testing/TestUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for v2024.05.07
  CHANGELOG
Labels: awaiting-review

fix: disable bzlmod for"with_go_source" example (#6404)
  examples/go/with_go_source/with_go_source.bazelproject
Labels: awaiting-review, product: GoLand

Treat an IOException while logging a spawn as an error instead of a warning.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Avoid overspecified test of getBuiltInIncludeDirectoryList().
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/CcToolchainTest.java
Labels: awaiting-review

Automatic code cleanup.
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Expose build event stream and starlark debugging protos [
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/starlarkdebug/proto/BUILD
Labels: awaiting-review

Also log citc snapshot and selection when the refactoring handler is started.
  ext/proto/logentry.proto
Labels: awaiting-review

Automatic code cleanup.
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Automatic code cleanup.
  build_defs/intellij_plugin.bzl
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/includes.bzl
  testing/test_defs.bzl
Labels: awaiting-review

Move stardoc_output_proto and friends to Bazel's src/main/protobuf
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/stardoc_output.proto
Labels: awaiting-review

Implement SyncFiles method of Piper API in intellij-ext
  ext/proto/perforce/sync_files_rpc.proto
Labels: awaiting-review

Report Skyframe statistics on the BEP.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
