Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Filter IDE deploy info by path
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginDeployer.java
Labels: awaiting-review

Update toString key name
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifactWithoutDigest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update intellij plugin to use modern provider
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add missing generic parameters to `Context` where necessary,
  aswb/src/com/google/idea/blaze/android/sync/sdk/AndroidSdkFromProjectView.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/scope/output/IssueOutput.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
  querysync/java/com/google/idea/blaze/qsync/AffectedPackagesCalculator.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProject.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Split `DefaultCacheLayout` into an unzipping part, and the fallback behaviour into a key based layout.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/CacheDirectories.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayoutTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayoutTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/TestOutputArtifactInfo.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support kt_android and kt_android_local_test (bazelbuild/intellij PR import #5789)
  aspect/build_dependencies.bzl
  aspect/intellij_info_impl.bzl
  java/src/com/google/idea/blaze/java/AndroidBlazeRules.java
  java/src/com/google/idea/blaze/java/TargetKindUtil.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/fastbuild/AndroidLocalTestEnvironmentModifier.java
  java/src/com/google/idea/blaze/java/sync/source/AndroidJavaLikeLanguage.java
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review, product: IntelliJ

Provides a test rule that allows test case to set up mock server provides mock response
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement IntellijExtCodeSearchApiClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/BUILD
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Split cache layout operations of "determine final destination" and "create final destination".
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove `OutputArtifactDestination.getKey()` as it's no longer useful.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add builder class for `DelegatingCacheLayout`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/DelegatingCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

bazelrc: set java_runtime_version for builds too (#5836)
  .bazelrc
Labels: awaiting-review

Enable intellij-ext issuetracker service
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix gazelle test
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: awaiting-review, product: GoLand

fix: Don't throw "Non-blaze project is provided error" (#5864)
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
Labels: awaiting-review, product: IntelliJ

Fix gazelle test (#5870)
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: awaiting-review, product: GoLand

Update changelog for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

Update changelog for 2023.12.19 release (#5861)
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

Fix warnings when syncing a workspace containing a bazelignore file
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/unittests/com/google/idea/blaze/base/sync/projectview/TargetExpressionListTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Fixes
  .bazelversion
  MODULE.bazel.lock
  ext/BUILD
Labels: awaiting-review

Fixes
  WORKSPACE
Labels: awaiting-review

Fixes
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

Internal change
  CHANGELOG
  aspect/intellij_info_impl.bzl
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Create data classes for request/response objects of getChanges method of PiperApiClient
  CHANGELOG
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2023.12.19 release (#5872)
  CHANGELOG
Labels: awaiting-review

Migrate getWorkspaces and updateWorkspace methods of PiperApiClient to data classes to support migration to repo
  CHANGELOG
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Create data classes for request/response objects of resolveConflicts method of PiperApiClient
  CHANGELOG
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Create data classes for request/reponse objects of readFiles method of PiperApiClient
  CHANGELOG
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use resource bundle to set display name for user settings
  base/src/META-INF/blaze-base.xml
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update changelog for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

Handle UnsupportedOperationException
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix handling non-bazel projects
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
Labels: awaiting-review, product: IntelliJ

Internal Change
  examples/kotlin/simple_coroutines_project/test/GreetingTest.kt
Labels: awaiting-review, product: IntelliJ

Internal change
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Bump deps
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
  maven_install.json
Labels: awaiting-review

Add explicit handling of artifact conflicts.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Introduce a new compact execution log format.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
