Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Add `BuildArtifactCache`.
  base/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  shared/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCache.java
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
  shared/javatests/com/google/idea/blaze/common/BUILD
  shared/javatests/com/google/idea/blaze/common/LoggingContext.java
  shared/javatests/com/google/idea/blaze/common/NoopContext.java
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestArtifactFetcher.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestOutputArtifact.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add `ProjectArtifactStore` and proto messages to define its contents.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/artifacts/ProjectArtifactStore.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdateTest.java
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

2024.1 update: declare 2024.1 as stable (#6128)
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

fix: Enviroment Variables are not correctly inherited from system on MacOS
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Enviroment Variables are not correctly inherited from system on MacOS (#6164)
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Enviroment Variables are not correctly inherited from system on MacOS (#6164)
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Enviroment Variables are not correctly inherited from system on MacOS (#6164)
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix broken CI
  WORKSPACE
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
Labels: awaiting-review

Remove dependencies on com.google.common.labs.concurrent
  build_defs/restrictions.bzl
Labels: awaiting-review

Refactor GrpcExceptionsUtils
  build_defs/restrictions.bzl
Labels: awaiting-review

Create external version of GrpcExceptionsUtils
  build_defs/restrictions.bzl
Labels: awaiting-review

Separate out Le3LogWriter
  build_defs/restrictions.bzl
Labels: awaiting-review

chore: Bump JetBrains products versions
  WORKSPACE.bzlmod
  python/BUILD
  third_party/toml/BUILD
Labels: awaiting-review, product: IntelliJ

Improve UI consistency & discoverability for "enable analysis" actions.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForDirectReverseDepsAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Try to make the default projectview file a bit more user-friendly
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

chore: Bump JetBrains products versions (#6133)
  WORKSPACE.bzlmod
  python/BUILD
  third_party/toml/BUILD
Labels: awaiting-review, product: IntelliJ

Remove dependencies on "//java/com/google/common/labs/text"
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove RpcException from RpcErrorUtil
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove usage of internal Status class
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove Apache httpclient dependency
  build_defs/restrictions.bzl
Labels: awaiting-review

Update changelog for 2024.02.27 release (#6151)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.02.27.
  CHANGELOG
Labels: awaiting-review

Make code proto3 compatible
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
Labels: awaiting-review

Add a flag for the new artifact management logic.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add a flag for the new artifact management logic.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added getActionUpdateThread to all actions (#6101)
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtMenu.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtStatusAction.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  common/actions/src/com/google/idea/common/actions/ReplaceActionHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added registry key to disable fission flag (#6041)
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeGDBServerProvider.java
Labels: awaiting-review, product: CLion

Added MODULE.bazel to isBazelWorkspace in AutoImportProjectOpenProcessor (#6155)
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `Label` contructor private.
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  shared/java/com/google/idea/blaze/common/Label.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review, product: IntelliJ

Intern all labels.
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

Pass label names through the Label class when parsing query output.
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review

skyfocus: implement verification sets.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Remove piper data classes
  build_defs/restrictions.bzl
Labels: awaiting-review

Rename Status to PerforceStatus to avoid collision with intellij-ext Status object
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/mail_change_rpc.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/upload_change_rpc.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Update intellij-ext to use the new protos
  ext/proto/BUILD
  ext/proto/perforce/service.proto
Labels: awaiting-review

Fix unit test failure with bazel@head
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement CitC operations in intellij-ext
  ext/proto/BUILD
  ext/proto/citc_operations.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Move linkification to intellij-ext and GoGrpc clients
  build_defs/restrictions.bzl
Labels: awaiting-review

Move `regurgitator.proto` to `//java` tree
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove "//util/task:codes_java_proto" for intellijperforceplugin
  build_defs/restrictions.bzl
Labels: awaiting-review
