Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for v2024.03.26
  CHANGELOG
Labels: awaiting-review

Fix "No such target" errors on incremental sync (#6262)
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/tests/unittests/com/google/idea/blaze/base/issueparser/BlazeIssueParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Upgrade Beta and Stable channels
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/ccbinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cclibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/coptsmakevars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/alias/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/build/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/tags/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javaplugin/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalamacrolibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalatest/BUILD
  aswb/BUILD
  cpp/BUILD
  ext/proto/BUILD
  ijwb/BUILD
  intellij_platform_sdk/build_defs.bzl
  javascript/BUILD
  kotlin/BUILD
  scala/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Upgrade `rules_scala`
  WORKSPACE
Labels: awaiting-review

Set bazel version for bazel project
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BazelVersion.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/qsync/BazelVersionHandler.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
  querysync/java/com/google/idea/blaze/qsync/FullProjectUpdate.java
  querysync/java/com/google/idea/blaze/qsync/NoopProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/PartialProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/ProjectRefresher.java
  querysync/java/com/google/idea/blaze/qsync/RefreshParameters.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enclosing the aspect directory path in double quotation marks
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Upgrade `rules_scala`
  WORKSPACE.bzlmod
Labels: awaiting-review

Set bazel version for bazel project
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BazelVersion.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/qsync/BazelVersionHandler.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
  querysync/java/com/google/idea/blaze/qsync/FullProjectUpdate.java
  querysync/java/com/google/idea/blaze/qsync/NoopProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/PartialProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/ProjectRefresher.java
  querysync/java/com/google/idea/blaze/qsync/RefreshParameters.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add source file path/content to duckie
  ext/proto/chatbotmodel.proto
Labels: awaiting-review

Update CHANGELOG for v2024.03.26
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for v2024.03.26 (#6321)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.03.26
  CHANGELOG
Labels: awaiting-review

Change the external paths regexp to match the first 'external' occurrence
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackage.java
Labels: awaiting-review, product: GoLand

Expose login libraries from Android Studio
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Added example project
  examples/cpp/external_includes/external/BUILD
  examples/cpp/external_includes/external/WORKSPACE
  examples/cpp/external_includes/external/simple.cc
  examples/cpp/external_includes/external/simple.h
  examples/cpp/external_includes/project/.bazelrc
  examples/cpp/external_includes/project/BUILD
  examples/cpp/external_includes/project/WORKSPACE
  examples/cpp/external_includes/project/simple.cc
Labels: awaiting-review

Implement cleaning in `BuildArtifactCache`.
  shared/java/com/google/idea/blaze/common/artifact/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCache.java
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
  shared/javatests/com/google/idea/blaze/common/artifact/BuildArtifactCacheTest.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestArtifactFetcher.java
Labels: awaiting-review

fix: Replace zip with default Bazel zipper
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Add test case for packages named 'external'
  examples/go/with_proto/MODULE.bazel
  examples/go/with_proto/go/external/BUILD.bazel
  examples/go/with_proto/go/external/README.md
  examples/go/with_proto/go/external/external.go
  examples/go/with_proto/go/main.go
  examples/go/with_proto/go/main_test.go
Labels: awaiting-review, product: GoLand

Fix imports for go modules named "external" (#6325)
  examples/go/with_proto/MODULE.bazel
  examples/go/with_proto/go/external/BUILD.bazel
  examples/go/with_proto/go/external/README.md
  examples/go/with_proto/go/external/external.go
  examples/go/with_proto/go/main.go
  examples/go/with_proto/go/main_test.go
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackage.java
Labels: awaiting-review, product: GoLand

Expose login libraries from Android Studio
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Fix thread leaks in intellij-ext service
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Create mock Status proto object for testing conversion to PerforceStatus proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
Labels: awaiting-review

Implement DeleteChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement GetChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement GetClientContext method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement PatchChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement IntegrateFiles method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement UploadChangeToCritique method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement UpdateSwitchClient method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement GetAnnotations method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement ListSwitchClients method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement UpdateChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Adjust transformations for ext/proto package
  ext/proto/BUILD
Labels: awaiting-review

Implement RevertFiles method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement MailChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement ListWorkspaceFiles method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement ListDepotFiles method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement ListWorkspaces method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement MoveFiles method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

Implement ListChanges method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
