Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Automatic code cleanup.
  build_defs/intellij_plugin.bzl
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/includes.bzl
  testing/test_defs.bzl
Labels: awaiting-review

Move stardoc_output_proto and friends to Bazel's src/main/protobuf
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/stardoc_output.proto
Labels: awaiting-review

Feature flags for resolve virtual includes using heuristics or clangd (#6387)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

doc: Update info about Remote Development setup in readme
  README.md
Labels: awaiting-review

Apply review comments
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement SyncFiles method of Piper API in intellij-ext
  ext/proto/perforce/sync_files_rpc.proto
Labels: awaiting-review

Cherry-pick the renderjar aspect for building preview dependencies
  aspect/BUILD
  aspect/build_render_dependencies.bzl
Labels: awaiting-review

Fix debugger attachment to android process
  aswb/src/META-INF/aswb.xml
Labels: awaiting-review

Improve logic to find classes with no binary targets
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BinaryTargetClassFileFinder.java
Labels: awaiting-review

Minor bug fixes in binary target class file finder
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BinaryTargetClassFileFinder.java
Labels: awaiting-review

doc: Update info about Remote Development setup in readme (#6391)
  README.md
Labels: awaiting-review

#6370 Do not add line numbers on printing sections
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/SectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlockSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added invoke later call to import project action
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added invoke later call to import project action (#6395)
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: create "Add package" EditorNotificationPanel if derive_targets_from_directories is on (#6388)
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

refactor: Extract duplicated string to a variable
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

refactor: Extract duplicated string to a variable (#6397)
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Report Skyframe statistics on the BEP.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Added AdditionalActionProvider for CMake
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BazelCMakeNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added copyright to BazelImportCurrentProjectAction
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixed android build
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCMakeNotificationProvider.java
  cpp/src/META-INF/blaze-cpp.xml
Labels: awaiting-review, product: CLion

Added BazelNotificationProvider to display import notification
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Scala 3 version of the plugin
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Handle rules_jvm_external's processed_ prefix for jars in addition to header_
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Set up a Scala SDK that includes more than just the Scala Library and fix header_ bug from rules_jvm_external.
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Workaround for source jars
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Recognize scala 3 SDKs
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Mark all available scala SDKs as scala SDKs
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Don't replace parens with braces
  scala/src/com/google/idea/blaze/scala/run/Specs2Utils.java
Labels: awaiting-review, product: IntelliJ

Only mark highest SDK as scala SDK
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

Set the scala version on the scala SDK
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: awaiting-review, product: IntelliJ

temporary solution for test filter
  ijwb/ijwb.bazelproject
  scala/src/com/google/idea/blaze/scala/run/Specs2Utils.java
Labels: awaiting-review, product: IntelliJ

Internal change.
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/InstrumentationTestTargetIntegrationTest.java
Labels: awaiting-review

#6370 Handle duplicate sections and duplicate items
  base/src/com/google/idea/blaze/base/projectview/ProjectView.java
  base/src/com/google/idea/blaze/base/projectview/section/DirectoryLineMarkerProvider.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/Section.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Change the way current document is retrieved for compatibility
  base/src/com/google/idea/blaze/base/projectview/section/DirectoryLineMarkerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Handle targets with colons
  base/src/com/google/idea/blaze/base/projectview/section/DirectoryLineMarkerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix Intellij aspect integration tests setup
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/WORKSPACE
Labels: awaiting-review

Update changelog for v2024.04.23 release
  CHANGELOG
Labels: awaiting-review

Update aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review

Update aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review
