Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add enum for task origin of query sync operations
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Extract zipped java/kotlin files to package-based directory
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: Add support for Starlark float literals
  base/src/com/google/idea/blaze/base/lang/buildfile/highlighting/BuildSyntaxHighlighter.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuiltInNamesProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/BuildLexerBase.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/TokenKind.java
  base/src/com/google/idea/blaze/base/lang/buildfile/parser/ExpressionParsing.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementTypes.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementVisitor.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/FloatLiteral.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/BlazeLexerTest.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/HighlightingLexerTest.java
  skylark/src/com/google/idea/blaze/skylark/debugger/impl/SkylarkDebugValue.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove Android Studio 21.3
  intellij_platform_sdk/BUILD.android_studio213
Labels: awaiting-review

use the loaded junit version
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/hello/hello.bazelproject
Labels: awaiting-review, product: IntelliJ

add comment
  examples/java/greetings_project/hello/hello.bazelproject
Labels: awaiting-review, product: IntelliJ

Remove no longer needed file
  intellij_platform_sdk/BUILD.android_studio221
Labels: awaiting-review

Add support for zip archives
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Fix "Non-blaze project is provided" error (#5596)
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add checks for bazel projects in bazel-only code (#5658)
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add additional test
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/BlazeLexerTest.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/HighlightingLexerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Work around NPE for toolwindow (#5665)
  base/src/com/google/idea/blaze/base/toolwindow/TasksTreeConsoleView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change.
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v223/BUILD
  cpp/sdkcompat/v231/BUILD
  cpp/sdkcompat/v232/BUILD
Labels: awaiting-review, product: CLion

Fix an NPE when build deps for a cc target with generated sources.
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

Fix prebuilt output artifacts derived from output groups.
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

Don't commit the cc workspace update if the project has been disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Hide some actions in querysync that are not relevant there.
  base/src/com/google/idea/blaze/base/settings/ui/AddDirectoryToProjectAction.java
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAction.java
  java/src/com/google/idea/blaze/java/libraries/AttachSourceJarAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure that the compiler info cache session is always disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Disable Add To Project action for files not in local file system.
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Don't show QuerySyncPromo to IDEs other than studio
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle scenario where no render jars exist
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
Labels: awaiting-review

Support IPv4 in debugging
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Move CacheSalt into a separate proto definition file.
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/cache_salt.proto
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Move android studio dev to be archive based
  intellij_platform_sdk/BUILD.android_studiodev
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Allow to have non-existent entries in `projectview` that pointing to files that are optional and can be missing for some of the users.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/scope/ErrorCollector.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Stop including progress messages in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Stop including the walltime field in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Rename the remote_cache_hit field to cache_hit, which more accurately reflects its purpose.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Reordering of conditions for readability
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Obtain VirtualFile from PsiElement in project view if necessary
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add task origin to query sync stats and log
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStats.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add settings option to control auto-sync behavior
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add checks for bazel projects in bazel-only code (#5658)
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Expect double-`@`-prefixed labels in Bazel output
  shared/java/com/google/idea/blaze/common/Label.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review

Enable `OpenBlazeWorkspaceFileAction` for query sync.
  base/src/com/google/idea/blaze/base/ide/OpenBlazeWorkspaceFileAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle non-existing entries
  maintenance/maintenance.kt
Labels: awaiting-review

Handle non-bazel project in BlazeIntellijPluginConfigurationFactory
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review

Handle non-bazel project in BlazeIntellijPluginConfigurationFactory (#5706)
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: awaiting-review

Fix 'Non-blaze project is provided' error in GoLand
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: GoLand

Fix 'Non-blaze project is provided' error in GoLand (#5704)
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoImportResolver.java
Labels: awaiting-review, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
