Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Switch AS 2023.1 to use the archive
  intellij_platform_sdk/BUILD.android_studio231
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Switch AS 2022.3 to be archive based
  intellij_platform_sdk/BUILD.android_studio223
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Remove android studio dev build
  intellij_platform_sdk/BUILD.android_studio213
  intellij_platform_sdk/BUILD.android_studio221
  intellij_platform_sdk/BUILD.android_studio222
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

feat: Add visibility reference contributor
  WORKSPACE
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/BuildLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/FilePathLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/LabelRuleLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReference.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReferenceContributor.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReferenceProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/VisibilityCompletionTest.java
  cpp/BUILD
  sdkcompat/v233/BUILD
  third_party/go/BUILD
  third_party/python/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pass -include compilation flags down to OC language model (#5645)
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion

Remove the querysync cc flag.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the query sync beta experiment, and assume it's true.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update query sync settings logger to log the setting rather than the experiment value.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove most uses of `QuerySync.isEnabled()`.
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  base/src/com/google/idea/blaze/base/model/ProjectTargetData.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/sync/data/AspectSyncProjectDataManager.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Allow any project type to be opened, regardless of if query sync is enabled.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename `QuerySync.isEnabled` to `isDefaultForNewProjects`.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `CcProjectModelUpdateOperation` implement disposable.
  cpp/BUILD
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v223/BUILD
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/sdkcompat/v231/BUILD
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/sdkcompat/v232/BUILD
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Remove restart requirement when enabling/disabled query sync.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: Add visibility reference contributor (#5650)
  WORKSPACE
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/BuildLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/FilePathLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/LabelRuleLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReference.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReferenceContributor.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/VisibilityReferenceProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/VisibilityCompletionTest.java
  cpp/BUILD
  sdkcompat/v233/BUILD
  third_party/go/BUILD
  third_party/python/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure that the update operation is always disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Disable skylark debugger for non-bazel project
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review

Disable AdditionalLanguages notification for non-bazel projects
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add checks for bazel projects in bazel-only code (#5658)
  base/src/com/google/idea/blaze/base/lang/AdditionalLanguagesHelper.java
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move NDK related EP registration into `ndk_contents.xml`.
  aswb/src/META-INF/aswb.xml
  aswb/src/META-INF/ndk_contents.xml
Labels: awaiting-review

Add settings option to include working set when building deps
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStats.java
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStatsScope.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Small tidy up inside `Blaze.getProjectType`.
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove Android Studio 22.2
  intellij_platform_sdk/BUILD.android_studio222
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Remove an unused method.
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add file listener for automatic syncing
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Store sourcefile path in TargetsToBuild
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Expect double-`@`-prefixed labels in Bazel output
  shared/java/com/google/idea/blaze/common/Label.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review

Work around NPE for toolwindow
  base/src/com/google/idea/blaze/base/toolwindow/TasksTreeConsoleView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove fail soft for ASwB Canary
  .bazelci/android-studio.yml
Labels: awaiting-review

Simplify query sync enabled logic.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettingsExperimentLoader.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

extract and devkit
  maintenance/maintenance.kt
Labels: awaiting-review

fix maven coord
  maintenance/maintenance.kt
Labels: awaiting-review

Bump devkit, too
  WORKSPACE
Labels: awaiting-review

Add a rollout experiment for query sync default.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncBetaConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains products versions (#5667)
  WORKSPACE
Labels: awaiting-review

fix: Do not fail when setting a breakpoint in non-bazel project
  BUILD
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  skylark/BUILD
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
  skylark/tests/unittests/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtilsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

[aspect] Add tests for go_proto_library
  WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/GoTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/fooserver.proto
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/setup.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/simple.go
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/translators.go
Labels: awaiting-review

Support embedded go_proto_library
  aspect/intellij_info_impl.bzl
  examples/go/with_proto/proto/BUILD.bazel
  examples/go/with_proto/proto/fooserver.proto
  examples/go/with_proto/proto/translators.go
Labels: awaiting-review, product: GoLand

Delete duplicated rules in WORKSPACE
  WORKSPACE
Labels: awaiting-review

Remove fail soft for ASwB Canary (#5666)
  .bazelci/android-studio.yml
Labels: awaiting-review
