Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Do not throw `IOException` from `OutputArtifactDestinationAndLayout`
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include all necessary sources in prebuild test data.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Serialize test sources from project definition to disk
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
Labels: awaiting-review

Try to compute working set when building dependencies
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerier.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add IDE notification logic to QuerySyncManager
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Always add root srcjar for library sources
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
Labels: awaiting-review

Use externally available dependencies in `build_dependencies.bzl`
  aspect/build_dependencies.bzl
Labels: awaiting-review

Bump versions
  WORKSPACE
Labels: awaiting-review

Maintenance script - first version
  maintenance/BUILD
  maintenance/maintenance.kt
Labels: awaiting-review

Handle versions without minor
  maintenance/maintenance.kt
Labels: awaiting-review

233
  maintenance/maintenance.kt
Labels: awaiting-review

Clean up `BlazeProjectSystem`
  aswb/sdkcompat/as222/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
Labels: awaiting-review

Bump versions (#5586)
  WORKSPACE
Labels: awaiting-review

Fix go debugging in 2023.3
  golang/BUILD
  golang/src/com/google/idea/blaze/golang/run/BlazeGoDebugRunner.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/go/GoSdkCompat.java
Labels: awaiting-review, product: GoLand

Deduplicate `LanguageClass` enums in query sync code.
  base/src/com/google/idea/blaze/base/logging/utils/querysync/ProjectInfoStats.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/LanguageClasses.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/java/com/google/idea/blaze/qsync/project/language_class.proto
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Run the preparation task in read action context
  golang/src/com/google/idea/blaze/golang/run/BlazeGoDebugRunner.java
Labels: awaiting-review, product: GoLand

When adding source jars, check each top level dir for inner paths.
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/util/BUILD
  querysync/java/com/google/idea/blaze/qsync/util/GetJarRoots.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
Labels: awaiting-review

Move "is Xxxx rule kind" logic into `RuleKinds`.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review

Fix go debugging (#5585)
  golang/BUILD
  golang/src/com/google/idea/blaze/golang/run/BlazeGoDebugRunner.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/go/GoSdkCompat.java
Labels: awaiting-review, product: GoLand

Add android manifests as source
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/PackageStatementParser.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/AppManifest.xml
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/test/AndroidInstrumentationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/test/AndroidManifest.xml
Labels: awaiting-review

Add support for `watchBuild` in intellij-ext
  ext/proto/build_service.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Add unit tests for build service's util classes
  ext/proto/build_service.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Add data classes to support `watchBuild` in intellij-ext
  ext/proto/build_service.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

feat: Support gutter icons in `java_test_suite` (#5579)
  java/src/com/google/idea/blaze/java/JavaBlazeRules.java
  java/src/com/google/idea/blaze/java/TargetKindUtil.java
  java/src/com/google/idea/blaze/java/sync/source/JavaLikeLanguage.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Fix "Non-blaze project is provided" error
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix "slow operations exception" in welcome screen
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Allow multiple providers to contribute attribute specific references (#5507)
  base/src/com/google/idea/blaze/base/lang/buildfile/references/AttributeSpecificStringLiteralReferenceProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/AttributeSpecificStringLiteralReferenceProviderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improvements to language class enums.
  base/src/com/google/idea/blaze/base/logging/utils/querysync/ProjectInfoStats.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/LanguageClasses.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/LanguageClassesTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/java/com/google/idea/blaze/qsync/project/language_class.proto
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include whether flags need values in info [
  third_party/bazel/src/main/protobuf/bazel_flags.proto
Labels: awaiting-review

Update CHANGELOG for 2023.11.07 release
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for v2023.11.07 release
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2023.11.07 release
  CHANGELOG
Labels: awaiting-review

Bump to 2023.3 EAP 7
  WORKSPACE
Labels: awaiting-review

Fix missing "Bazel" item in main menu.
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for v2023.11.07 release
  CHANGELOG
Labels: awaiting-review

Bump to 2023.3 EAP 7 (#5593)
  WORKSPACE
Labels: awaiting-review

Fix "slow operations exception" in welcome screen (#5598)
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix missing "Bazel" item in main menu. (#5610)
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix "Non-blaze project is provided" error (#5596)
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement GetComposeLayoutInspectorJarToken in Blaze project system
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeToken.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeToken.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorInfo.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorTracker.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/NoAppInspectorBuiltException.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/artifact_tracker_data.proto
  querysync/java/com/google/idea/blaze/qsync/project/BlazeProjectDataStorage.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
