Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Replace build_file_path.
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Add CLion 2024.1 support
  intellij_platform_sdk/build_defs.bzl
  java/BUILD
  sdkcompat/BUILD
  third_party/go/BUILD
Labels: awaiting-review, product: IntelliJ

Add CLion 2024.1 support
  sdkcompat/BUILD
Labels: awaiting-review

Remove MockJdk references
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/BUILD
  testing/testcompat/v223/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v231/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v232/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v233/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review, product: IntelliJ

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat (#5968)
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/BUILD
  testing/testcompat/v223/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v231/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v232/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v233/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review, product: IntelliJ

Apply formatting comments
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/build_defs.bzl
  java/BUILD
  sdkcompat/BUILD
  third_party/go/BUILD
Labels: awaiting-review, product: IntelliJ

Include copyright headers in sdkcompat files
  cpp/sdkcompat/v241/BUILD
  intellij_platform_sdk/BUILD.clion241
  intellij_platform_sdk/BUILD.idea241
  intellij_platform_sdk/BUILD.ue241
  sdkcompat/v241/BUILD
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/PluginAdvertiserEditorNotificationProviderWrapperCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v241/com/google/idea/sdkcompat/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
Labels: awaiting-review, product: CLion

Add 2023.3 python plugin API
  third_party/python/BUILD
Labels: awaiting-review

Upgrade Iguana from Canary 14 to Beta 2
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributor.java
Labels: awaiting-review

Internal change
  WORKSPACE
  intellij_platform_sdk/BUILD.clion213
  intellij_platform_sdk/BUILD.clion221
  intellij_platform_sdk/BUILD.clion222
  intellij_platform_sdk/BUILD.idea213
  intellij_platform_sdk/BUILD.idea221
  intellij_platform_sdk/BUILD.idea222
  intellij_platform_sdk/BUILD.ue213
  intellij_platform_sdk/BUILD.ue221
  intellij_platform_sdk/BUILD.ue222
  sdkcompat/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Add IntellijExt Piper service defnition proto
  ext/proto/BUILD
  ext/proto/piper.proto
Labels: awaiting-review

Change canary version to point to Jellifish.
  WORKSPACE
  intellij_platform_sdk/BUILD.android_studio233
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Apply review comments
  base/BUILD
  common/actions/BUILD
  common/settings/BUILD
  kotlin/BUILD
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add Android Stidio 23.3 config to OSS
  WORKSPACE
  intellij_platform_sdk/BUILD.android_studio233
Labels: awaiting-review

Provide `ApplicationProjectContext` for any process
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContextProvider.java
  aswb/sdkcompat/as233/com/google/idea/blaze/android/run/BazelApplicationProjectContextProvider.java
Labels: awaiting-review

Update reload file action to be disabled when connected to a bazel debug target
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Automated rollback of commit eeb20cd4dd7c7e1fd28c5a6bd9109130f5eeae43.
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Do not reference empty jsr library in CLion 2024.1 build
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion241
Labels: awaiting-review

Add IntellijExt Piper service client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement GetWorkspaces method of Piper API service in intellij-ext
  ext/proto/piper.proto
Labels: awaiting-review

Update logo to svg
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
  base/src/icons/BlazeIcons.java
  base/src/resources/icons/bazel/logo.png
  base/src/resources/icons/bazel/logo@2x.png
  base/src/resources/icons/blaze/logo.png
  base/src/resources/icons/logo.svg
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix _virtual_includes handling for absolute strip_include_prefix paths
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add constants and a unit test
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add unit test for strip prefix with trailing slash
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Address comments
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationGenericHandlerIntegrationTest.java
  examples/go/with_proto/go/main_test.go
  examples/go/with_proto/run_configurations/test_env_vars.xml
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement JUnit5 support and parameterize tests
  examples/java/greetings_project/BUILD.bazel
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/greeting_lib/tests/com/example/junit4/GreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit4/ParameterizedGreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit5/GreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit5/ParameterizedGreetingTest.java
  examples/java/greetings_project/hi/hi.bazelproject
  examples/java/greetings_project/junit5_deps.bzl
  examples/java/greetings_project/maven_install.json
  java/src/com/google/idea/blaze/java/run/JUnitTestHeuristic.java
  java/src/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlags.java
  java/src/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducer.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/CombinedTestHeuristicTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/JUnitTestHeuristicTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsIntegrationTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestClassConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestMethodConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/MultipleJavaClassesTestContextProviderTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/utils/BlazeJUnitRunConfigurationProducerTestCase.java
  java/tests/integrationtests/com/google/idea/blaze/java/utils/JUnitTestUtils.java
  java/tests/unittests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsTest.java
Labels: awaiting-review, product: IntelliJ

feat: Capture main class for java tests
  aspect/fast_build_info.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
  java/src/com/google/idea/blaze/java/JavaBlazeRules.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildBlazeData.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  proto/fast_build_info.proto
Labels: awaiting-review, product: IntelliJ

feat: Use main class for fast tests if there is any
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestEnvironmentCreator.java
Labels: awaiting-review, product: IntelliJ

Fix CI
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
Labels: awaiting-review

Address comments
  java/src/com/google/idea/blaze/java/run/JUnitTestHeuristic.java
  java/src/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlags.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/MultipleJavaClassesTestContextProviderTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsTest.java
Labels: awaiting-review, product: IntelliJ

Add dynamic execution metrics.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Fix exception handler for gogrpc
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update android_studio_2023_1 version past EAP
  WORKSPACE
Labels: awaiting-review

Include appropriate 233 compat for PbSettingsUpdater
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Implement UpdateFileStates method of Piper API service in intellij-ext
  ext/proto/piper.proto
Labels: awaiting-review

Automated rollback of commit 2f45b594f8749c93e099c0ff6fbb0d7097558b8b.
  ext/proto/piper.proto
Labels: awaiting-review

Implement Intellij-ext Critique service
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/codereview.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: deadlock when more than one project is open and bazel.sync.detect.source.roots is enabled
  java/src/com/google/idea/blaze/java/sync/model/BlazeJarLibrary.java
Labels: awaiting-review, product: IntelliJ

Call setModel in 233 compat for ChangesListViewCreator
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
