Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Fix package reading for android manifest
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
Labels: awaiting-review

Enable compose experiment
  aswb/src/com/google/idea/blaze/android/compose/ExperimentComposeStatusProvider.java
Labels: awaiting-review

Add optional plugin dependency on android designer
  aswb/src/META-INF/aswb.xml
Labels: awaiting-review

Add binary target class file finder
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BinaryTargetClassFileFinder.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
Labels: awaiting-review

Fix path in test
  querysync/javatests/com/google/idea/blaze/qsync/java/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddProjectGenSrcJarsTest.java
Labels: awaiting-review

Automated rollback of commit ea8edb228a3a89203e4bbf76ca168638b2556af1.
  ext/src/com/google/idea/blaze/ext/mac/IntelliJExts.java
Labels: awaiting-review

Report the start of action execution in BEP
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Add compiled artifact class jars to the project proto.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdateOperation.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add dependency generated source jars to the project.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add checked-in source jars from dependencies to the project.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencySrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support for in-project generated srcjars.
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Support for in-project generated sources.
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcs.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Change default value for android resource package
  aspect/build_dependencies.bzl
Labels: awaiting-review

Fix bazel build error
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the previous proto for piper and re-enable fixed test
  ext/proto/piper.proto
Labels: awaiting-review

Add an extension point to support providing `ProjectProtoTransform` implementations.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectProtoTransformProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/ProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/deps/BuiltDependenciesSupplier.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support external android resources with the new artifact logic.
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AndroidManifestParser.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
Labels: awaiting-review

Reinstate android res packages functionality with new artifact tracker.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddAndroidResPackages.java
Labels: awaiting-review

Create a new class to store immutable artifact tracker state.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddAndroidResPackages.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/BuiltDependenciesSupplier.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix CI
  base/tests/utils/integration/com/google/idea/blaze/base/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix backwards compatibility support for AndroidIdeInfo
  aspect/build_dependencies.bzl
Labels: awaiting-review

Fix dependency source navigation with new artifact tracker.
  java/BUILD
  java/src/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinder.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinderTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactIndex.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
Labels: awaiting-review, product: IntelliJ

Automated rollback of commit 65e74336acd5b763f3eb53f481e9df864804dcfa.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Allow non-empty package prefixes when appropriate.
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddDependencySrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarProjectUpdater.java
Labels: awaiting-review

Add missing `kt_android_library`
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Upgrade the version of AS 2023.2
  WORKSPACE.bzlmod
  aswb/sdkcompat/as232/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review

Implement StartBuild [
  third_party/bazel/src/main/protobuf/BUILD
Labels: awaiting-review

Add CC information to the artifact tracker state.
  querysync/java/com/google/idea/blaze/qsync/cc/CcIncludeDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/TargetBuildInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Fix querysync deps tests. Also add them to the `test_suite` to ensure they don't break again.
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
Labels: awaiting-review

Replace internal package
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rework CC logic for the new artifact tracker.
  aswb/src/com/google/idea/blaze/android/qsync/AndroidProjectProtoTransform.java
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcIncludeDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/ConfigureCcCompilation.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddDependencySrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/AddProjectGenSrcsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/deps/ConfigureCcCompilationTest.java
Labels: awaiting-review

Fix backwards compatibility support for AndroidIdeInfo
  aspect/build_dependencies.bzl
Labels: awaiting-review

Expose AndroidSdkInfo to bazel
  aspect/build_dependencies.bzl
Labels: awaiting-review

Unify handling of directories in the project artifact store.
  querysync/java/com/google/idea/blaze/qsync/cc/ConfigureCcCompilation.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcCompilationInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdate.java
  querysync/java/com/google/idea/blaze/qsync/java/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencyAars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcJars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcs.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/ConfigureCcCompilationTest.java
Labels: awaiting-review

Fail gracefully when inputs or outputs are lost and rewinding is disabled.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Fix path in test
  querysync/javatests/com/google/idea/blaze/qsync/java/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddProjectGenSrcJarsTest.java
Labels: awaiting-review

Fix CI
  base/tests/utils/integration/com/google/idea/blaze/base/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update workspacename
  base/tests/utils/integration/com/google/idea/blaze/base/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Revert "Upgrade the version of AS 2023.2"
  WORKSPACE.bzlmod
  aswb/sdkcompat/as232/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review

Revert "Upgrade the version of AS 2023.2"
  WORKSPACE.bzlmod
  aswb/sdkcompat/as232/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review
