Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update plugins that can be built in repo
  ext/proto/BUILD
Labels: awaiting-review

Remove dependency to java/com/google/devtools/intellij/g3plugins/services/grpc:state_provider
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove java/com/google/devtools/intellij/g3plugins/license for intellijext
  build_defs/restrictions.bzl
Labels: awaiting-review

Update maintenance.kt
  maintenance/maintenance.kt
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

fix(build): Allow for targets outside of release channels (#5998)
  common/util/BUILD
  cpp/sdkcompat/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review, product: CLion

Bump JetBrains IDEs (#6195)
  WORKSPACE.bzlmod
Labels: awaiting-review

fix: Try to make the default projectview file a bit more user-friendly (#6175)
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove unnecesary repackage
  build_defs/restrictions.bzl
Labels: awaiting-review

Do not use Google3 CitC file type enum
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove `bouncycastle` from `plugin_api` and the `plugin_api_for_tests`
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Add tests not running in presubmit to test suites
  build_defs/restrictions.bzl
Labels: awaiting-review

Fix deadlock in `BuildTasksProblemsView`
  base/src/com/google/idea/blaze/base/ui/problems/BuildTasksProblemsView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move `getSnapshotDiff()` operation to `CitcOperations`
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove proto target and obsolete jar
  build_defs/restrictions.bzl
Labels: awaiting-review

Restructure CitcC related targets and registration
  build_defs/restrictions.bzl
Labels: awaiting-review

Partially rely on the `g3plugins/citc` to determine the working set
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove custom plugin and enable g3plugins
  build_defs/restrictions.bzl
Labels: awaiting-review

Added AdditionalActionProvider for CMake
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BazelCMakeNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added invokeLater dispatch for project creation
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update intellij-ext citc operations implementation
  ext/proto/citc_operations.proto
Labels: awaiting-review

Implement `GetSnapshotDiff` CitC operation in intellij-ext
  ext/proto/citc_operations.proto
Labels: awaiting-review

Fixed android build
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCMakeNotificationProvider.java
  cpp/src/META-INF/blaze-cpp.xml
Labels: awaiting-review, product: CLion

Added copyright to BazelImportCurrentProjectAction
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix(plugin_dev): Alert users they need the DevKit plugin to work on the codebase
  base/src/com/google/idea/blaze/base/sync/projectview/LanguageSupport.java
  base/tests/unittests/com/google/idea/blaze/base/sync/LanguageSupportTest.java
  javascript/tests/unittests/com/google/idea/blaze/javascript/BlazeJavascriptSyncPluginTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make intellij-ext build usable in google3
  ext/BUILD
Labels: awaiting-review

fix(sync): Disable query-sync by default
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement `CitcOperations` via `intellij-ext` citc operations service
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix until for EAP compat
  build_defs/stamp_plugin_xml.py
Labels: awaiting-review

Add empty implementation of new artifact trackers.
  base/src/com/google/idea/blaze/base/qsync/AppInspectorArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/AppInspectorArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Prevent the bazel plugin from being used for non-Android C++ development in Android Studio.
  aswb/BUILD
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/cppimpl/NdkCppSupportChecker.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/ClwbSupportsCpp.java
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v233/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Address comments
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move `TargetTree` to the shared package.
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  shared/BUILD
  shared/java/com/google/idea/blaze/common/TargetTree.java
  shared/javatests/com/google/idea/blaze/common/BUILD
  shared/javatests/com/google/idea/blaze/common/TargetTreeTest.java
Labels: awaiting-review

Automated rollback of commit 65c2b4dac80b33395b23b11fd9566c7ca0d2598a.
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review

Add a proto string interner.
  shared/BUILD
  shared/java/com/google/idea/blaze/common/StringInterner.java
  shared/java/com/google/idea/blaze/common/proto/BUILD
  shared/java/com/google/idea/blaze/common/proto/ProtoStringInterner.java
  shared/javatests/com/google/idea/blaze/common/proto/BUILD
  shared/javatests/com/google/idea/blaze/common/proto/ProtoStringInternerTest.java
  shared/javatests/com/google/idea/blaze/common/proto/test_message.proto
Labels: awaiting-review

Add `DependencyBuildContext` and include it in `OutputInfo`.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/deps/OutputInfo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Intern all strings in proto messages in the query summary.
  querysync/java/com/google/idea/blaze/qsync/query/BUILD
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review

Fix unit test failure with bazel@head (#6188)
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix until for EAP compat (#6212)
  build_defs/stamp_plugin_xml.py
Labels: awaiting-review

Fix until for EAP compat (#6212)
  build_defs/stamp_plugin_xml.py
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
