Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Introduce `--portable_paths` to `RunCommand`
  third_party/bazel/src/main/protobuf/command_server.proto
Labels: awaiting-review

Intern label strings.
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

Make a test visible to test suites
  shared/javatests/com/google/idea/blaze/common/proto/BUILD
Labels: awaiting-review

Make `ProtoStringInterner` static.
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  shared/java/com/google/idea/blaze/common/proto/ProtoStringInterner.java
  shared/javatests/com/google/idea/blaze/common/proto/ProtoStringInternerTest.java
Labels: awaiting-review

Intern protos strings and derived paths stored in artifact tracker state.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  shared/java/com/google/idea/blaze/common/Interners.java
  shared/java/com/google/idea/blaze/common/Label.java
  shared/java/com/google/idea/blaze/common/proto/ProtoStringInterner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Try to clean up test deps
  build_defs/restrictions.bzl
Labels: awaiting-review

Add remote output service proto [
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/bazel_output_service.proto
  third_party/bazel/src/main/protobuf/bazel_output_service_rev2.proto
Labels: awaiting-review

Move tests that can't run in repo out of common test suites
  build_defs/restrictions.bzl
Labels: awaiting-review

Clean up linter test dependencies
  build_defs/restrictions.bzl
Labels: awaiting-review

Split depserver gogrpc and intellij-ext tests
  build_defs/restrictions.bzl
Labels: awaiting-review

Make BEP sources public, for users that put the bazel repository in their WORKSPACE.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
Labels: awaiting-review

Remove dependency on devtools.Blueprint protos for parsing blueprint file
  ext/proto/BUILD
  ext/proto/blueprint.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Final changes to be able to compile g3plugins in repo
  build-visibility.bzl
  shared/javatests/com/google/idea/blaze/common/proto/test_message.proto
Labels: awaiting-review

Fix @rules_kotlin in the example project
  examples/kotlin/simple_project/BUILD
Labels: awaiting-review, product: IntelliJ

Update BUILD
  examples/kotlin/simple_coroutines_project/BUILD
Labels: awaiting-review, product: IntelliJ

Automatic code cleanup.
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Removed changes to Label.externalWorkspaceName
  base/src/com/google/idea/blaze/base/model/primitives/Label.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add skeleton for "bazel dump --memory=".
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Added support for @@ syntax in primitives.Label
  base/src/com/google/idea/blaze/base/model/primitives/Label.java
  base/src/com/google/idea/blaze/base/model/primitives/TargetExpression.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/LabelTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pass path associations as special compiler flags (#6007)
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement new artifact tracker.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/BuildArtifact.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/OutputInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/TargetBuildInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/deps/NewArtifactTrackerTest.java
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove blaze_integration_tests from test suites running in repo
  build_defs/restrictions.bzl
Labels: awaiting-review

Fix kotlin example projects (#6233)
  examples/kotlin/simple_coroutines_project/BUILD
  examples/kotlin/simple_project/BUILD
Labels: awaiting-review, product: IntelliJ

Fix failing CI
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Rollforward of https://github.com/bazelbuild/intellij/commit/eeb20cd4dd7c7e1fd28c5a6bd9109130f5eeae43: Update intellij plugin to use modern provider
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

New add-opens flags
  testing/test_defs.bzl
Labels: awaiting-review

Bump JetBrains IDEs (#6241)
  WORKSPACE.bzlmod
  testing/test_defs.bzl
Labels: awaiting-review

Add a plugin to log refactorings for ML training.
  ext/proto/logentry.proto
Labels: awaiting-review

fix(plugin_dev): Alert users they need the DevKit plugin to work on the codebase (#6198)
  base/src/com/google/idea/blaze/base/sync/projectview/LanguageSupport.java
  base/tests/unittests/com/google/idea/blaze/base/sync/LanguageSupportTest.java
  javascript/tests/unittests/com/google/idea/blaze/javascript/BlazeJavascriptSyncPluginTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support for `@@` syntax in label
  base/src/com/google/idea/blaze/base/model/primitives/Label.java
  base/src/com/google/idea/blaze/base/model/primitives/TargetExpression.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/LabelTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update excludes for Google3 to android repo copybara
  querysync/java/com/google/idea/blaze/qsync/artifacts/BuildArtifact.java
Labels: awaiting-review

Add repo-only import for assertThat
  querysync/javatests/com/google/idea/blaze/qsync/deps/NewArtifactTrackerTest.java
Labels: awaiting-review

Fix IntellijExts package name
  ext/src/com/google/idea/blaze/ext/mac/IntelliJExts.java
Labels: awaiting-review

Make sure test_validation builds its targets
  build_defs/restrictions.bzl
Labels: awaiting-review

Copy ASwB tests to repo
  aswb/BUILD
Labels: awaiting-review

Update BazelPluginProcessorJarTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: awaiting-review

Update changelog for 2024.03.12 release
  CHANGELOG
Labels: awaiting-review

Bump CLion
  WORKSPACE.bzlmod
Labels: awaiting-review

Small performance improvement to `CppSupportChecker`.
  aswb/src/com/google/idea/blaze/android/cppimpl/NdkCppSupportChecker.java
  clwb/src/com/google/idea/blaze/clwb/ClwbSupportsCpp.java
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v233/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion
