Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Some tidying up of `DependencyTracker` interface.
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
  base/src/com/google/idea/blaze/base/scope/BlazeContext.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/TargetsToBuild.java
  querysync/java/com/google/idea/blaze/qsync/util/CliContext.java
  querysync/javatests/com/google/idea/blaze/qsync/NoopContext.java
  shared/java/com/google/idea/blaze/common/Context.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move some build graph related logic from `DependencyTrackerImpl` into `BuildGraphData`.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/DependencyTrackingBehavior.java
  querysync/java/com/google/idea/blaze/qsync/project/RequestedTargets.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Clean up dropdown options in bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: awaiting-review

Clean up dropdown options in feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: awaiting-review

Remove spaces
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: awaiting-review

Clean up labels and remove extra spaces
  .github/advanced-issue-labeler.yml
Labels: awaiting-review

Remove harder runner step
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

Add quotes to prevent parsing issues
  .github/advanced-issue-labeler.yml
Labels: awaiting-review

Auto-add product-X labels to issues opened through the bug / FR template (#6029)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

Correct the root logger that handler to be added to
  sdkcompat/v213/BUILD
  sdkcompat/v213/aswb/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/codeinsight/LineWrappingUtil.java
  sdkcompat/v213/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/general/PluginAdvertiserEditorNotificationProviderWrapperCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LoggerWrapper.java
Labels: awaiting-review

Internal change
  WORKSPACE
Labels: awaiting-review

Add VCS state to the build result, and pass this through to `OutputInfo`.
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Separate codesearch service GoGrpc and intellij-ext (and other) tests
  aswb/BUILD
  build_defs/restrictions.bzl
Labels: awaiting-review

Add `bazel mod tidy` [
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

WIP
  build_defs/restrictions.bzl
Labels: awaiting-review

Fix _virtual_includes handling for absolute strip_include_prefix paths (#5969)
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Refactor project proto transforms.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/ProjectProtoTransform.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Separate `buildservice` grpc and ext tests
  aswb/BUILD
  build_defs/restrictions.bzl
Labels: awaiting-review

chore: Bump JetBrains dependencies
  WORKSPACE
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement ecatcher service for intellij-ext
  ext/proto/BUILD
  ext/proto/ecatcher.proto
Labels: awaiting-review

chore: Bump JetBrains dependencies (#6031)
  WORKSPACE
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Create java agent to check system directory existence before IDE startup
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make it possible to toggle cache key scrubbing by rule kind [
  third_party/bazel/src/main/protobuf/remote_scrubbing.proto
Labels: awaiting-review

Internal change.
  testing/test_defs.bzl
Labels: awaiting-review

Add protos and converters for intellij p4 client
  ext/proto/BUILD
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/base.proto
  ext/proto/perforce/change.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/mail_change.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/presubmit.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/sync_files_rpc.proto
  ext/proto/perforce/upload_snapshot_to_critique.proto
  ext/proto/perforce/workspace.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Add protos and converters for intellij p4 client
  ext/proto/BUILD
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/base.proto
  ext/proto/perforce/change.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/mail_change.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/presubmit.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/sync_files_rpc.proto
  ext/proto/perforce/upload_snapshot_to_critique.proto
  ext/proto/perforce/workspace.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Update changelog for 2024.02.13
  CHANGELOG
Labels: awaiting-review

Remove internal references from kythe service
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  skylark/BUILD
  terminal/BUILD
Labels: awaiting-review, product: IntelliJ

Improved BlazeTargetFilter regex to match more target names (#6021)
  base/src/com/google/idea/blaze/base/run/filter/BlazeTargetFilter.java
  base/tests/unittests/com/google/idea/blaze/base/run/filter/BlazeTargetFilterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Delete unused `g3plugins/citc/filewatcher/command.proto` and targets
  aswb/BUILD
  build_defs/restrictions.bzl
Labels: awaiting-review

Document that the compact execution log isn't guaranteed to be serialized in increasing ID order.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Include the digest hash function in the compact execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Report unresolved symlinks as such in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Rollback 601598274 and update service connection to uses grpcng package
  ext/proto/piper.proto
Labels: awaiting-review

Automatic code cleanup.
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review

Automatic code cleanup.
  ext/tests/com/google/idea/blaze/ext/IntelliJExtServiceTest.java
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/SrcJarProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
Labels: awaiting-review

Start refactoring logging service
  ext/proto/BUILD
  ext/proto/logentry.proto
Labels: awaiting-review

Correctly handle unresolved symlinks when they appear in the inputs.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Minor formatting improvement.
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove deprecated version as223
  aswb/tests/utils/sdkcompat/as223/com/android/ide/common/repository/GoogleMavenArtifactIdCompat.java
  aswb/tests/utils/sdkcompat/as223/com/android/tools/idea/sdk/IdeSdksCompat.java
  aswb/tests/utils/sdkcompat/as223/com/google/idea/blaze/android/functional/AndroidDeviceCompat.java
  aswb/tests/utils/sdkcompat/as223/com/google/idea/blaze/android/tools/idea/run/editor/AndroidDebuggerCompat.java
Labels: awaiting-review

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
