Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add android-studio-2023.3 to DIRECT_IJ_PRODUCTS
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Removes fileapi stubbyproxy implementation
  build_defs/restrictions.bzl
Labels: awaiting-review

Disable generated src jar collection by experiment
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2024.01.30
  CHANGELOG
Labels: awaiting-review

feat: Allow environment variables in run configurations (#5885)
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/run/processhandler/ScopedBlazeProcessHandler.java
  base/src/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonState.java
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationGenericHandlerIntegrationTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonStateTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  examples/go/with_proto/go/main_test.go
  examples/go/with_proto/run_configurations/test_env_vars.xml
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/greeting_lib/tests/com/example/EnvVarsTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/GreetingTest.java
  examples/java/greetings_project/hello/hello.bazelproject
  examples/java/greetings_project/hi/hi.bazelproject
  examples/java/greetings_project/hi/src/com/example/HiGreeter.java
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest.xml
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest_testEnvVars.xml
  examples/java/greetings_project/run_configurations/Bazel_test_greeting_lib_env_vars_test.xml
  examples/java/greetings_project/run_configurations/fragment.bazelproject
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunConfigState.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make some minor adjustments to the compact execution log format and document it better.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE
  golang/tests/integrationtests/com/google/idea/blaze/golang/resolve/BlazeGoAnnotatorTest.java
Labels: awaiting-review, product: GoLand

Bump JetBrains IDEs (#5992)
  WORKSPACE
  golang/tests/integrationtests/com/google/idea/blaze/golang/resolve/BlazeGoAnnotatorTest.java
Labels: awaiting-review, product: GoLand

Update IntellijExtChatBotModelTest to use updates to chatbotmodel.proto
  intellij_platform_sdk/build_defs.bzl
  testing/testcompat/v233/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
Labels: awaiting-review

Analyze runtime_deps in restrictions.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Register LinterApiClient implementations as extensions
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/ccbinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cclibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/coptsmakevars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/alias/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/build/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/tags/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javaplugin/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalamacrolibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalatest/BUILD
  aswb/BUILD
  clwb/BUILD
  common/ui/properties/BUILD
  cpp/BUILD
  dart/BUILD
  ext/proto/BUILD
  golang/BUILD
  ijwb/BUILD
  javascript/BUILD
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  python/BUILD
  scala/BUILD
  sdkcompat/BUILD
  skylark/BUILD
  terminal/BUILD
  testing/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Introduce `--emit_script_path_in_exec_request`, which for `--script_path` builds emits the `ExecRequest` over grpc with `ScriptPath` info.
  third_party/bazel/src/main/protobuf/command_server.proto
Labels: awaiting-review

Add sample project and integration tests for JavaBinaryContextProvider
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
Labels: awaiting-review, product: IntelliJ

Show error message when getting build shard failure
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update versions for ASwB channels
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Show different tooltip for build widget when there are no targets
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Upgrade Iguana from Canary 14 to Beta 2
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/src/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributor.java
Labels: awaiting-review

Add IntellijExt Piper service defnition proto
  ext/proto/BUILD
  ext/proto/piper.proto
Labels: awaiting-review

Provide `ApplicationProjectContext` for any process
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContextProvider.java
  aswb/sdkcompat/as233/com/google/idea/blaze/android/run/BazelApplicationProjectContextProvider.java
Labels: awaiting-review

Add IntellijExt Piper service client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/piper.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement GetWorkspaces method of Piper API service in intellij-ext
  ext/proto/piper.proto
Labels: awaiting-review

Add dynamic execution metrics.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Fix exception handler for gogrpc
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update android_studio_2023_1 version past EAP
  WORKSPACE
Labels: awaiting-review

Implement UpdateFileStates method of Piper API service in intellij-ext
  ext/proto/piper.proto
Labels: awaiting-review

Automated rollback of commit 2f45b594f8749c93e099c0ff6fbb0d7097558b8b.
  ext/proto/piper.proto
Labels: awaiting-review

Removes fileapi stubbyproxy implementation
  build_defs/restrictions.bzl
Labels: awaiting-review

Disable generated src jar collection by experiment
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make some minor adjustments to the compact execution log format and document it better.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Introduce `--emit_script_path_in_exec_request`, which for `--script_path` builds emits the `ExecRequest` over grpc with `ScriptPath` info.
  third_party/bazel/src/main/protobuf/command_server.proto
Labels: awaiting-review

Define and implement Intellij-ext Critique support in the IDE
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/codereview.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Define and implement Intellij-ext Critique support in the IDE
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/codereview.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
Labels: awaiting-review, product: CLion

Revert "Upgrade Iguana from Canary 14 to Beta 2"
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/src/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributor.java
Labels: awaiting-review

ASwB Canary from Iguana Beta 2 to Jellyfish Canary 3 and ASwB Beta
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Update CHANGELOG for 2024.01.30 release
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.01.30
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for 2024.01.30 (#5990)
  CHANGELOG
Labels: awaiting-review

Document that the compact execution log isn't guaranteed to be serialized in increasing ID order.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Fix formatting
  cpp/sdkcompat/BUILD
Labels: awaiting-review, product: CLion

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
