Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Normalize test structure for Canary 11 import
  aswb/BUILD
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/AvailableDebuggersTest.java
  aswb/tests/integrationtests/as223/com/google/idea/blaze/android/run/DebuggerInfoProviderTest.java
  aswb/tests/integrationtests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
Labels: awaiting-review

Internal change
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeAddDestinationMenuToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeNavDesignSurfaceToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/RenderErrorLoggingContributorCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BlazeNativeDebuggerAppContextProvider.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Cloned from CL 577008156 by 'g4 patch'. Import Android Studio 2023.2.1 Canary 11 (2023.2.1.11)
  WORKSPACE
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeAddDestinationMenuToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeNavDesignSurfaceToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/RenderErrorLoggingContributorCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BlazeNativeDebuggerAppContextProvider.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Switch canary channel to be from android-build
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Handle null values for getSyncStatus
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve consistency of source handling.
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
Labels: awaiting-review

Remove the subdir argument for android studio
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Export `android_studio.bzl`
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Remove unnecesary plugin_api directory
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Set up experiment value for Blaze.getProjectType(Project) and ProjectConverterProvider
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix an issue with generated headers handling in `build_dependencies.bzl`.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Automated rollback of commit 88642811d29453e84d2cd720daa1b72c25485042.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Don't vary `ParsedBepOutput` behaviour based on query sync enabled-ness.
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pre-Canary 11 fixes
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
Labels: awaiting-review

Internal change.
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Pre Canary 11 fixes
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as223/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextBase.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
Labels: awaiting-review

Implement WatchBuild in Intellij-ext
  ext/proto/build_service.proto
Labels: awaiting-review

Add support for multiple versions
  intellij_platform_sdk/BUILD.android_studio232
  intellij_platform_sdk/android_studio.bzl
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Switch AS 2023.1 to use the archive
  intellij_platform_sdk/BUILD.android_studio231
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Switch AS 2022.3 to be archive based
  intellij_platform_sdk/BUILD.android_studio223
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Remove the querysync cc flag.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the query sync beta experiment, and assume it's true.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update query sync settings logger to log the setting rather than the experiment value.
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove most uses of `QuerySync.isEnabled()`.
  aswb/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  base/src/com/google/idea/blaze/base/model/ProjectTargetData.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/sync/data/AspectSyncProjectDataManager.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusContributor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Allow any project type to be opened, regardless of if query sync is enabled.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectConverterProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename `QuerySync.isEnabled` to `isDefaultForNewProjects`.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `CcProjectModelUpdateOperation` implement disposable.
  cpp/BUILD
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v223/BUILD
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/sdkcompat/v231/BUILD
  cpp/sdkcompat/v231/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/sdkcompat/v232/BUILD
  cpp/sdkcompat/v232/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Remove restart requirement when enabling/disabled query sync.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure that the update operation is always disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Replace legacy struct providers with modern ones
  build_defs/build_defs.bzl
  build_defs/intellij_plugin_debug_target.bzl
Labels: awaiting-review

Move NDK related EP registration into `ndk_contents.xml`.
  aswb/src/META-INF/aswb.xml
  aswb/src/META-INF/ndk_contents.xml
Labels: awaiting-review

Add settings option to include working set when building deps
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStats.java
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStatsScope.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForWorkingSetAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Small tidy up inside `Blaze.getProjectType`.
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove Android Studio 22.2
  intellij_platform_sdk/BUILD.android_studio222
Labels: awaiting-review

Remove Android Studio 22.2
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

cpp sdkcompat for clion versions
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v233/BUILD
  cpp/sdkcompat/v233/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
Labels: awaiting-review, product: CLion

cpp sdkcompat for clion versions (#5738)
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v233/BUILD
  cpp/sdkcompat/v233/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
Labels: awaiting-review, product: CLion

Add enum for task origin of query sync operations
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add a rollout experiment for query sync default.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncBetaConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurableProvider.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Disable Add To Project action for files not in local file system.
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
