Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

feat: Allow environment variables in run configurations
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/run/processhandler/ScopedBlazeProcessHandler.java
  base/src/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonState.java
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  examples/java/greetings_project/hi/src/com/example/HiGreeter.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunConfigState.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add tests for autosyncing on file changes
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Subclass QuerySyncAsyncFileListener for tests
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Migrate scala rules to use modern providers instead of legacy
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Add a `ModificationTracker` for query sync projects.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  java/src/com/google/idea/blaze/java/qsync/QuerySyncNavigationPolicy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add test
  base/tests/integrationtests/com/google/idea/blaze/base/sync/ImportRootsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes
  MODULE.bazel
  MODULE.bazel.lock
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Fixes
  MODULE.bazel
  MODULE.bazel.lock
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
  aswb/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  clwb/BUILD
  cpp/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes
  aswb/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove more no longer used dependencies
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: awaiting-review

Internal change
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Fix warnings when syncing a workspace containing a bazelignore file (#5873)
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/integrationtests/com/google/idea/blaze/base/sync/ImportRootsTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/projectview/TargetExpressionListTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Removes buganizer grpcproxy implementation
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Fix
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/NoIdeTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/DependenciesTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/GenJarsTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/JavaBinaryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/JavaLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/ScalaBinaryTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/ArgumentCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionAttributeCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/CommonMacroCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/PackageReferenceTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewParserIntegrationTest.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/TargetExpressionTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/CandidatePackageFinderTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  ext/BUILD
  ijwb/tests/integrationtests/com/google/idea/blaze/ijwb/lang/projectview/ProjectViewCompletionTest.java
  intellij_platform_sdk/BUILD
  kotlin/tests/integrationtests/com/google/idea/blaze/kotlin/run/producers/KotlinTestContextProviderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: awaiting-review

Fix
  MODULE.bazel
Labels: awaiting-review

Fix
  MODULE.bazel.lock
  testing/test_defs.bzl
Labels: awaiting-review

Complete migrating code review services to extensions
  testing/src/com/google/idea/testing/IntellijRule.java
  testing/src/com/google/idea/testing/ServiceHelper.java
Labels: awaiting-review

Use resource bundle to set display name for user settings
  base/src/META-INF/blaze-base.xml
  base/src/resources/messages/pluginBundle.properties
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle UnsupportedOperationException
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal Change
  examples/kotlin/simple_coroutines_project/test/GreetingTest.kt
Labels: awaiting-review, product: IntelliJ

Add explicit handling of artifact conflicts.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Introduce a new compact execution log format.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Add tests for autosyncing on file changes
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Subclass QuerySyncAsyncFileListener for tests
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add a `ModificationTracker` for query sync projects.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  java/src/com/google/idea/blaze/java/qsync/QuerySyncNavigationPolicy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add kt_stubby_library_helper to always build rules
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
Labels: awaiting-review

Treat the inability to load the Windows filesystem JNI as an error.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add a new config setting to build only the intellij-ext version
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Update changelog for 2024.01.02
  CHANGELOG
Labels: awaiting-review

Fix bazel sync errors when using non-default convenience symlinks
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Begin migrating code review services to extensions
  testing/src/com/google/idea/testing/IntellijRule.java
  testing/src/com/google/idea/testing/ServiceHelper.java
Labels: awaiting-review

Project extension points in tests
  testing/src/com/google/idea/testing/IntellijRule.java
  testing/src/com/google/idea/testing/ServiceHelper.java
Labels: awaiting-review

Change BuildGraphData#getAllSourceFiles to return a set
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review

Remove references to Scala provider
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Implement file api service for intellij-ext
  ext/proto/BUILD
  ext/proto/fileapi.proto
Labels: awaiting-review

Show sync notification for files in packages with modified BUILD files
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/BuildFileUtils.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix bazel sync errors when using non-default convenience symlinks (#5910)
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
