Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixed android test
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
Labels: awaiting-review, product: CLion

Register BUILD file type directly
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystemProvider.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystemProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/BuildFileTypeFactory.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystemProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove aspect-tools dependency on the platform.
  WORKSPACE
  aspect/tools/BUILD
  build-visibility.bzl
  intellij_platform_sdk/BUILD
Labels: awaiting-review

perf: avoid scanning convenience symlink directories during initial import
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/BooleanSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/UseExclusionPatternsSection.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Replace `build_file_path`.
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Fixes compilation issues in repo
  BUILD
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/ArtifactLocationParserTest.java
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/OptionParserTest.java
  build-visibility.bzl
  build_defs/build_defs.bzl
  ext/BUILD
  querysync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
Labels: awaiting-review

Migrate IndexingLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Remove aspect-tools dependency on the platform. (#6102)
  WORKSPACE
  aspect/tools/BUILD
  build-visibility.bzl
  intellij_platform_sdk/BUILD
Labels: awaiting-review

Remove unnecessary qualification.
  base/src/com/google/idea/blaze/base/filecache/LocalFileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Enable five more plugin libraries to be built in repo
  build-visibility.bzl
Labels: awaiting-review

Bump JetBrains products versions (#6104)
  WORKSPACE
Labels: awaiting-review

Defer predefined filter instantiation to background
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move `OutputGroup`, `OutputInfo` into the qsync library.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/GroupedOutputArtifacts.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/build/BUILD
  querysync/java/com/google/idea/blaze/qsync/build/OutputGroup.java
  querysync/java/com/google/idea/blaze/qsync/build/OutputInfo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add some extra project stats to logged query sync project info.
  base/src/com/google/idea/blaze/base/logging/utils/querysync/ProjectInfoStats.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add "enable analysis for whole project" action.
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

perf: avoid scanning convenience symlink directories during initial import (#6094)
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/BooleanSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/UseExclusionPatternsSection.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Separate plain and htl messages in intellij-ext code review service (Part 1)
  ext/proto/codereview.proto
Labels: awaiting-review

Update PiperApiClient to use ide-internal protos
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/mail_change_rpc.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/upload_change_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Migrate Mercurial plugin's logging
  ext/proto/logentry.proto
Labels: awaiting-review

Allow copying of protobuf plugin via copybara
  base/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove dependencies on repackaged_google3_deps
  build-visibility.bzl
Labels: awaiting-review

Add all plugin libraries that we can build
  build-visibility.bzl
Labels: awaiting-review

Add protos and converters for remaining piper client methods
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/file_content_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/mail_change_rpc.proto
  ext/proto/perforce/resolve_conflicts_rpc.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/upload_change_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Add logging service experiment to ij-ext
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/logentry.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Register projectview file type directly
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/lang/projectview/language/ProjectViewFileTypeFactory.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added MODULE.bazel to valid workspace root files
  base/src/com/google/idea/blaze/base/bazel/BazelWorkspaceRootProvider.java
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

2024.1 update: declare 2024.1 as stable
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Move `ArtifactTracker` interface into the querysync lib in preparation for a new implementation that will live there.
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/FileRefresher.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/CleanDependencies.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinderTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix test dependency violations
  build_defs/restrictions.bzl
Labels: awaiting-review

Move `ATTACH_DEPS_SRCJARS` experiment into `QuerySync` class.
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Replace `IOException` with `BuildException` in `BlazeProjectListener`.
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProject.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectListener.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle ineffective rewinding for top-level outputs.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add prior actions executed and prior worker memory usage to worker metrics. This will allow us to calculate the actions executed / memory usage deltas as a result of that particular invocation.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Remove grpc hack
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE
  WORKSPACE.bzlmod
  ext/proto/BUILD
  maven_install.json
  non_module_deps.bzl
  tools/BUILD
  tools/java_grpc_library.bzl
Labels: awaiting-review

Bump bazel versions in integration tests
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

Revert one more line
  querysync/javatests/com/google/idea/blaze/qsync/testdata/grpc/BUILD
Labels: awaiting-review

Fix test
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix test
  MODULE.bazel
  MODULE.bazel.lock
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: awaiting-review

Added MODULE.bazel to valid workspace root files (#6127)
  base/src/com/google/idea/blaze/base/bazel/BazelWorkspaceRootProvider.java
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
