Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Import Android Studio 2023.2.1 Canary 14 (2023.2.1.14)
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeAddDestinationMenuToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeNavDesignSurfaceToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/RenderErrorLoggingContributorCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BlazeNativeDebuggerAppContextProvider.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Add unittest for SkylarkDebuggingUtils to check that no exception occurs for non-bazel projects (#5713)
  BUILD
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  skylark/BUILD
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
  skylark/tests/unittests/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtilsTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Handle errors in `.blazeproject` files more gracefully.
  aswb/tests/unittests/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProviderTest.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewManager.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewManagerImpl.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewSet.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/MockProjectViewManager.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove shift-hack from sync action.
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Require all subclasses of `BlazeProjectAction` to specify their query sync support status.
  base/src/com/google/idea/blaze/base/actions/BlazeCompileFileAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeMakeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  base/src/com/google/idea/blaze/base/ide/NewBlazePackageAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationAction.java
  java/src/com/google/idea/blaze/java/libraries/DescribeLibraryAction.java
  java/src/com/google/idea/blaze/java/libraries/DetachAllSourceJarsAction.java
  java/src/com/google/idea/blaze/java/libraries/ExcludeLibraryAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove project type warnings.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update `isReadyForAnalysis` logic for C++.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/DependencyTrackingBehavior.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/TestClass.h
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG with 2 more fixes.
  CHANGELOG
Labels: awaiting-review

Add keyboard shortcut to build deps tooltip
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable FileGitHubIssue for query sync
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable some actions for query sync
  base/src/com/google/idea/blaze/base/ide/NewBlazePackageAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Hide DetachAllSourceJarsAction and condition listener on legacy sync
  java/src/com/google/idea/blaze/java/libraries/DetachAllSourceJarsAction.java
Labels: awaiting-review, product: IntelliJ

Test CL for copybara
  WORKSPACE
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Import Android Studio 2023.2.1 Canary 14 in OSS ASwB
  WORKSPACE
Labels: awaiting-review

Add dependency on absl to fix CI
  WORKSPACE
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/BUILD
Labels: awaiting-review

Implement build cleaner service in intellij-ext
  ext/proto/build_cleaner.proto
Labels: awaiting-review

Fix `BlazeProjectSystemBuildManager$BuildCallbackPublisher` constructor signature
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeProjectSystemBuildManager.java
Labels: awaiting-review

Import Android Studio 2023.2.1 Canary 14 (2023.2.1.14)
  aswb/sdkcompat/as232/com/android/tools/rendering/RenderResultCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeAddDestinationMenuToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeNavDesignSurfaceToken.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/rendering/RenderErrorLoggingContributorCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BazelApplicationProjectContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/BlazeNativeDebuggerAppContextProvider.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/binary/mobileinstall/BlazeAndroidBinaryMobileInstallRunContextCompat.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/runner/BlazeAndroidRunContext.java
  aswb/sdkcompat/as232/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunContext.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/integrationtests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinderTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Handle errors in `.blazeproject` files more gracefully.
  aswb/tests/unittests/com/google/idea/blaze/android/sync/model/idea/BlazeClassJarProviderTest.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewManager.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewManagerImpl.java
  base/src/com/google/idea/blaze/base/projectview/ProjectViewSet.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/MockProjectViewManager.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove shift-hack from sync action.
  base/src/com/google/idea/blaze/base/sync/actions/FullSyncProjectAction.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Require all subclasses of `BlazeProjectAction` to specify their query sync support status.
  base/src/com/google/idea/blaze/base/actions/BlazeCompileFileAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeMakeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  base/src/com/google/idea/blaze/base/ide/NewBlazePackageAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationAction.java
  java/src/com/google/idea/blaze/java/libraries/DescribeLibraryAction.java
  java/src/com/google/idea/blaze/java/libraries/DetachAllSourceJarsAction.java
  java/src/com/google/idea/blaze/java/libraries/ExcludeLibraryAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove project type warnings.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update `isReadyForAnalysis` logic for C++.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/DependencyTrackingBehavior.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/TestClass.cc
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/TestClass.h
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add keyboard shortcut to build deps tooltip
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable FileGitHubIssue for query sync
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable some actions for query sync
  base/src/com/google/idea/blaze/base/ide/NewBlazePackageAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Hide DetachAllSourceJarsAction and condition listener on legacy sync
  java/src/com/google/idea/blaze/java/libraries/DetachAllSourceJarsAction.java
Labels: awaiting-review, product: IntelliJ

Import Android Studio 2023.2.1 Canary 14 in OSS ASwB
  WORKSPACE
Labels: awaiting-review

Add dependency on absl to fix CI
  WORKSPACE
  querysync/javatests/com/google/idea/blaze/qsync/testdata/cc_externaldep/BUILD
Labels: awaiting-review

Implement build cleaner service in intellij-ext
  ext/proto/build_cleaner.proto
Labels: awaiting-review

Fix `BlazeProjectSystemBuildManager$BuildCallbackPublisher` constructor signature
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeProjectSystemBuildManager.java
Labels: awaiting-review

Update CHANGELOG with suggestion
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for v2023.11.21 release (#5730)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2023.11.21
  CHANGELOG
Labels: awaiting-review

Update documentation.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Hide unused actions for query sync
  java/src/com/google/idea/blaze/java/libraries/DescribeLibraryAction.java
  java/src/com/google/idea/blaze/java/libraries/ExcludeLibraryAction.java
Labels: awaiting-review, product: IntelliJ

Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

Bump JetBrains products versions (#5769)
  WORKSPACE
Labels: awaiting-review

Mitigate StartupActivity warnings
  base/src/com/google/idea/blaze/base/formatter/ExternalFormatterCodeStyleManager.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  clwb/src/com/google/idea/blaze/clwb/run/producers/NonBlazeProducerSuppressor.java
  golang/src/com/google/idea/blaze/golang/run/producers/NonBlazeProducerSuppressor.java
  java/src/com/google/idea/blaze/java/run/producers/NonBlazeProducerSuppressor.java
  javascript/src/com/google/idea/blaze/javascript/run/producers/NonBlazeProducerSuppressor.java
  python/src/com/google/idea/blaze/python/run/producers/NonBlazeProducerSuppressor.java
  scala/src/com/google/idea/blaze/scala/run/producers/NonBlazeProducerSuppressor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move run_configurations folder to the correct Go example
  examples/go/with_go_source/run_configurations/test_macro_expansion.xml
Labels: awaiting-review, product: GoLand
