Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Add file listener for automatic syncing
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove Android Studio 21.3
  intellij_platform_sdk/BUILD.android_studio213
Labels: awaiting-review

Store sourcefile path in TargetsToBuild
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/TargetsToBuild.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Hide some actions in querysync that are not relevant there.
  base/src/com/google/idea/blaze/base/settings/ui/AddDirectoryToProjectAction.java
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAction.java
  java/src/com/google/idea/blaze/java/libraries/AttachSourceJarAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove an unused method.
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix an NPE when build deps for a cc target with generated sources.
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

Simplify query sync enabled logic.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettingsExperimentLoader.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add support for zip archives
  intellij_platform_sdk/android_studio.bzl
Labels: awaiting-review

Internal change.
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v223/BUILD
  cpp/sdkcompat/v231/BUILD
  cpp/sdkcompat/v232/BUILD
Labels: awaiting-review, product: CLion

Ensure that the compiler info cache session is always disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Remove no longer needed file
  intellij_platform_sdk/BUILD.android_studio221
Labels: awaiting-review

Don't commit the cc workspace update if the project has been disposed.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Stop including the walltime field in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Move CacheSalt into a separate proto definition file.
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/cache_salt.proto
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Support IPv4 in debugging
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: IntelliJ

Generate module name from target for Live-Edit compilation
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystem.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
Labels: awaiting-review

cc case in SyncedProjectTest.
  cpp/sdkcompat/v223/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdater.java
Labels: awaiting-review, product: CLion

Move android studio dev to be archive based
  intellij_platform_sdk/BUILD.android_studiodev
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Rename the remote_cache_hit field to cache_hit, which more accurately reflects its purpose.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Enable `OpenBlazeWorkspaceFileAction` for query sync.
  base/src/com/google/idea/blaze/base/ide/OpenBlazeWorkspaceFileAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Don't show QuerySyncPromo to IDEs other than studio
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Stop including progress messages in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Handle scenario where no render jars exist
  aswb/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/RenderJarClassFileFinder.java
Labels: awaiting-review

Add settings option to control auto-sync behavior
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Obtain VirtualFile from PsiElement in project view if necessary
  base/src/com/google/idea/blaze/base/syncstatus/QuerySyncNodeDecorator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add task origin to query sync stats and log
  base/src/com/google/idea/blaze/base/logging/utils/querysync/QuerySyncActionStats.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix Fast test invocation to work when bzlmod is enabled
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
Labels: awaiting-review, product: IntelliJ

Include built cc targets in the set of live cached targets.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Forbid simultaneously requesting both a JSON and binary execution log.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add load time of action cache to statistics.
  third_party/bazel/src/main/protobuf/action_cache.proto
Labels: awaiting-review

Prepare tests for Canary 11
  aswb/BUILD
  aswb/tests/unittests/com/google/idea/blaze/android/resources/actions/BlazeCreateResourceUtilsTest.java
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
Labels: awaiting-review

Remove check for `target.aspect_ids`
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Add IntellijExt Build Cleaner service definition and client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/build_cleaner.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add an option to bypass source-transformation build rules.
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: awaiting-review

For in-project targets, use generated source jars instead of compiled jar files.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Log WorkerMetrics of killed workers in the BEP and why they were killed. Also include the number of actions executed of each worker process.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Replace path with project_path for source folders
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Extract srcjar inner path finder and stub creator utilities
  querysync/java/com/google/idea/blaze/qsync/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/SrcJarProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/SrcJarProjectUpdaterTest.java
Labels: awaiting-review

Attach project srcjars as content entries without extracting
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  querysync/java/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdater.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GeneratedSourceProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Ensure srcjar attribute has files when building dependencies
  aspect/build_dependencies.bzl
Labels: awaiting-review
