Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Fixes
  WORKSPACE
Labels: awaiting-review

Prepare for 2024.1: convert kotlin's Sequence to java's Iterable
  kotlin/tests/unittests/com/google/idea/blaze/kotlin/sync/importer/KotlinSyncAugmenterTest.java
Labels: awaiting-review, product: IntelliJ

Prepare for 2024.1: convert kotlin's Sequence to java's Iterable (#5967)
  kotlin/tests/unittests/com/google/idea/blaze/kotlin/sync/importer/KotlinSyncAugmenterTest.java
Labels: awaiting-review, product: IntelliJ

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review, product: IntelliJ

wip2
  WORKSPACE
  common/actions/BUILD
  common/util/BUILD
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v241/BUILD
  cpp/sdkcompat/v241/BUILD~
  cpp/sdkcompat/v241/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  java/BUILD
  kotlin/BUILD
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Bump under dev versions
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

wip
  base/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

wip
  intellij_platform_sdk/BUILD
Labels: awaiting-review

wip2
  cpp/sdkcompat/v241/BUILD~
Labels: awaiting-review, product: CLion

wip
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

Prepare for 2024.1: convert kotlin's Sequence to java's Iterable (#5967)
  kotlin/tests/unittests/com/google/idea/blaze/kotlin/sync/importer/KotlinSyncAugmenterTest.java
Labels: awaiting-review, product: IntelliJ

wip
  WORKSPACE
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  testing/BUILD
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v241/com/google/idea/testing/TestRunnerUtilCompat.java
  testing/testcompat/v241/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  third_party/devkit/BUILD
  third_party/go/BUILD
  third_party/python/BUILD
Labels: awaiting-review

Bump under dev versions
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

wip2
  WORKSPACE
  common/actions/BUILD
  common/util/BUILD
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v241/BUILD
  cpp/sdkcompat/v241/BUILD~
  cpp/sdkcompat/v241/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  java/BUILD
  kotlin/BUILD
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Fixes
  WORKSPACE
  common/util/BUILD
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/build_defs.bzl
  java/BUILD
  sdkcompat/BUILD
  third_party/go/BUILD
Labels: awaiting-review, product: IntelliJ

Add 2024 support
  WORKSPACE
  common/util/BUILD
  intellij_platform_sdk/BUILD
  third_party/go/BUILD
  third_party/javascript/BUILD
Labels: awaiting-review

Handle jdk tests (one is still ignored)
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
Labels: awaiting-review, product: IntelliJ

wip2
  cpp/sdkcompat/v241/BUILD~
Labels: awaiting-review, product: CLion

wip
  base/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

wip
  intellij_platform_sdk/BUILD
Labels: awaiting-review

wip
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

wip ignore nonjdk test in 241
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
Labels: awaiting-review, product: IntelliJ

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review, product: IntelliJ

Add DevKit 233 support
  WORKSPACE
Labels: awaiting-review

Refactoring
  WORKSPACE
  intellij_platform_sdk/build_defs.bzl
  java/BUILD
  third_party/go/BUILD
Labels: awaiting-review, product: IntelliJ

Refactoring
  sdkcompat/BUILD
Labels: awaiting-review

Update versions for ASwB channels
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/BUILD
  testing/testcompat/v223/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v231/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review, product: IntelliJ

Prepare for 2024.1: Move Jdk Mock creation to testsdkcompat
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  testing/BUILD
  testing/testcompat/v223/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v231/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v232/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v233/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review, product: IntelliJ

Include android studio
  testing/BUILD
Labels: awaiting-review

wip2
  WORKSPACE
  common/actions/BUILD
  common/util/BUILD
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v241/BUILD
  cpp/sdkcompat/v241/BUILD~
  cpp/sdkcompat/v241/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  java/BUILD
  kotlin/BUILD
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Bump under dev versions
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

wip
  base/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

wip
  intellij_platform_sdk/BUILD
Labels: awaiting-review

wip (testcompat layer)
  testing/BUILD
  testing/testcompat/v241/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review

wip2
  cpp/sdkcompat/v241/BUILD~
Labels: awaiting-review, product: CLion

wip
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

Refactoring
  common/util/BUILD
  intellij_platform_sdk/build_defs.bzl
  java/BUILD
  third_party/go/BUILD
Labels: awaiting-review, product: IntelliJ

Show different tooltip for build widget when there are no targets
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Spaces instead of tabs in common/util/BUILD
  common/util/BUILD
Labels: awaiting-review
