Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement SubmitChange method of Piper API in intellij-ext
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
  ext/proto/perforce/sync_files_rpc.proto
Labels: awaiting-review

Update IntellijExtPiperApiClient to invoke the remaining methods of intellij-ext go binary
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
  ext/proto/perforce/sync_files_rpc.proto
Labels: awaiting-review

Update BlazeModuleSystemTest
  aswb/tests/unittests/sdkcompat/as223/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as231/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as232/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
  aswb/tests/unittests/sdkcompat/as233/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemTest.java
Labels: awaiting-review

Check directory existence when creating query sync aspect file
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add new gTech assignee
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: awaiting-review

Add in bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: awaiting-review

fix: Rely on the bazel zipper instead of zip
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Update assignee in issue templates (#6356)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: awaiting-review

Cherry-pick "Prevent the bazel plugin from being used for non-Android C++ development in Android Studio." (#6218)
  aswb/BUILD
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/cppimpl/NdkCppSupportChecker.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/ClwbSupportsCpp.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

cquery --output=proto: include more dependencies in `configured_rule_input`
  third_party/bazel/src/main/protobuf/build.proto
Labels: awaiting-review

Create only parent directories of the aspect file if missing
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

skyfocus: handle configuration changes and refactor SkyfocusModule state to use an immutable record stored in the SkyframeExecutor.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add missing PerforceStatus to Piper API response objects
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/patch_rpc.proto
Labels: awaiting-review

Add the remaining piper api methods to the intellij-ext service proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/service.proto
Labels: awaiting-review

provide use_query_sync session in project view
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/UseQuerySyncSection.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectBuilder.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6265 Add "Add Directory" button to the project view Add directory toggle checkboxes to the project view
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectoryLineMarkerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Closes #6265 Add target toggle checkboxes to the project view
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectoryLineMarkerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update README.md
  README.md
Labels: awaiting-review

Update README.md (#6366)
  README.md
Labels: awaiting-review

Update base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update base/src/com/google/idea/blaze/base/projectview/section/sections/DirectoryLineMarkerProvider.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectoryLineMarkerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Extend "Known Limitations" in README.md
  README.md
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Bump JetBrains IDEs (#6368)
  WORKSPACE.bzlmod
Labels: awaiting-review

Extend "Known Limitations" in README.md (#6367)
  README.md
Labels: awaiting-review

Closes #6370 Add line numbers to text blocks and sections. Create removeAll() method to remove all the instances of an item regardless of the line number
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/projectview/parser/ParseContext.java
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/DirectoryLineMarkerProvider.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/Section.java
  base/src/com/google/idea/blaze/base/projectview/section/SectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ItemOrTextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TargetSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlockSection.java
  base/src/com/google/idea/blaze/base/wizard2/GenerateFromBuildFileSelectProjectViewOption.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  python/src/com/google/idea/blaze/python/sync/BlazePythonSyncPlugin.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Closes #6370 Add line numbers to text blocks and sections. Create removeAll() method to remove all the instances of an item regardless of the line number
  MODULE.bazel.lock
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/projectview/parser/ParseContext.java
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/Section.java
  base/src/com/google/idea/blaze/base/projectview/section/SectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ItemOrTextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TargetSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlockSection.java
  base/src/com/google/idea/blaze/base/wizard2/GenerateFromBuildFileSelectProjectViewOption.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  python/src/com/google/idea/blaze/python/sync/BlazePythonSyncPlugin.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Revert local change
  MODULE.bazel.lock
Labels: awaiting-review

Fix Android SDK Platform section
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
Labels: awaiting-review

Fix Android SDK Platform section Add new section items with dummy line number
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix list parser test
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Fix parsing
  base/src/com/google/idea/blaze/base/projectview/ProjectView.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/Section.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2024.04.09 release
  CHANGELOG
Labels: awaiting-review

Fix: Ensure .projectview exclusion rules apply only to specified directories
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix: Ensure .projectview exclusion rules apply only to specified directories (#6376)
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

#6370 Remove redundant method Add constant for temporary line numbers
  base/src/com/google/idea/blaze/base/projectview/ProjectView.java
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TargetSection.java
  base/src/com/google/idea/blaze/base/wizard2/GenerateFromBuildFileSelectProjectViewOption.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update base/src/com/google/idea/blaze/base/projectview/ProjectView.java
  base/src/com/google/idea/blaze/base/projectview/ProjectView.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Path translations for the Python debugger command line
  python/src/META-INF/blaze-python.xml
  python/src/com/google/idea/blaze/python/run/BlazePyDebugHelperImpl.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
Labels: awaiting-review, product: IntelliJ

Fix: Silence false positive "No such target" errors for files in the project root
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
