Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Pass --override_repository flag to all commands run from the plugin.
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix android studio tests
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix AS tests
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
Labels: awaiting-review

Missing semicolon
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
Labels: awaiting-review

Remove unused method "getAspectFlags()"
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
Labels: awaiting-review

Convert to optional
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

perf: Pass --override_repository flag to all commands for faster analysis phase (#6453)
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

De-virtualize path strings in the `ConvenienceSymlinksIdentified` BEP event.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Emit function param's role in starlark_doc_extract proto output
  third_party/bazel/src/main/protobuf/stardoc_output.proto
Labels: awaiting-review

Add `ExtendableBazelProjectCreator` class
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Modify `BlazeVcsHandlerProvider$handlesProject`
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerCache.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

De-virtualize path strings in the `ConvenienceSymlinksIdentified` BEP event.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Editor notification on bazel files if the project is not imported (#6153)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/wizard2/BazelDisableImportNotification.java
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Test IntelliJ Aspect
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Add ij-ext implementation of LE3 logs writer.
  ext/proto/logentry.proto
Labels: awaiting-review

Implement working set derivation from PROJECT.scl.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

fix: Default to project name to workspace name instead of root directory
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

TO UPSTREAM: Mark saveAllFiles as a WriteAction
  base/src/com/google/idea/blaze/base/util/SaveUtil.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix(output): Ignore sync errors in excluded directories
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/src/com/google/idea/blaze/base/issueparser/ToolWindowTaskIssueOutputFilter.java
  base/src/com/google/idea/blaze/base/scope/output/IssueOutput.java
  base/src/com/google/idea/blaze/base/scope/scopes/ProblemsViewScope.java
  base/src/com/google/idea/blaze/base/ui/problems/BuildTasksProblemsView.java
  base/tests/unittests/com/google/idea/blaze/base/issueparser/BlazeIssueParserTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

build: Upgrade Gazelle versions
  WORKSPACE.bzlmod
Labels: awaiting-review

fix: Rely on the bazel zipper instead of zip
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

build: Upgrade Gazelle versions (#6461)
  WORKSPACE.bzlmod
Labels: awaiting-review

Update CHANGELOG for v2024.06.04
  CHANGELOG
Labels: awaiting-review

fix: Default to project name to workspace name instead of root directory (#6458)
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for v2024.06.04
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG for v2024.06.04 (#6465)
  CHANGELOG
Labels: awaiting-review

Update changelog for 2024.06.04
  CHANGELOG
Labels: awaiting-review

fix: Rely on the bazel zipper instead of zip (#6462)
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

fix: Mark saveAllFiles as a WriteAction (#6459)
  base/src/com/google/idea/blaze/base/util/SaveUtil.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

update java doc on getStandardJavaBinary method
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
Labels: awaiting-review, product: IntelliJ

fix(coverage): Account for SHA in lcov DA parsing
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageData.java
  java/tests/unittests/com/google/idea/blaze/java/run/coverage/BlazeCoverageDataTest.java
Labels: awaiting-review, product: IntelliJ

fix(coverage): Account for SHA in lcov DA parsing (#6463)
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageData.java
  java/tests/unittests/com/google/idea/blaze/java/run/coverage/BlazeCoverageDataTest.java
Labels: awaiting-review, product: IntelliJ

fix: Use argfile with bazel zipper
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

fix: Use argfile with bazel zipper (#6470)
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Add Blaze User Setting for FastBuild Java Binary Path (#6431)
  base/src/com/google/idea/blaze/base/settings/BlazeUserSettings.java
  base/src/com/google/idea/blaze/base/settings/ui/BlazeUserSettingsConfigurable.java
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Revert "Reapply "Automatic code cleanup.""
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Bump JetBrains IDEs (#6477)
  WORKSPACE.bzlmod
Labels: awaiting-review

Revert "Reapply "Automatic code cleanup."" (#6476)
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Internal change
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/execution/BazelGuard.java
  base/src/com/google/idea/blaze/base/execution/ExecutionDeniedException.java
  base/src/com/google/idea/blaze/base/execution/TrustedProjectGuard.java
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
