Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add EP to extend external modules
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/projectstructure/ExternalModuleProvider.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ModuleEditorImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix for wrong compiler executable when using custom toolchains (#6419)
  MODULE.bazel.lock
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/CcToolchainTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/targetmapbuilder/NbTargetMapBuilderTest.java
  aswb/tests/utils/integration/com/google/idea/blaze/android/targetmapbuilder/NbCcToolchain.java
  base/src/com/google/idea/blaze/base/ideinfo/CToolchainIdeInfo.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfigurationData.java
  cpp/src/com/google/idea/blaze/cpp/CppAspectArgsProvider.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeResolveConfigurationEquivalenceTest.java
  proto/intellij_ide_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add EP to extend external modules (#6467)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/projectstructure/ExternalModuleProvider.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ModuleEditorImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

docs: Add ARCHITECTURE.md to introduce contributors to the architecture
  ARCHITECTURE.md
Labels: awaiting-review

Internal change
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/execution/BazelGuard.java
  base/src/com/google/idea/blaze/base/execution/ExecutionDeniedException.java
  base/src/com/google/idea/blaze/base/execution/TrustedProjectGuard.java
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add a utility method for getting a singleton package path.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Internal change
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/execution/BazelGuard.java
  base/src/com/google/idea/blaze/base/execution/ExecutionDeniedException.java
  base/src/com/google/idea/blaze/base/execution/TrustedProjectGuard.java
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/execution/BazelGuard.java
  base/src/com/google/idea/blaze/base/execution/ExecutionDeniedException.java
  base/src/com/google/idea/blaze/base/execution/TrustedProjectGuard.java
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Revert "Reapply "Automatic code cleanup."" (#6476)
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Update changelog for v2024.06.18 release
  CHANGELOG
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Add missing category submessage.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Add tests for compiler switches
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: awaiting-review, product: CLion

Add compiler builtin includes to compiler switches
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
Labels: awaiting-review, product: CLion

Explicitely run SyncStatusEditorTabTitleProvider in read mode
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Support CLion 2024.2
  WORKSPACE.bzlmod
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v242/BUILD
  cpp/sdkcompat/v242/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion

Explicitely run SyncStatusEditorTabTitleProvider in read mode (#6489)
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains IDEs (#6485)
  WORKSPACE.bzlmod
Labels: awaiting-review

Update BUILD
  BUILD
Labels: awaiting-review

Update WORKSPACE.bzlmod
  WORKSPACE.bzlmod
Labels: awaiting-review

fix: Missing directories when view_project_root is on
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Missing directories when view_project_root is on (#6493)
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove unused custom java 17 toolchain (#6491)
  BUILD
  WORKSPACE.bzlmod
Labels: awaiting-review

Update CHANGELOG
  CHANGELOG
Labels: awaiting-review

Update changelog for v2024.06.18 release
  CHANGELOG
Labels: awaiting-review

Update changelog for v2024.06.18 release (#6484)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.06.18.
  CHANGELOG
Labels: awaiting-review

Support CLion 2024.2 (#6469)
  WORKSPACE.bzlmod
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v242/BUILD
  cpp/sdkcompat/v242/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  third_party/javascript/BUILD
Labels: awaiting-review, product: CLion

chore: CI builds on Windows
  .bazelci/clion.yml
  .bazelci/intellij-ue.yml
  .bazelci/intellij.yml
Labels: awaiting-review

chore: CI builds on Windows (#6494)
  .bazelci/clion.yml
  .bazelci/intellij-ue.yml
  .bazelci/intellij.yml
Labels: awaiting-review

Remove old versions of sdkcompat
  sdkcompat/BUILD
Labels: awaiting-review

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Bump JetBrains IDEs (#6497)
  WORKSPACE.bzlmod
Labels: awaiting-review

Remove _java_toolchain from the list of attributes to be collected by the aspect.
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Add .exe if compiler cannot be found on windows
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
Labels: awaiting-review, product: CLion

Disable the generated compiler wrapper script for all platforms except mac
  cpp/src/com/google/idea/blaze/cpp/CompilerWrapperProviderImpl.java
Labels: awaiting-review, product: CLion

Add MSVC support
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerInfoMapService.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionCheckerImpl.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionUtil.java
  cpp/src/com/google/idea/blaze/cpp/MSVCEnvironment.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/MSVCEnvironmentTest.java
Labels: awaiting-review, product: CLion

Add arg max heuristic for windows
  base/src/com/google/idea/blaze/base/sync/sharding/ArgMaxShardSizeLimit.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
