Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix(build): Allow for targets outside of release channels
  common/util/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Include the digest hash function in the compact execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Report unresolved symlinks as such in the execution log.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Fix indexing logging for v233
  testing/testcompat/v233/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
Labels: awaiting-review

Rollback 601598274 and update service connection to uses grpcng package
  ext/proto/piper.proto
Labels: awaiting-review

Automatic code cleanup.
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review

Automatic code cleanup.
  ext/tests/com/google/idea/blaze/ext/IntelliJExtServiceTest.java
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/SrcJarProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
Labels: awaiting-review

Correctly handle unresolved symlinks when they appear in the inputs.
  third_party/bazel/src/main/protobuf/spawn.proto
Labels: awaiting-review

Update android_studio_2023_1 version to Jellyfish Canary 7
  WORKSPACE
Labels: awaiting-review

Minor formatting improvement.
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove deprecated version as223
  aswb/tests/utils/sdkcompat/as223/com/android/ide/common/repository/GoogleMavenArtifactIdCompat.java
  aswb/tests/utils/sdkcompat/as223/com/android/tools/idea/sdk/IdeSdksCompat.java
  aswb/tests/utils/sdkcompat/as223/com/google/idea/blaze/android/functional/AndroidDeviceCompat.java
  aswb/tests/utils/sdkcompat/as223/com/google/idea/blaze/android/tools/idea/run/editor/AndroidDebuggerCompat.java
Labels: awaiting-review

Upgrade canary channel from Jellyfish Canary 3 to Jellyfish Canary 7
  WORKSPACE
  aswb/BUILD
  aswb/sdkcompat/as233/com/google/idea/blaze/android/projectsystem/BlazeModuleDependencies.java
  aswb/sdkcompat/as233/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as233/com/google/idea/blaze/android/run/BazelApplicationProjectContextProvider.java
  aswb/tests/utils/sdkcompat/as231/com/google/idea/blaze/android/MobileInstallBuildStepTestCase.java
  aswb/tests/utils/sdkcompat/as232/com/google/idea/blaze/android/MobileInstallBuildStepTestCase.java
  aswb/tests/utils/sdkcompat/as233/com/google/idea/blaze/android/MobileInstallBuildStepTestCase.java
  aswb/tests/utils/sdkcompat/as233/com/google/idea/blaze/android/functional/AndroidDeviceCompat.java
Labels: awaiting-review

Disable action when file is not synced
  common/actions/src/com/google/idea/common/actions/ReplaceActionHelper.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Use dedicated API instead of implementation details
  testing/testcompat/v241/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review

Show editor notification for untracked files
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update maintenance.kt
  maintenance/maintenance.kt
Labels: awaiting-review

Use dedicated API instead of implementation details (#6008)
  testing/testcompat/v241/com/google/idea/java/JavaSdkCompat.java
Labels: awaiting-review

Validate dependencies of more plugins
  build_defs/restrictions.bzl
Labels: awaiting-review

Improve dependency validation messages
  build_defs/restrictions.bzl
Labels: awaiting-review

Show sync notification banner on BUILD file changes
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/sync/SyncListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove `SelectBazelBinary` step as it is never showed
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeSelectBuildSystemBinaryStep.java
  base/src/com/google/idea/blaze/base/wizard2/ui/SelectBazelBinaryControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update stale bot messages
  .github/workflows/stale.yml
Labels: awaiting-review

Fixes compilation issues
  BUILD
  aswb/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  ext/proto/BUILD
  java/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Adjust visibility of test targets
  BUILD
  aswb/BUILD
  base/BUILD
  build-visibility.bzl
  common/experiments/BUILD
  common/ui/properties/BUILD
  cpp/BUILD
  dart/BUILD
  ext/BUILD
  java/BUILD
  python/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/query/BUILD
  shared/BUILD
  shared/javatests/com/google/idea/blaze/common/BUILD
  shared/javatests/com/google/idea/blaze/common/vcs/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Exclude WorkspaceStatusActions from `execution_phase_time_in_ms`.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Improved BlazeTargetFilter regex to match more target names
  base/src/com/google/idea/blaze/base/run/filter/BlazeTargetFilter.java
  base/tests/unittests/com/google/idea/blaze/base/run/filter/BlazeTargetFilterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improved BlazeTargetFilter regex to match more target names
  base/src/com/google/idea/blaze/base/run/filter/BlazeTargetFilter.java
  base/tests/unittests/com/google/idea/blaze/base/run/filter/BlazeTargetFilterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added suppressErrors option to BlazeCommand.Builder to suppress errors in CommandLineBlazeCommandRunner
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added registry key to disable fission flag
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeGDBServerProvider.java
Labels: awaiting-review, product: CLion

Catch UnsupportedOperationException for retrieving Paths in editor notification
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use own utility to locate Runfiles root
  testing/BUILD
  testing/src/com/google/idea/testing/runfiles/BUILD
  testing/src/com/google/idea/testing/runfiles/Runfiles.java
Labels: awaiting-review

Use own utility to locate Runfiles root
  testing/BUILD
  testing/src/com/google/idea/testing/runfiles/BUILD
  testing/src/com/google/idea/testing/runfiles/Runfiles.java
Labels: awaiting-review

Catch UnsupportedOperationException for retrieving Paths in editor notification
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Dispatch all events for all tests in QuerySyncFileListenerTest
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix Fast Run for Bazel 7
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildDeployJarStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildDeployJarStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  java/tests/unittests/com/google/idea/blaze/java/fastbuild/BazelFastBuildDeployJarStrategyTest.java
Labels: awaiting-review, product: IntelliJ

Set popup="true" for Blaze Menu in plugin xml
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Show balloon notification when autosync is enabled via editor notification
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make attempting to rewind a source artifact a hard crash.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Issue labeler for IntelliJ repository
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/advanced-issue-labeler.yml
  .github/workflows/issue-labeler.yml
Labels: awaiting-review

Remove legacy source jar logic.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*
