Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Internal change
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatOnSaveHandler.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierCustomFormatter.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/query/BlazeQueryMacroTargetProvider.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/sync/actions/CleanProjectTargetsSyncAction.java
  base/src/com/google/idea/blaze/base/sync/sharding/ArgMaxShardSizeLimit.java
  base/src/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharder.java
  base/src/com/google/idea/blaze/base/sync/sharding/TargetShardSizeLimit.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerCache.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitWorkingSetProvider.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
  base/tests/utils/unit/com/google/idea/blaze/base/BlazeTestCase.java
  common/util/src/com/google/idea/async/process/CommandLineTask.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionChecker.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionCheckerImpl.java
  cpp/src/com/google/idea/blaze/cpp/MockCompilerVersionChecker.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypescriptSyncPlugin.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal Change
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskImpl.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatOnSaveHandler.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierCustomFormatter.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/query/BlazeQueryMacroTargetProvider.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/sync/actions/CleanProjectTargetsSyncAction.java
  base/src/com/google/idea/blaze/base/sync/sharding/ArgMaxShardSizeLimit.java
  base/src/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharder.java
  base/src/com/google/idea/blaze/base/sync/sharding/TargetShardSizeLimit.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerCache.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitWorkingSetProvider.java
  base/tests/unittests/com/google/idea/blaze/base/async/process/ExternalTaskImplTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
  base/tests/utils/unit/com/google/idea/blaze/base/BlazeTestCase.java
  common/util/src/com/google/idea/async/process/CommandLineTask.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionChecker.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionCheckerImpl.java
  cpp/src/com/google/idea/blaze/cpp/MockCompilerVersionChecker.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypescriptSyncPlugin.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update CHANGELOG for 2024.02.13
  CHANGELOG
Labels: awaiting-review

Update changelog for 2024.02.13 (#6054)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.02.13.
  CHANGELOG
Labels: awaiting-review

Move file refreshing logic inside `ArtifactTrackerImpl` and simplify the API as a result.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ArtifactTrackerUpdateResult.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/RenderJarTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatOnSaveHandler.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierCustomFormatter.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/query/BlazeQueryMacroTargetProvider.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/sync/actions/CleanProjectTargetsSyncAction.java
  base/src/com/google/idea/blaze/base/sync/sharding/ArgMaxShardSizeLimit.java
  base/src/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharder.java
  base/src/com/google/idea/blaze/base/sync/sharding/TargetShardSizeLimit.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerCache.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitWorkingSetProvider.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
  base/tests/utils/unit/com/google/idea/blaze/base/BlazeTestCase.java
  common/util/src/com/google/idea/async/process/CommandLineTask.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionChecker.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionCheckerImpl.java
  cpp/src/com/google/idea/blaze/cpp/MockCompilerVersionChecker.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypescriptSyncPlugin.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Migrate IdeArtifactStatsLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Migrate EditedFilesLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Implement IntellijExtECatcherClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Internal change
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update android_studio copybara
  build_defs/restrictions.bzl
Labels: awaiting-review

Update copybara
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Add METADATA to be able to copy to repo
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Add a simplified version of "g3plugins"
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Address review comments in #6041 pull request
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeGDBServerProvider.java
Labels: awaiting-review, product: CLion

Address review comments in #5301 pull request
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion

Pass path associations as special compiler flags
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion

Address review comments in #5301 pull request
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion

Allow annotation that can be removed with copybara
  build_defs/restrictions.bzl
Labels: awaiting-review

Report citc operation errors at `ERROR` log level
  build_defs/restrictions.bzl
Labels: awaiting-review

Extract `CitcOperations`
  build_defs/restrictions.bzl
Labels: awaiting-review

Fix issues with copybara
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Migrate FreezeInfo, LogMessage, and Exception to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Implement Comments2CodeService in intellijext
  ext/proto/BUILD
  ext/proto/comments2code.proto
Labels: awaiting-review

Add utility to see all buildable roots
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Bump JetBrains dependencies
  WORKSPACE
Labels: awaiting-review

Validate test dependencies
  build_defs/restrictions.bzl
Labels: awaiting-review

Bump JetBrains dependencies (#6093)
  WORKSPACE
Labels: awaiting-review

Temporarily log regurgitator and vfs related events
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/internal/AswbDumpVfs.java
  sdkcompat/v223/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Let scrubbed actions fall back to local execution when remote execution is enabled. [
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Increase MaxInboundMessageSize for ij-ext client
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
Labels: awaiting-review

Correct the experiment value
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add Comments2Code protos for intellijext
  ext/proto/BUILD
  ext/proto/comments2code.proto
Labels: awaiting-review

Updates copybara config
  BUILD
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/ArtifactLocationParserTest.java
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/OptionParserTest.java
  build-visibility.bzl
  build_defs/build_defs.bzl
  ext/BUILD
  querysync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/QuerySyncLanguageTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
Labels: awaiting-review

Update maintenance.kt
  maintenance/maintenance.kt
Labels: awaiting-review

Fix an ancient TODO.
  base/src/com/google/idea/blaze/base/filecache/LocalFileState.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceState.java
  base/tests/unittests/com/google/idea/blaze/base/filecache/ArtifactStateTest.java
  shared/java/com/google/idea/blaze/common/artifact/ArtifactState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Moved collect logic to VirtualIncludesHandler and added support for external workspaces
  base/src/com/google/idea/blaze/base/model/primitives/Label.java
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Removed resolve virtual includes logic
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Added getActionUpdateThread to all actions
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtMenu.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtStatusAction.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  common/actions/src/com/google/idea/common/actions/ReplaceActionHelper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
