Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

WIP hotswap single file
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  java/src/META-INF/java-contents.xml
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Working compile and reload
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Hacked hotswap
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Set action id as static final
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Cleanup and refactor code
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Cleanup and handle multiple debug sessions
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Add pattern for child classes
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

revert file
  java/src/META-INF/java-contents.xml
Labels: awaiting-review, product: IntelliJ

Handle the "always" case for reload dialog
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Restrict reload to more cases
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Show editor notification for untracked files
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/qsync/UntrackedFileManager.java
  base/src/com/google/idea/blaze/base/sync/SyncListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add class for tracking unsynced files
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UntrackedFileManager.java
  base/src/com/google/idea/blaze/base/sync/SyncListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update changelog for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

Split cache layout operations of "determine final destination" and "create final destination".
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove `OutputArtifactDestination.getKey()` as it's no longer useful.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileCache.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/KeyBasedCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

fix: Don't throw "Non-blaze project is provided error"
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
Labels: awaiting-review, product: IntelliJ

Fix kotlin example for bazel 7.0.0 (#5847)
  WORKSPACE
  examples/kotlin/simple_project/BUILD
Labels: awaiting-review, product: IntelliJ

Update glob validation to support allow_empty parameter (#5855)
  base/src/com/google/idea/blaze/base/lang/buildfile/validation/GlobErrorAnnotator.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/validation/GlobValidationTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add builder class for `DelegatingCacheLayout`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/DelegatingCacheLayout.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/UnzippingCacheLayoutTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: awaiting-review

Internal change
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Implemenent improved, more accurate calculation of android resource directories.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add Intellij-ext client for depserver
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/depserver.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move PopupPositioner to top-level class
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForDirectReverseDepsAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/PopupPositioner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove legacy sync-before-build setting
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include messages from the cc compiler info cache session in the ide log too.
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: awaiting-review, product: CLion

Include query sync data in bugreports.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move the definition of the protos output by the aspect for java into the querysync library.
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  proto/BUILD
  proto/artifact_tracker_data.proto
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move cc_compilation_info proto into querysync library.
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  proto/BUILD
  proto/artifact_tracker_data.proto
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/CcDependenciesInfo.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/cc_compilation_info.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Delete unused code
  base/src/com/google/idea/blaze/base/qsync/cache/AppInspectorArtifactInfo.java
  proto/artifact_tracker_data.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove the `graph` parameter from `updateProjectProtoForJavaDeps`.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move java specific logic into the new `java` package.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourceOutputArtifactDestination.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/PackageReader.java
  querysync/java/com/google/idea/blaze/qsync/java/PackageStatementParser.java
  querysync/java/com/google/idea/blaze/qsync/java/ParallelPackageReader.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarInnerPathFinder.java
  querysync/java/com/google/idea/blaze/qsync/java/SrcJarProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/WorkspaceResolvingPackageReader.java
  querysync/java/com/google/idea/blaze/qsync/util/BUILD
  querysync/java/com/google/idea/blaze/qsync/util/GetJarRoots.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/java/GeneratedSourceProjectUpdaterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/PackageStatementParserTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/SrcJarProjectUpdaterTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use canonical android resource packages extracted from the dependency build, rather than a query-time heuristic.
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/java/AndroidResPackagesProjectUpdater.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add empty BlazeProjectDataManager for non-blaze projects
  base/src/com/google/idea/blaze/base/sync/data/DelegatingBlazeProjectDataManager.java
  base/src/com/google/idea/blaze/base/sync/data/EmptyBlazeProjectDataManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Respect user settings for showing console windows on query sync
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Include the blaze-out relative path in local file ouput artifact equals implementation.
  aswb/tests/unittests/com/google/idea/blaze/android/libraries/RenderJarCacheTest.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifactWithoutDigest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve query sync file listener
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Convert subclasses of `OutputArtifactDestinationAndLayout` to `@AutoValue`
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactPathCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/DefaultCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/JavaSourcesArchiveCacheLayout.java
  base/src/com/google/idea/blaze/base/qsync/cache/PreparedOutputArtifactDestination.java
  base/src/com/google/idea/blaze/base/qsync/cache/ZippedOutputArtifactDestination.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Switch to using `AndroidIdeInfo` provider instead if `target.android`.
  aspect/build_dependencies.bzl
Labels: awaiting-review

Enable QuerySyncManager to track sync status
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatus.java
  base/src/com/google/idea/blaze/base/sync/status/BlazeSyncStatusImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
