Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Change restrictions check to allow select
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Pass `log_dir` to intellij-ext to put intellij-ext log next to idea.log
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enable DBiP on cloud-top via experiment
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunnerExperiments.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make expected pinging intellij-ext server failure not SEVERE
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review

Add presubmit tests and fix test
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Promote the current Hedgehog build to the stable channel
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Allow some native options to be marked as IMMUTABLE.
  third_party/bazel/src/main/protobuf/option_filters.proto
Labels: awaiting-review

Make calculateTransitiveExternalDependencies iterative
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

Implement IntellijExtFileApiClient
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Rename BuildGraphTest to BuildGraphDataTest
  querysync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review

Intellij-ext implementation of findings service api client
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
  ext/proto/BUILD
  ext/proto/findings.proto
  ext/src/com/google/idea/blaze/ext/IntelliJExtClient.java
  ext/src/com/google/idea/blaze/ext/IntelliJExtService.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Use source file labels for determining packages in query summary
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/empty/BUILD
Labels: awaiting-review

Prepare intellij-ext codereview.proto
  ext/proto/BUILD
  ext/proto/codereview.proto
Labels: awaiting-review

Handle JavaBinaryContextProvider#getRunContext for query sync
  java/BUILD
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectTarget.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: awaiting-review, product: IntelliJ

Revert "Update intellij plugin to use modern provider"
  .bazelrc
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Revert "Fix gazelle test (#5870)"
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: awaiting-review, product: GoLand

Fix javacopt for aspect tools
  aswb/BUILD
  build_defs/build_defs.bzl
  clwb/BUILD
  ijwb/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

fix BUILD
  clwb/BUILD
  ijwb/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ

Fix aswb/BUILD
  aswb/BUILD
Labels: awaiting-review

Do not add 2 import sections for the same project view
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update changelog for 2024.01.16 release
  CHANGELOG
Labels: awaiting-review

- Fixed scanning logic (#1)
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

memoize logic for logs
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeReloadFileAction.java
Labels: awaiting-review, product: IntelliJ

Testing removal of flag
  .bazelrc
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Analyze runtime_deps in restrictions.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Optionally pass the parent environment as well
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add test case for env vars in Go
  examples/go/with_proto/go/main_test.go
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
Labels: awaiting-review, product: GoLand

Pass env vars to go debug configurations correctly
  examples/go/with_proto/with_proto.bazelproject
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
Labels: awaiting-review, product: GoLand

Address comments
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/greeting_lib/tests/com/example/EnvVarsTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/GreetingTest.java
  examples/java/greetings_project/hello/hello.bazelproject
  examples/java/greetings_project/hi/hi.bazelproject
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest.xml
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest_testEnvVars.xml
  examples/java/greetings_project/run_configurations/Bazel_test_greeting_lib_env_vars_test.xml
  examples/java/greetings_project/run_configurations/fragment.bazelproject
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove unused import
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add unit tests
  base/src/com/google/idea/blaze/base/run/state/EnvironmentVariablesState.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationGenericHandlerIntegrationTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonStateTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Register LinterApiClient implementations as extensions
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/ccbinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cclibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/coptsmakevars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/alias/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/build/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/tags/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javaplugin/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalamacrolibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalatest/BUILD
  aswb/BUILD
  clwb/BUILD
  common/ui/properties/BUILD
  cpp/BUILD
  dart/BUILD
  ext/proto/BUILD
  golang/BUILD
  ijwb/BUILD
  javascript/BUILD
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  python/BUILD
  scala/BUILD
  sdkcompat/BUILD
  skylark/BUILD
  terminal/BUILD
  testing/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add sample project and integration tests for JavaBinaryContextProvider
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
Labels: awaiting-review, product: IntelliJ

No need in duplicated `try_import` entry since we already have `import` with the same contents.
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

import not required anymore
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

No need in duplicated `try_import` entry since we already have `impor… (#5958)
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update changelog for v2024.01.16 release
  CHANGELOG
Labels: awaiting-review

Update changelog for 2024.01.16 release (#5952)
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.01.16
  CHANGELOG
Labels: awaiting-review

Show error message when getting build shard failure
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
