Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Consolidate starlark_doc_extract's libraries into a logical location
  third_party/bazel/src/main/protobuf/BUILD
Labels: awaiting-review

Rename stardoc_output_java_proto's generated java package to com.google.devtools.build.lib.starlarkdocextract
  third_party/bazel/src/main/protobuf/stardoc_output.proto
Labels: awaiting-review

Basic strategy-policy implementation
  third_party/bazel/src/main/protobuf/BUILD
  third_party/bazel/src/main/protobuf/invocation_policy.proto
  third_party/bazel/src/main/protobuf/strategy_policy.proto
Labels: awaiting-review

Reapply "Automatic code cleanup."
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: awaiting-review

Add rules_java
  examples/go/with_proto/WORKSPACE
Labels: awaiting-review, product: GoLand

Add rules_java
  examples/go/with_proto/WORKSPACE
Labels: awaiting-review, product: GoLand

Add renovate.json
  renovate.json
Labels: awaiting-review

Update CHANGELOG for v2024.05.21 release
  CHANGELOG
Labels: awaiting-review

Update changelog for release v2024.05.21.
  CHANGELOG
Labels: awaiting-review

Modify `//aspect:create_intellij_info_impl_bundle` to build on mac
  aspect/BUILD
Labels: awaiting-review

Update CHANGELOG for v2024.05.21 release (#6438)
  CHANGELOG
Labels: awaiting-review

Replaced hardcoded action names with constants
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Use get_tool_for_action to get c and cpp compiler path
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/ideinfo/CToolchainIdeInfo.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfigurationData.java
  proto/intellij_ide_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Updated tests to work with two compilers
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/CcToolchainTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/targetmapbuilder/NbTargetMapBuilderTest.java
  aswb/tests/utils/integration/com/google/idea/blaze/android/targetmapbuilder/NbCcToolchain.java
  base/src/com/google/idea/blaze/base/ideinfo/CToolchainIdeInfo.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeResolveConfigurationEquivalenceTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

Bump JetBrains IDEs (#6448)
  WORKSPACE.bzlmod
Labels: awaiting-review

Automated rollback of commit 1bf174ad8e5536e312e200f1fdb7bf30fd223a85.
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Small changes
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/ideinfo/CToolchainIdeInfo.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeResolveConfigurationEquivalenceTest.java
  proto/intellij_ide_info.proto
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Keep only one compiler version per toolchain
  MODULE.bazel.lock
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfigurationData.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: awaiting-review, product: CLion

Added registry flags to toggle get_tool_for_action usage
  aspect/intellij_info_impl.bzl
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/CppAspectArgsProvider.java
Labels: awaiting-review, product: CLion

Fixed error if the registry key is not present
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

Added temporary notification provider for C-family files
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
Labels: awaiting-review, product: CLion

Modify `//aspect:create_intellij_info_impl_bundle` to build on mac
  aspect/BUILD
Labels: awaiting-review

Automated rollback of commit 1bf174ad8e5536e312e200f1fdb7bf30fd223a85.
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Automated rollback of commit 1bf174ad8e5536e312e200f1fdb7bf30fd223a85.
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Automated rollback of commit 1bf174ad8e5536e312e200f1fdb7bf30fd223a85.
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add direct dependency in grpc-api. The library was always there, but it was an indirect dependency of ext
  ext/BUILD
Labels: awaiting-review

Comment out clion section as it is not released yet
  WORKSPACE.bzlmod
Labels: awaiting-review

Support CE
  intellij_platform_sdk/BUILD.idea242
Labels: awaiting-review

Fix tests include missing libraries from modules
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.idea242
  intellij_platform_sdk/BUILD.ue241
  intellij_platform_sdk/BUILD.ue242
  third_party/toml/BUILD
Labels: awaiting-review

Set correct toml plugin url
  WORKSPACE.bzlmod
Labels: awaiting-review

Fix needed java version flags for ASwB builds
  .bazelrc
Labels: awaiting-review

Emit function param's role in starlark_doc_extract proto output
  third_party/bazel/src/main/protobuf/stardoc_output.proto
Labels: awaiting-review

Add `ExtendableBazelProjectCreator` class
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/DefaultBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/project/ExtendableBazelProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeSelectWorkspaceControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Modify `BlazeVcsHandlerProvider$handlesProject`
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerCache.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Patch plugin to use local execution by default for test debugging
  MODULE.bazel.lock
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

EAP 2
  WORKSPACE.bzlmod
  ijwb/BUILD
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  third_party/devkit/BUILD
Labels: awaiting-review, product: IntelliJ

Move tests requiring isNewUI call from unit tests to integration tests.
  base/tests/integrationtests/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonStateTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Enbale plugin_dev integration tests
  BUILD
Labels: awaiting-review

New jar directory layout in Go Plugin
  WORKSPACE.bzlmod
Labels: awaiting-review
