Repository bazelbuild/intellij, changes with the labels that .github/labeler.yml gives for each.
All labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

.github/labeler.yml:

# Add 'awaiting-review' to any PR opened
awaiting-review:
- '**/*'

'product: CLion':
- clwb/**/*
- cpp/**/*
- base/**/*
- examples/cpp/simple_project/**/*
- intellij_platform_sdk/BUILD.clion213
- intellij_platform_sdk/BUILD.clion221
- intellij_platform_sdk/BUILD.clion222
- intellij_platform_sdk/BUILD.clion223
- intellij_platform_sdk/BUILD.clion231
- intellij_platform_sdk/BUILD.clion232

'product: IntelliJ':
- base/**/*
- examples/java/greetings_project/**/*
- ijwb/**/*
- kotlin/**/*
- java/**/*
- examples/kotlin/**/*
- javascript/**/*
- python/**/*
- scala/**/*
- intellij_platform_sdk/BUILD.idea221
- intellij_platform_sdk/BUILD.idea222
- intellij_platform_sdk/BUILD.idea223
- intellij_platform_sdk/BUILD.idea231
- intellij_platform_sdk/BUILD.idea232
- intellij_platform_sdk/BUILD.ue213
- intellij_platform_sdk/BUILD.ue221
- intellij_platform_sdk/BUILD.ue222
- intellij_platform_sdk/BUILD.ue223
- intellij_platform_sdk/BUILD.ue231
- intellij_platform_sdk/BUILD.ue232

'product: GoLand':
- base/**/*
- examples/go/**/*
- gazelle/**/*
- golang/**/*

Show editor notification for untracked files
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Improve dependency validation messages
  build_defs/restrictions.bzl
Labels: awaiting-review

Show sync notification banner on BUILD file changes
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/sync/SyncListener.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Remove `SelectBazelBinary` step as it is never showed
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeSelectBuildSystemBinaryStep.java
  base/src/com/google/idea/blaze/base/wizard2/ui/SelectBazelBinaryControl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fixes compilation issues
  BUILD
  aswb/BUILD
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  ext/proto/BUILD
  java/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/FlagResolver.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Adjust visibility of test targets
  BUILD
  aswb/BUILD
  base/BUILD
  build-visibility.bzl
  common/experiments/BUILD
  common/ui/properties/BUILD
  cpp/BUILD
  dart/BUILD
  ext/BUILD
  java/BUILD
  python/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/cc/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/java/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/query/BUILD
  shared/BUILD
  shared/javatests/com/google/idea/blaze/common/BUILD
  shared/javatests/com/google/idea/blaze/common/vcs/BUILD
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Exclude WorkspaceStatusActions from `execution_phase_time_in_ms`.
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

Use own utility to locate Runfiles root
  testing/BUILD
  testing/src/com/google/idea/testing/runfiles/BUILD
  testing/src/com/google/idea/testing/runfiles/Runfiles.java
Labels: awaiting-review

Catch UnsupportedOperationException for retrieving Paths in editor notification
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Dispatch all events for all tests in QuerySyncFileListenerTest
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/QuerySyncAsyncFileListenerTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Fix Fast Run for Bazel 7
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildDeployJarStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildDeployJarStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
  java/tests/unittests/com/google/idea/blaze/java/fastbuild/BazelFastBuildDeployJarStrategyTest.java
Labels: awaiting-review, product: IntelliJ

Show balloon notification when autosync is enabled via editor notification
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make attempting to rewind a source artifact a hard crash.
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Remove legacy source jar logic.
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Some tidying up of `DependencyTracker` interface.
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForOpenFilesAction.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesHelper.java
  base/src/com/google/idea/blaze/base/qsync/action/TargetDisambiguator.java
  base/src/com/google/idea/blaze/base/scope/BlazeContext.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/TargetsToBuild.java
  querysync/java/com/google/idea/blaze/qsync/util/CliContext.java
  querysync/javatests/com/google/idea/blaze/qsync/NoopContext.java
  shared/java/com/google/idea/blaze/common/Context.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Move some build graph related logic from `DependencyTrackerImpl` into `BuildGraphData`.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/DependencyTrackingBehavior.java
  querysync/java/com/google/idea/blaze/qsync/project/RequestedTargets.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Correct the root logger that handler to be added to
  sdkcompat/v213/aswb/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/general/PluginAdvertiserEditorNotificationProviderWrapperCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v241/BUILD
  sdkcompat/v241/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/logging/LoggerWrapper.java
Labels: awaiting-review

Add VCS state to the build result, and pass this through to `OutputInfo`.
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/OutputInfo.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Add `bazel mod tidy` [
  third_party/bazel/src/main/protobuf/failure_details.proto
Labels: awaiting-review

Refactor project proto transforms.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImplTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeProjectSnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/ProjectProtoTransform.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Implement ecatcher service for intellij-ext
  ext/proto/BUILD
  ext/proto/ecatcher.proto
Labels: awaiting-review

Make it possible to toggle cache key scrubbing by rule kind [
  third_party/bazel/src/main/protobuf/remote_scrubbing.proto
Labels: awaiting-review

Add protos and converters for intellij p4 client
  ext/proto/BUILD
  ext/proto/perforce/annotation_rpc.proto
  ext/proto/perforce/base.proto
  ext/proto/perforce/change.proto
  ext/proto/perforce/change_rpc.proto
  ext/proto/perforce/depot_file_rpc.proto
  ext/proto/perforce/file_state_rpc.proto
  ext/proto/perforce/get_client_context_rpc.proto
  ext/proto/perforce/integrate_rpc.proto
  ext/proto/perforce/mail_change.proto
  ext/proto/perforce/patch_rpc.proto
  ext/proto/perforce/presubmit.proto
  ext/proto/perforce/revert_files_rpc.proto
  ext/proto/perforce/source_file.proto
  ext/proto/perforce/status.proto
  ext/proto/perforce/submit_change_rpc.proto
  ext/proto/perforce/switch_client_rpc.proto
  ext/proto/perforce/sync_files_rpc.proto
  ext/proto/perforce/upload_snapshot_to_critique.proto
  ext/proto/perforce/workspace.proto
  ext/proto/perforce/workspace_file_rpc.proto
  ext/proto/perforce/workspace_rpc.proto
Labels: awaiting-review

Start refactoring logging service
  ext/proto/BUILD
  ext/proto/logentry.proto
Labels: awaiting-review

Move where intellij-ext is installed and expected by ASwB
  base/src/com/google/idea/blaze/base/ext/IntelliJExtManager.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Migrate CompletionLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Change dependency restriction check to be only on intellij-ext
  build_defs/intellij_plugin.bzl
Labels: awaiting-review

Migrate ConfigurationLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Add check to verify what targets use public Guava APIs
  build_defs/intellij_plugin.bzl
  build_defs/restrictions.bzl
Labels: awaiting-review

Remove interal guava APIs from depserver
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  skylark/BUILD
  terminal/BUILD
Labels: awaiting-review, product: IntelliJ

Add plugins to prevent dependencies on internal Guava
  kotlin/BUILD
  plugin_dev/BUILD
  proto/BUILD
  skylark/BUILD
  terminal/BUILD
Labels: awaiting-review, product: IntelliJ

Migrate EditingEventLogger to ij-ext
  ext/proto/logentry.proto
Labels: awaiting-review

Remove unused import
  java/src/com/google/idea/blaze/java/sync/model/BlazeJarLibrary.java
Labels: awaiting-review, product: IntelliJ

Remove the right import
  java/src/com/google/idea/blaze/java/sync/model/BlazeJarLibrary.java
Labels: awaiting-review, product: IntelliJ

fix: deadlock when more than one project is open and bazel.sync.detec… (#5978)
  java/src/com/google/idea/blaze/java/sync/model/BlazeJarLibrary.java
Labels: awaiting-review, product: IntelliJ

Move file refreshing logic into its own class.
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/FileRefresher.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Make `getCcDependenciesInfo` an implementation detail of `ArtifactTrackerImpl`.
  base/src/com/google/idea/blaze/base/qsync/ArtifactTracker.java
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/cc/CcProjectProtoTransform.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand

Update stale bot messages (#6017)
  .github/workflows/stale.yml
Labels: awaiting-review

Move AS 2023.3 to under-dev channel
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

Internal change
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
Labels: awaiting-review, product: CLion, product: IntelliJ, product: GoLand
