Repository bazelbuild/intellij, pull requests merged in 2022-11, with the labels that each got.

#4038 Remove empty glob
  intellij_platform_sdk/BUILD.android_studio213
Labels: topic: bazel, awaiting-review

#4003 Do not include absolute paths in debug build items
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeLLDBDriverConfiguration.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerInfoMapService.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolverResult.java
Labels: product: CLion, awaiting-review

#3910 feat: Add gazelle to plugin
  BUILD
  examples/go/with_proto/BUILD.bazel
  examples/go/with_proto/with_proto.bazelproject
  gazelle/BUILD
  gazelle/src/META-INF/blaze-gazelle.xml
  gazelle/src/com/google/idea/blaze/gazelle/BlazeGazelleRunner.java
  gazelle/src/com/google/idea/blaze/gazelle/BlazeGazelleRunnerImpl.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleIssueParsers.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunResult.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSection.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncListener.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncPlugin.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleUserSettings.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleUserSettingsConfigurable.java
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
  ijwb/BUILD
Labels: lang: go, product: IntelliJ, topic: sync, product: GoLand, awaiting-review

#3028 fix(test-go): add test_env to output all test results
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  base/src/com/google/idea/blaze/base/run/producers/TestContext.java
  golang/src/com/google/idea/blaze/golang/run/producers/GoTestContextProvider.java
Labels: product: IntelliJ, cla: yes, product: GoLand, awaiting-review

#4129 Mock bazel run in Gazelle integration tests
  gazelle/BUILD
  gazelle/src/META-INF/blaze-gazelle.xml
  gazelle/src/com/google/idea/blaze/gazelle/BlazeGazelleRunner.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunner.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunnerImpl.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncListener.java
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: lang: go, awaiting-review

#4128 [IJ 2022.3] Add annotations.jar and groovy.jr to the list of IJ libraries
  plugin_dev/src/com/google/idea/blaze/plugin/run/IntellijWithPluginClasspathHelper.java
Labels: product: IntelliJ, awaiting-review

#4126 Remove ProjectFrameUpdater workaround
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/ProjectFrameUpdater.java
Labels: product: IntelliJ, awaiting-review
