Repository bazelbuild/intellij, pull requests merged in 2022-09, with the labels that each got.

#3901 Detect project data directory per IDE product
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: IntelliJ, awaiting-review

#3916 Future-proof fast_build_info generation
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
Labels: product: IntelliJ, topic: bazel, awaiting-review

#3931 Create stale.yml
  .github/stale.yml
Labels: type: process, awaiting-review

#3832 Refactor walkFileSystem() method in ContentEntryEditor
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
Labels: awaiting-review

#2150 Simplify opening of Bazel project using ProjectUtil.
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
Labels: type: bug, product: IntelliJ, cla: yes, awaiting-review

#3969 Update stale.yml
  .github/stale.yml
Labels: awaiting-review

#3977 Add Java Example Project
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/greeting_lib/src/com/example/Greeting.java
  examples/java/greetings_project/greeting_lib/tests/com/example/GreetingTest.java
  examples/java/greetings_project/hello/BUILD
  examples/java/greetings_project/hello/hello.bazelproject
  examples/java/greetings_project/hello/src/com/example/HelloGreeter.java
  examples/java/greetings_project/hi/BUILD
  examples/java/greetings_project/hi/hi.bazelproject
  examples/java/greetings_project/hi/src/com/example/HiGreeter.java
Labels: lang: java, topic: testing, awaiting-review
