Repository bazelbuild/intellij, pull requests merged in 2022-10, with the labels that each got.

#4031 readme.md: add a section how to find the SIG
  README.md
Labels: type: documentation, awaiting-review

#4009 Fix main repo target parsing
  base/src/com/google/idea/blaze/base/model/primitives/TargetExpression.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/TargetExpressionTest.java
Labels: product: IntelliJ, awaiting-review

#4006 Enable the Autoscroll to console by default
  base/src/com/google/idea/blaze/base/ui/problems/ProblemsViewConfiguration.java
Labels: product: IntelliJ, awaiting-review

#3912 fix(docs): Add instructions to set up development environment
  CONTRIBUTING.md
  DEV_IDE_SETUP.md
Labels: type: documentation, product: IntelliJ, awaiting-user-response

#4036 Move APIs removed in IntelliJ Platform 2022.3 to sdkcompat modules
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
  java/src/com/google/idea/blaze/java/libraries/BlazeAttachSourceProvider.java
  java/src/com/google/idea/blaze/java/libraries/DisableLibraryBytecodeNotification.java
  sdkcompat/v213/BUILD
  sdkcompat/v213/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
Labels: product: IntelliJ, awaiting-user-response

#4035 Support Starlark nested function definitions
  base/src/com/google/idea/blaze/base/lang/buildfile/parser/StatementParsing.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/parser/BuildParserTest.java
Labels: product: IntelliJ, lang: starlark, awaiting-review
