Repository bazelbuild/intellij, pull requests merged in 2022-12, with the labels that each got.

#3248 Include implicit dependencies from proto compilers
  aspect/intellij_info_impl.bzl
Labels: lang: go

#4137 Add copyright header missing in Java Files
  gazelle/src/com/google/idea/blaze/gazelle/GazelleIssueParsers.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunResult.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSection.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncPlugin.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleUserSettings.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleUserSettingsConfigurable.java
Labels: lang: go, awaiting-review

#4160 Go: Add well-known proto type to example project
  examples/go/with_proto/proto/BUILD.bazel
  examples/go/with_proto/proto/fooserver.proto
Labels: lang: go, topic: protobuf, awaiting-review

#4061 Support Preview Java Language Levels
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  java/src/com/google/idea/blaze/java/projectview/JavaLanguageLevelSection.java
  java/src/com/google/idea/blaze/java/sync/projectstructure/Jdks.java
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  java/tests/unittests/com/google/idea/blaze/java/projectview/JavaLanguageLevelSectionTest.java
Labels: product: IntelliJ, lang: java, awaiting-review

#4131 fix(go) Correctly identify subscoped tests
  examples/go/with_proto/go/lib/lib_test.go
  golang/src/com/google/idea/blaze/golang/run/producers/GoTestContextProvider.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/resolve/BlazeGoPackageTest.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/producers/BlazeGoTestConfigurationProducerTest.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/utils/MockGoImportResolver.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/utils/MockGoPackageFactory.java
Labels: lang: go, product: IntelliJ, product: GoLand, topic: testing, awaiting-review

#4190 Add C++ example project
  examples/cpp/simple_project/WORKSPACE
  examples/cpp/simple_project/proj.bazelproject
  examples/cpp/simple_project/src/BUILD
  examples/cpp/simple_project/src/hello_world.cc
  examples/cpp/simple_project/src/lib/BUILD
  examples/cpp/simple_project/src/lib/greeting_lib.cc
  examples/cpp/simple_project/src/lib/greeting_lib.h
  examples/cpp/simple_project/src/lib/greeting_test.cc
Labels: product: CLion, lang: c++, awaiting-review
