Repository bazelbuild/intellij, pull requests merged in 2023-01, with the labels that each got.

#4239 Check whether the glogin command exists before running it.
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
Labels: product: IntelliJ, awaiting-review

#4250 Mark module as clion's own module
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeOwnModuleDetector.java
  sdkcompat/v212/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
Labels: product: CLion, awaiting-review

#4267 Add beta installation links for all supported products
  README.md
Labels: product: IntelliJ, awaiting-review

#4271 Rename plugin for each IDE
  aswb/BUILD
  clwb/BUILD
  ijwb/BUILD
Labels: product: IntelliJ, awaiting-review

#4244 Scala source attachment: use full jars instead of ijars
  aspect/intellij_info_impl.bzl
Labels: lang: scala, awaiting-user-response

#4274 Remove `is_new_external_version` temporary field
  aspect/artifacts.bzl
  base/src/com/google/idea/blaze/base/ideinfo/ArtifactLocation.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ArtifactLocationDecoderTest.java
  java/src/com/google/idea/blaze/java/sync/source/PackageManifestReader.java
  proto/common.proto
Labels: product: IntelliJ, awaiting-review

#4281 Bazel 'info' command doesn't require target specification
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
Labels: topic: bazel, awaiting-review

#4287 Update Bazel minimum supported version
  WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  base/src/com/google/idea/blaze/base/plugin/BazelVersionChecker.java
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: topic: bazel, awaiting-review

#3553 Add Scala support to plugin workspace
  plugin_dev/src/META-INF/blaze-plugin-dev.xml
  plugin_dev/src/com/google/idea/blaze/plugin/sync/IntellijScalaPluginSyncPlugin.java
  plugin_dev/tests/integrationtests/com/google/idea/blaze/plugin/sync/PluginScalaDevSyncTest.java
Labels: lang: scala, product: IntelliJ, awaiting-review

#2148 Allow for more flexibility when reporting test failures
  base/src/com/google/idea/blaze/base/run/smrunner/BlazeXmlToTestEventsConverter.java
Labels: product: IntelliJ, lang: java, cla: yes, topic: testing, awaiting-review

#4329 Remove sdkcomapt for 2021.2
  base/src/com/google/idea/blaze/base/ui/FileSelectorWithStoredHistory.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
  sdkcompat/asdev/BUILD
  sdkcompat/asdev/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/asdev/com/google/idea/sdkcompat/cpp/CppCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/indexing/IndexingTimesWrapper.java
  sdkcompat/asdev/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryListenerAdapter.java
  sdkcompat/v213/BUILD
  sdkcompat/v213/com/google/idea/sdkcompat/cpp/CppCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/indexing/IndexingTimesWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryListenerAdapter.java
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/cpp/CppCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/indexing/IndexingTimesWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryListenerAdapter.java
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/cpp/CppCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/indexing/IndexingTimesWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryListenerAdapter.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/cpp/CppCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/indexing/IndexingTimesWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryListenerAdapter.java
Labels: product: CLion, product: IntelliJ, awaiting-review
