Repository bazelbuild/intellij, pull requests merged in 2023-02, with the labels that each got.

#4364 Remove compatibility code for versions no-longer supported
  aswb/sdkcompat/as213/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as213/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as221/com/google/idea/blaze/android/cppimpl/debug/BlazeNativeAndroidDebuggerBase.java
  aswb/sdkcompat/as221/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/as222/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/sdkcompat/asdev/com/google/idea/blaze/android/projectsystem/BlazeProjectSystem.java
  aswb/src/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryNormalBuildRunContextBase.java
  aswb/src/com/google/idea/blaze/android/sync/model/idea/BlazeAndroidModelBase.java
  base/src/com/google/idea/blaze/base/sync/libraries/LibraryEditor.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ModuleEditorImpl.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeNewProjectWizard.java
  java/src/com/google/idea/blaze/java/libraries/AttachSourceJarAction.java
  java/src/com/google/idea/blaze/java/libraries/BlazeAttachSourceProvider.java
  java/src/com/google/idea/blaze/java/libraries/DetachAllSourceJarsAction.java
  sdkcompat/asdev/BUILD
  sdkcompat/asdev/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/general/ExecutableValidatorAdapter.java
  sdkcompat/asdev/com/google/idea/sdkcompat/vcs/DvcsBranchPopupCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/asdev/com/google/idea/sdkcompat/vcs/VcsManagedFilesHolderCompat.java
  sdkcompat/v213/BUILD
  sdkcompat/v213/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/v213/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/ExecutableValidatorAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/DvcsBranchPopupCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/VcsManagedFilesHolderCompat.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/ExecutableValidatorAdapter.java
  sdkcompat/v223/com/google/idea/sdkcompat/vcs/DvcsBranchPopupCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/vcs/VcsManagedFilesHolderCompat.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/ExecutableValidatorAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/DvcsBranchPopupCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/VcsBackgroundTaskCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/VcsLogActionPlacesCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/VcsManagedFilesHolderCompat.java
Labels: product: IntelliJ, awaiting-review

#4372 Create stale.yml to automatically close old issues/PRs
  .github/stale.yml
  .github/workflows/stale.yml
Labels: type: process, awaiting-review

#4374 Bump versions to CLion 231.5920.6 and IntelliJ 231.5920.14
  WORKSPACE
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfig.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfigServiceImpl.java
  javascript/src/com/google/idea/blaze/typescript/DelegatingTypeScriptConfigService.java
  sdkcompat/v213/BUILD
  sdkcompat/v213/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v213/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v213/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
Labels: product: CLion, product: IntelliJ, awaiting-review

#4368 fix(run): Properly expand IntelliJ macros in run configurations
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  examples/go/with_proto/go/BUILD.bazel
  examples/go/with_proto/go/main_test.go
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
Labels: lang: go, product: IntelliJ, awaiting-review

#4406 This Github workflow will add 'not stale' label on copybara PR's
  .github/workflows/labeler.yml
Labels: type: process

#4391 Add more information in failure message
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
Labels: topic: bazel, awaiting-review

#4413 Bump to IntelliJ 231.6890.12 and CLion 231.6890.13 (Feb 9 EAP)
  WORKSPACE
Labels: product: CLion, product: IntelliJ, awaiting-review

#4408 Read product info json instead hardcoded intellij libraries
  plugin_dev/src/com/google/idea/blaze/plugin/run/IntellijWithPluginClasspathHelper.java
Labels: product: IntelliJ, awaiting-review

#4420 Skip USE_BAZEL_VERSION added by CI
  .bazelci/aspect.yml
Labels: topic: bazel, awaiting-review

#4419 Skip USE_BAZEL_VERSION added by CI
  .bazelci/aspect.yml
Labels: topic: bazel, awaiting-review

#4456 Close all stale issues as "not planned" instead of "completed"
  .github/workflows/stale.yml
Labels: type: process, awaiting-review

#4472 Bump to IntelliJ 231.7515.13
  WORKSPACE
  base/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: product: IntelliJ, awaiting-review

#4470 Fix ambiguous labels for Go
  aspect/intellij_info_impl.bzl
Labels: lang: go, awaiting-review

#4497 Bump to 231.7665.28 (EAP 6)
  WORKSPACE
  intellij_platform_sdk/BUILD
Labels: product: IntelliJ, awaiting-review

#4502 Stale workflow - process updates
  .github/workflows/stale.yml
Labels: type: process
