Repository bazelbuild/intellij, pull requests merged in 2023-11, with the labels that each got.

#5579 feat: Support gutter icons in `java_test_suite`
  java/src/com/google/idea/blaze/java/JavaBlazeRules.java
  java/src/com/google/idea/blaze/java/TargetKindUtil.java
  java/src/com/google/idea/blaze/java/sync/source/JavaLikeLanguage.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: product: IntelliJ, awaiting-review

#5507 fix: Allow multiple providers to contribute attribute specific references
  base/src/com/google/idea/blaze/base/lang/buildfile/references/AttributeSpecificStringLiteralReferenceProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/AttributeSpecificStringLiteralReferenceProviderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5611 Update CHANGELOG for v2023.11.07 release
  CHANGELOG
Labels: awaiting-review

#5666 Remove fail soft for ASwB Canary
  .bazelci/android-studio.yml
Labels: product: Android Studio, awaiting-review

#5665 Work around NPE for toolwindow
  base/src/com/google/idea/blaze/base/toolwindow/TasksTreeConsoleView.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5701 Update java example
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/hello/hello.bazelproject
Labels: product: IntelliJ, awaiting-review

#5678 feat: Add support for Starlark float literals
  base/src/com/google/idea/blaze/base/lang/buildfile/highlighting/BuildSyntaxHighlighter.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuiltInNamesProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/BuildLexerBase.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/TokenKind.java
  base/src/com/google/idea/blaze/base/lang/buildfile/parser/ExpressionParsing.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementTypes.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/BuildElementVisitor.java
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/FloatLiteral.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/BlazeLexerTest.java
  base/tests/unittests/com/google/idea/blaze/base/lang/buildfile/lexer/HighlightingLexerTest.java
  skylark/src/com/google/idea/blaze/skylark/debugger/impl/SkylarkDebugValue.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5573 fix: Do not complete ignored directories
  base/src/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManager.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/src/com/google/idea/blaze/base/model/primitives/WorkspaceRoot.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5738 add cpp sdkcompat for clion versions
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v233/BUILD
  cpp/sdkcompat/v233/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
Labels: product: CLion, awaiting-review

#5739 Fix CI
  intellij_platform_sdk/build_defs.bzl
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
Labels: product: IntelliJ, awaiting-review

#5741 Fix 'Non-blaze project is provided' error in GoLand
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackageFactory.java
Labels: product: GoLand, awaiting-review

#5740 Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

#5743 fix: Rename 'fast' run configurations to 'Fast Run' and 'Fast Debug' …
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildDebugExecutor.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildRunExecutor.java
Labels: product: IntelliJ, awaiting-review

#5713 Add unittest for SkylarkDebuggingUtils to check that no exception occurs for non-bazel projects
  BUILD
  base/src/com/google/idea/blaze/base/settings/Blaze.java
  skylark/BUILD
  skylark/src/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtils.java
  skylark/tests/unittests/com/google/idea/blaze/skylark/debugger/SkylarkDebuggingUtilsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5730 Update CHANGELOG for v2023.11.21 release
  CHANGELOG
Labels: awaiting-review

#5769 Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review
