Repository bazelbuild/intellij, pull requests merged in 2023-10, with the labels that each got.

#5340 Add screenshots to DEV_IDE_SETUP.md
  DEV_IDE_SETUP.md
Labels: awaiting-review

#5415 Prepare for 2023.3: Specify 'text' field explicitely in XML file
  base/src/META-INF/blaze-base.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5421 Prepare for 2023.3: Move tests using MyMockApplication to unittests
  java/BUILD
  java/tests/unittests/com/google/idea/blaze/java/libraries/JarCacheTest.java
  java/tests/unittests/com/google/idea/blaze/java/libraries/LoggedJarCacheDirectoryTest.java
Labels: product: IntelliJ, awaiting-review

#5433 Disable Bzlmod explicitly in .bazelrc
  .bazelrc
  MODULE.bazel
Labels: awaiting-review

#5446 Prepare for 2023.3: Move some tasks to background thread.
  base/src/com/google/idea/blaze/base/projectview/ProjectViewStorageManagerImpl.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5436 Update CHANGELOG for v2023.10.10
  CHANGELOG
Labels: awaiting-review

#5398 Bump to 2023.3 EAP
  WORKSPACE
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion233
  intellij_platform_sdk/BUILD.idea233
  intellij_platform_sdk/BUILD.ue233
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v233/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/PluginAdvertiserEditorNotificationProviderWrapperCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/HandlerWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LogRecordWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/logging/LoggerWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v233/com/google/idea/sdkcompat/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/ui/icons/IconManagerCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
  testing/BUILD
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v233/com/google/idea/testing/TestRunnerUtilCompat.java
  testing/testcompat/v233/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
Labels: awaiting-review

#5475 Bump IntelliJ to 2023.3 EAP 4 and use DevKit from Marketplace
  WORKSPACE
  intellij_platform_sdk/BUILD.idea233
  intellij_platform_sdk/BUILD.ue233
  plugin_dev/BUILD
  third_party/devkit/BUILD
Labels: awaiting-review

#5458 Fix manual targets sync for target explicitly specified
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/src/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharder.java
  base/src/com/google/idea/blaze/base/sync/sharding/WildcardTargetExpander.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5471 Adapt paths and line breaks for Windows
  DEV_IDE_SETUP.md
  base/src/com/google/idea/blaze/base/settings/ui/ProjectViewUi.java
  base/src/com/google/idea/blaze/base/wizard2/ImportFromWorkspaceProjectViewOption.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-user-response

#5473 Make //clwb(plugin) and //cpp(plugin) dependency on cidr.lang optional: plugin xmls split
  clwb/BUILD
  clwb/src/META-INF/clwb-oclang.xml
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/oclang/run/BlazeCidrDebuggerSupportFactory.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/CidrGoogleTestUtilAdapter.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/producers/CppTestContextProvider.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/BlazeCidrTestEventsHandler.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/BlazeCppTestInfo.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/BlazeCppTestLocator.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/GoogleTestLocation.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/GoogleTestSpecification.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  clwb/src/com/google/idea/blaze/clwb/run/GoogleTestUtilAdapter.java
  clwb/src/com/google/idea/blaze/clwb/run/RunConfigurationUtils.java
  clwb/tests/unittests/com/google/idea/blaze/clwb/oclang/run/test/BlazeCppTestInfoTest.java
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp-oclang.xml
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfiguration.java
  cpp/src/com/google/idea/blaze/cpp/SourceFileFinder.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCppAutoImportHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeCustomHeaderProvider.java
  cpp/src/com/google/idea/blaze/cpp/oclang/BlazeIncludeHelper.java
  cpp/src/com/google/idea/blaze/cpp/oclang/CppSyncStatusContributor.java
  cpp/src/com/google/idea/blaze/cpp/oclang/OCSourceFileFinder.java
Labels: product: CLion, awaiting-review

#5522 Bump to newest EAPs
  WORKSPACE
  plugin_dev/BUILD
  third_party/devkit/BUILD
Labels: awaiting-review

#5526 fix: Mark package with BUILD.bazel file in completion
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
Labels: product: CLion, product: IntelliJ, product: GoLand

#5530 fix: Force JarCache to be on on JarCache tests
  java/tests/unittests/com/google/idea/blaze/java/libraries/JarCacheTest.java
Labels: product: IntelliJ, awaiting-review

#5557 Bump to 2023.3 EAP 5
  WORKSPACE
Labels: awaiting-review

#5521 Update changelog for 2023.10.24
  CHANGELOG
Labels: awaiting-review

#5529 fix: Depend on upstream jna instead of the bundled one
  WORKSPACE
  testing/test_defs.bzl
Labels: product: IntelliJ, topic: testing, awaiting-review

#5570 Bump grpc-java version
  WORKSPACE
Labels: awaiting-review
