Repository bazelbuild/intellij, pull requests merged in 2023-09, with the labels that each got.

#5219 Sync process optimizations
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoProvider.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5336 Update changelog for release v2023.09.12
  CHANGELOG
Labels: awaiting-review

#5356 Bump IntelliJ and plugins
  WORKSPACE
Labels: awaiting-review

#5359 Auto add labels and assignees to PRs
  .github/workflows/labeler.yml
  .github/workflows/pr-label-and-assignee.yml
Labels: type: process, awaiting-review

#5372 Add @agluszak
  CODEOWNERS
Labels: awaiting-review

#5381 Update changelog for v2023.09.26
  CHANGELOG
Labels: awaiting-review
