Repository bazelbuild/intellij, pull requests merged in 2023-06, with the labels that each got.

#4915 Add associates to dep attributes
  aspect/intellij_info_impl.bzl
Labels: lang: kotlin, product: IntelliJ, awaiting-review

#4888 Bump JUnit to 4.13.2
  WORKSPACE
Labels: product: IntelliJ, awaiting-review

#4883 Bump 2023.1 artifacts
  WORKSPACE
Labels: product: IntelliJ, awaiting-review

#4846 Fix path separator in run configuration generator
  base/src/com/google/idea/blaze/base/model/primitives/WorkspacePath.java
Labels: product: CLion, awaiting-review

#4887 Bump GTest veresion in example project
  examples/cpp/simple_project/.bazelrc
  examples/cpp/simple_project/WORKSPACE
Labels: product: IntelliJ, awaiting-review

#4970 Update changelog for release v2023.06.13
  CHANGELOG
Labels: type: process, awaiting-review

#4947 doc: Do not recommend to manually set jdk17 vm options
  DEV_IDE_SETUP.md
Labels: type: documentation, product: IntelliJ, awaiting-review
