Repository bazelbuild/intellij, pull requests merged in 2023-04, with the labels that each got.

#4689 Update Changelog for v2023.04.04 IDEA & CLion Release
  CHANGELOG
Labels: type: process

#4697 Move IntelliJ and CLion 2023.1 to stable
  intellij_platform_sdk/build_defs.bzl
Labels: product: CLion, product: IntelliJ, awaiting-review

#4702 plugin_dev: Fix run configuration on Mac OS X
  plugin_dev/src/com/google/idea/blaze/plugin/run/IntellijWithPluginClasspathHelper.java
Labels: product: IntelliJ, awaiting-review

#4690 Allow run script path override
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
Labels: product: IntelliJ

#4749 Update changelog for v2023.04.18 IDEA and CLion release
  CHANGELOG
Labels: type: process, awaiting-review

#4767 Update CODEOWNERS
  CODEOWNERS
Labels: type: process

#4803 plugin_dev: Do not pass host IntelliJ's vmOptionsFile to guest IJ instance
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
Labels: product: IntelliJ, awaiting-review
