Repository bazelbuild/intellij, pull requests merged in 2023-08, with the labels that each got.

#5170 Update changelog for release v2023.08.01
  CHANGELOG
Labels: type: process, awaiting-review

#5176 Update changelog for release v2023.08.01
  CHANGELOG
Labels: awaiting-review

#5196 Fix the "No display name is specified' error
  base/src/META-INF/blaze-base.xml
Labels: product: Android Studio, product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5184 Fix detecting custom test_suite macros
  base/src/com/google/idea/blaze/base/model/primitives/Kind.java
Labels: product: Android Studio, product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5235 Update changelog for release v2023.08.15
  CHANGELOG
Labels: type: process, awaiting-review

#5205 Support embedded `go_source` rule type in `go_test` and `go_library` rules
  .github/labeler.yml
  aspect/intellij_info_impl.bzl
  examples/go/with_go_source/BUILD.bazel
  examples/go/with_go_source/WORKSPACE
  examples/go/with_go_source/otherlib/BUILD.bazel
  examples/go/with_go_source/otherlib/otherlib.go
  examples/go/with_go_source/testa/BUILD.bazel
  examples/go/with_go_source/testa/src.go
  examples/go/with_go_source/testa/testa.go
  examples/go/with_go_source/testb/BUILD.bazel
  examples/go/with_go_source/testb/src.go
  examples/go/with_go_source/testb/testb.go
  examples/go/with_go_source/testb/testb_test.go
  examples/go/with_go_source/with_go_source.bazelproject
  examples/go/with_proto/with_proto.bazelproject
Labels: lang: go, awaiting-review

#5258 Auto-assign PRs
  .github/workflows/pr-assignee.yml
Labels: type: process, awaiting-review

#5213 Proper check for git repository
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
Labels: product: Android Studio, product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5262 Make bazel run configurations dumbaware
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationType.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5282 Update changelog for release v2023.08.29
  CHANGELOG
Labels: awaiting-review
