Repository bazelbuild/intellij, pull requests merged in 2023-12, with the labels that each got.

#5801 Update CHANGELOG for 2023.12.05 release
  CHANGELOG
Labels: awaiting-review

#5517 Move IJ and CLion 2023.3 to latest-stable
  intellij_platform_sdk/build_defs.bzl
Labels: product: CLion, product: IntelliJ, awaiting-review

#5689 Allow to have non-existent import entries in `projectview` that pointing to …
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/projectview/ProjectViewSet.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TryImportSection.java
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/references/ProjectViewLabelReferenceTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/scope/ErrorCollector.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5829 Fix buildifier formatting for `MODULE.bazel` and `WORKSPACE`
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5816 feat: Enable debugging the gazelle binary
  golang/src/com/google/idea/blaze/golang/GoBlazeRules.java
Labels: product: GoLand, awaiting-review

#5839 Fix go examples
  examples/go/with_go_source/run_configurations/test_macro_expansion.xml
  examples/go/with_go_source/with_go_source.bazelproject
  examples/go/with_proto/run_configurations/test_macro_expansion.xml
  examples/go/with_proto/with_proto.bazelproject
Labels: product: GoLand, awaiting-review

#5852 Bump JetBrains products versions
  WORKSPACE
Labels: awaiting-review

#5836 bazelrc: set java_runtime_version for builds too
  .bazelrc
Labels: product: IntelliJ, awaiting-review

#5864 fix: Don't throw "Non-blaze project is provided error"
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
Labels: product: IntelliJ, awaiting-review

#5870 Fix gazelle test
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
Labels: product: GoLand, awaiting-review

#5861 Update changelog for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

#5872 Update CHANGELOG for 2023.12.19 release
  CHANGELOG
Labels: awaiting-review

#5873 Fix warnings when syncing a workspace containing a bazelignore file
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/integrationtests/com/google/idea/blaze/base/sync/ImportRootsTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/projectview/TargetExpressionListTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
