Repository bazelbuild/intellij, pull requests merged in 2023-07, with the labels that each got.

#5024 Bump dependency versions
  WORKSPACE
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
Labels: product: IntelliJ, awaiting-user-response

#5046 Update CHANGELOG for release v2023.07.04
  CHANGELOG
Labels: type: process, awaiting-review

#5049 fix aswb canary
  sdkcompat/v213/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
  sdkcompat/v223/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/as/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v231/com/google/idea/sdkcompat/as/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v231/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/java/JavaSafeDeleteProcessorAdapter.java
Labels: product: Android Studio, awaiting-review

#5047 Move IntelliJ and CLion 2023.2 to latest-stable
  intellij_platform_sdk/build_defs.bzl
Labels: product: CLion, product: IntelliJ, awaiting-review

#5093 Bump deps
  WORKSPACE
Labels: product: IntelliJ, awaiting-review

#5104 Update changelog for release v2023.07.18
  CHANGELOG
Labels: type: process, awaiting-review

#5141 Bump CLion to RC
  WORKSPACE
Labels: product: CLion, awaiting-review

#5143 Automatically assign issues to triage team and add "type" labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: process, awaiting-review

#5160 README.md: Add information about using IntelliJ versions instead of a…
  README.md
Labels: product: IntelliJ, awaiting-review

#5157 Bump IntelliJ versions
  WORKSPACE
Labels: product: IntelliJ, awaiting-review

#5164 Fix references for repo-relative labels in external workspaces
  base/src/com/google/idea/blaze/base/lang/buildfile/references/LabelUtils.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceTest.java
Labels: product: IntelliJ, awaiting-review

#5142 Automatically label/unlabel opened/closed PRs respectively
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/remove-labels.yml
Labels: type: process, awaiting-review
