Repository bazelbuild/intellij, pull requests merged in 2023-03, with the labels that each got.

#4517 Adds not stale label on copybara-service[bot] PR's
  .github/workflows/notstale.yml
Labels: type: process, awaiting-review

#4539 Applying permission to write only on pull-requests
  .github/workflows/notstale.yml
Labels: type: process, awaiting-review

#4541 Bump to IntelliJ 231.7864.76 and CLion 231.7864.77
  WORKSPACE
Labels: product: CLion, product: IntelliJ, awaiting-review

#4550 Pass `--path` to buildifier when possible
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatOnSaveHandler.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierCustomFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierFormattingService.java
Labels: product: IntelliJ, awaiting-user-response

#4559 Add missing testing compat class for 2022.3
  testing/testcompat/v223/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
Labels: product: IntelliJ, awaiting-review

#4552 Update changelog for v2023.03.07 IDEA & CLion release
  CHANGELOG
Labels: type: process, awaiting-review

#4584 Update stale workflow (final) - 6 months
  .github/workflows/stale.yml
Labels: type: process, awaiting-review

#4599 Bump IntelliJ to 231.8109.90 and CLion to 231.8109.80
  WORKSPACE
Labels: product: CLion, product: IntelliJ, awaiting-review

#4622 GitHub Action clean up + add "copybara-exported" to exempt labels
  .github/workflows/notstale.yml
  .github/workflows/stale.yml
Labels: type: process, awaiting-review

#4615 Update Changelog for v2023.03.21 IDEA & CLion Release
  CHANGELOG
Labels: type: process, awaiting-review

#4638 Bump IntelliJ to 231.8109.144 and CLion to 231.8109.141
  WORKSPACE
Labels: product: CLion, product: IntelliJ, awaiting-review

#4632 Superclass method test runs run the correct method
  java/src/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducer.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducerTest.java
Labels: product: IntelliJ
