Repository bazelbuild/intellij, pull requests merged in 2024-08, with the labels that each got.

#6585 Project Status API integration with bazel for CLion
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  clwb/sdkcompat/BUILD
  clwb/sdkcompat/v223/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v223/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/sdkcompat/v231/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v231/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/sdkcompat/v232/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v232/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/sdkcompat/v233/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v233/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/sdkcompat/v241/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v241/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/sdkcompat/v242/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v242/com/google/idea/blaze/clwb/CLionNotificationProvider.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  clwb/src/com/google/idea/blaze/plugin/ClwbProjectSpecificInitializer.java
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6606 Implement py imports handling
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/ideinfo/PyIdeInfo.java
  proto/intellij_ide_info.proto
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
  python/src/com/google/idea/blaze/python/resolve/provider/BazelPyImportResolverStrategy.java
  python/tests/unittests/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategyTest.java
  python/tests/unittests/com/google/idea/blaze/python/resolve/provider/MockArtifactLocationPsiElement.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6611 Fix test with bazel@head
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: awaiting-review

#6612 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6619 Use Logger.assertTrue in CommandLineTask
  common/util/src/com/google/idea/async/process/CommandLineTask.java
Labels: awaiting-review

#6620 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6617 Don't print AswbDumpVfs logs any more
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/internal/AswbDumpVfs.java
  sdkcompat/v223/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/platform/FileWatcherNotificationSinkCompat.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6616 fix: "NoClassDefFoundError: com/intellij/history/core/Paths"
  base/BUILD
  base/src/META-INF/dependency-on-lvcs-impl.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6581 Integration test for CLion
  .bazelci/clion.yml
  .bazelrc
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  aspect/BUILD
  aspect/WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  clwb/BUILD
  clwb/clwb.bazelproject
  clwb/test_defs.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/SimpleTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/Assertions.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/ClwbIntegrationTestCase.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/SyncOutput.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/TestAspectRepositoryProvider.java
  clwb/tests/projects/simple/WORKSPACE
  clwb/tests/projects/simple/main/BUILD
  clwb/tests/projects/simple/main/hello-world.cc
  intellij_platform_sdk/BUILD.clion213
  intellij_platform_sdk/BUILD.clion221
  intellij_platform_sdk/BUILD.clion222
  intellij_platform_sdk/BUILD.clion223
  intellij_platform_sdk/BUILD.clion231
  intellij_platform_sdk/BUILD.clion232
  intellij_platform_sdk/BUILD.clion233
  intellij_platform_sdk/BUILD.clion241
  intellij_platform_sdk/BUILD.clion242
  testing/src/com/google/idea/testing/BlazeTestSystemProperties.java
  testing/test_defs.bzl
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6605 handling for rules that involve transitions
  base/src/com/google/idea/blaze/base/model/primitives/Kind.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6622 fix: "directories section empty" error in auto import
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6623 fix: "Error: 'list' value has no field or method 'jars'" error when o…
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#6629 Accept `org_scala_lang_scala_library` as Scala library name
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
Labels: product: IntelliJ, awaiting-review

#6637 chore: Migrate Go examples to bzlmod
  examples/go/with_go_source/MODULE.bazel
  examples/go/with_go_source/MODULE.bazel.lock
  examples/go/with_go_source/WORKSPACE
  examples/go/with_go_source/with_go_source.bazelproject
  examples/go/with_proto/MODULE.bazel
  examples/go/with_proto/MODULE.bazel.lock
  examples/go/with_proto/WORKSPACE
  examples/go/with_proto/go/BUILD.bazel
  examples/go/with_proto/proto/BUILD.bazel
Labels: product: GoLand, awaiting-review

#6630 Add a note about the difference between master and google branches to the README
  README.md
Labels: type: documentation, awaiting-review

#6636 Update changelog for v2024.08.13 release
  CHANGELOG
Labels: awaiting-review

#6640 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6615 Added build folder action
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/actions/CompileFolderAction.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6645 fix: Exception when opening a JavaScript project
  javascript/src/com/google/idea/blaze/javascript/BlazeJavascriptLibrarySource.java
Labels: product: IntelliJ, awaiting-review

#6595 Invoke bazel build during sync using --target_pattern_fi…
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6634 fix go test not found problem
  base/tests/utils/integration/com/google/idea/blaze/base/run/producers/BlazeRunConfigurationProducerTestCase.java
  golang/src/com/google/idea/blaze/golang/run/producers/GoTestContextProvider.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/producers/BlazeGoTestConfigurationProducerTest.java
Labels: product: GoLand, awaiting-review

#6653 fix: Sync fails with Unrecognized option: --aspects_parameters for Ba…
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6667 Drop support IntelliJ 2021.3 - part 1
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/build_defs.bzl
  testing/BUILD
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
Labels: awaiting-review

#6669 [#6664] Add basic model for ExternalWorkspaces - 1/n
  base/src/com/google/idea/blaze/base/model/AspectSyncProjectData.java
  base/src/com/google/idea/blaze/base/model/BlazeProjectData.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceData.java
  base/src/com/google/idea/blaze/base/model/primitives/ExternalWorkspace.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/tests/utils/unit/com/google/idea/blaze/base/model/MockBlazeProjectDataBuilder.java
  proto/project_data.proto
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6670 chore: Drop support IntelliJ 2021.3 - part 2
  WORKSPACE.bzlmod
Labels: awaiting-review

#6665 fix: Resolve collision between view_project_root and "directories: ."
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6660 Update changelog for v2024.08.27 release
  CHANGELOG
Labels: awaiting-review

#6677 chore: inline `testAnnotator` wrapper method
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/validation/BuiltInRuleAnnotatorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/validation/GlobValidationTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/validation/LoadStatementAnnotatorTest.java
  testing/testcompat/v221/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v222/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6678 chore: Remove unused 212-related wrappers
  testing/testcompat/v221_as/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
  testing/testcompat/v221_ij/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
  testing/testcompat/v222/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
  testing/testcompat/v223/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
  testing/testcompat/v231/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
  testing/testcompat/v232/com/google/idea/sdkcompat/indexing/ProjectIndexingHistoryWrapper.java
Labels: awaiting-review

#6682 chore: Add @Override annotation as 212 api is already dropped
  cpp/src/com/google/idea/blaze/cpp/BlazeLanguageKindCalculatorHelper.java
Labels: product: CLion, awaiting-review

#6681 chore: fix sdkcompat api annotations
  testing/testcompat/v221/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v222/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

#6683 chore: Remove 212 kotlin producers from the Supressor
  java/src/com/google/idea/blaze/java/run/producers/NonBlazeProducerSuppressor.java
Labels: product: IntelliJ, awaiting-review

#6673 [#6664] Add `blaze mod ...` runner implementation - 2/n
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/BlazeCommandName.java
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModException.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunner.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6675 Remove `rules_android` dependency and unused tests
  MODULE.bazel
  MODULE.bazel.lock
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/aidl/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/aidl/TestAidlService.aidl
  querysync/javatests/com/google/idea/blaze/qsync/testdata/aidl/TestAndroidAidlClass.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/AndroidManifest.xml
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/android/TestAndroidClass.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/AndroidInstrumentationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/AndroidManifest.xml
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/AppManifest.xml
  querysync/javatests/com/google/idea/blaze/qsync/testdata/instrumentationtest/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/kotlinandroidlib/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/kotlinandroidlib/TestKotlinAndroidLib.kt
Labels: awaiting-review

#6674 [#6664] Add a ExternalWorkspaceDataProvider and wire inside the sync - 3/n
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunner.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectState.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  cpp/src/com/google/idea/blaze/cpp/CppAspectArgsProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6688 chore: drop 213: Remove unused Scala compatibility methods
  scala/src/com/google/idea/blaze/scala/run/producers/ScalaBinaryContextProvider.java
  sdkcompat/v221/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/scala/ScalaCompat.java
Labels: product: IntelliJ, awaiting-review

#6687 chore: drop 213: Remove unused BaseJavaSdkTestCompat
  testing/testcompat/v221/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v222/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v223/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
Labels: awaiting-review

#6686 chore: drop 213: Inline createLightFixtureBuilder from sdkcompat
  testing/src/com/google/idea/testing/AbstractIntegrationTestCase.java
  testing/testcompat/v221/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v222/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

#6689 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6690 chore: drop 213: Remove unused SdkCompat methods
  sdkcompat/v221/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/BaseSdkCompat.java
Labels: awaiting-review

#6691 chore: drop 213: Inline EditorNotificationCompat
  java/src/com/google/idea/blaze/java/libraries/DisableLibraryBytecodeNotification.java
  sdkcompat/v221/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
Labels: product: IntelliJ, awaiting-review

#6695 chore: drop 213: Inline some KotlinCompat methods
  kotlin/src/com/google/idea/blaze/kotlin/qsync/BlazeKotlinQuerySyncPlugin.java
  kotlin/src/com/google/idea/blaze/kotlin/sync/BlazeKotlinSyncPlugin.java
  sdkcompat/v221/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
Labels: product: IntelliJ, awaiting-review

#6694 chore: drop 213: Remove unused BaseSdkCompat
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/ui/WorkspaceFileTextField.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectCreator.java
  sdkcompat/v221/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/BaseSdkCompat.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6697 chore: drop 213: Align KotlinCompat among multiple sdkcompat versions
  sdkcompat/v222/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v223/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
Labels: awaiting-review

#6696 chore: drop 213: Update deprecated method use
  kotlin/src/com/google/idea/blaze/kotlin/run/producers/KotlinBinaryContextProvider.java
Labels: product: IntelliJ, awaiting-review

#6685 Enable not building unnecessary jars by default
  MODULE.bazel.lock
  aspect/intellij_info_impl.bzl
  aspect/testing/rules/intellij_aspect_test_fixture.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/NoIdeTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/DependenciesTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/JavaBinaryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/JavaLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/ScalaBinaryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/ScalaLibraryTest.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
