Repository bazelbuild/intellij, pull requests merged in 2024-06, with the labels that each got.

#6434 Support JetBrains IDEs 2024.2
  WORKSPACE.bzlmod
  base/tests/integrationtests/com/google/idea/blaze/base/run/state/BlazeCommandRunConfigurationCommonStateTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  ext/BUILD
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/BUILD.idea242
  intellij_platform_sdk/BUILD.ue242
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  sdkcompat/v242/BUILD
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v242/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/BaseSdkCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/EditorNotificationCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/PluginAdvertiserEditorNotificationProviderWrapperCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v242/com/google/idea/sdkcompat/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/scala/ScalaCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/ui/icons/IconManagerCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
  testing/BUILD
  testing/testcompat/v242/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v242/com/google/idea/testing/TestRunnerUtilCompat.java
  testing/testcompat/v242/com/google/idea/testing/java/BaseJavaSdkTestCompat.java
  third_party/devkit/BUILD
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
  third_party/toml/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6153 Editor notification on bazel files if the project is not imported
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/wizard2/BazelDisableImportNotification.java
  base/src/com/google/idea/blaze/base/wizard2/BazelImportCurrentProjectAction.java
  base/src/com/google/idea/blaze/base/wizard2/BazelNotificationProvider.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6458 fix: Default to project name to workspace name instead of root directory
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6465 Update CHANGELOG for v2024.06.04
  CHANGELOG
Labels: awaiting-review

#6462 fix: Rely on the bazel zipper instead of zip
  intellij_platform_sdk/build_defs.bzl
Labels: product: IntelliJ, topic: bazel, awaiting-review

#6459 fix: Mark saveAllFiles as a WriteAction
  base/src/com/google/idea/blaze/base/util/SaveUtil.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6463 fix(coverage): Account for SHA in lcov DA parsing
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageData.java
  java/tests/unittests/com/google/idea/blaze/java/run/coverage/BlazeCoverageDataTest.java
Labels: product: IntelliJ, awaiting-review

#6470 fix: Use argfile with bazel zipper
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

#6477 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6476 Revert "Automatic code cleanup." - Remove dependency on rules_java
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
Labels: product: CLion, awaiting-review

#6419 Fix for wrong compiler executable when using custom toolchains
  MODULE.bazel.lock
  aspect/intellij_info_impl.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/cctoolchain/CcToolchainTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/targetmapbuilder/NbTargetMapBuilderTest.java
  aswb/tests/utils/integration/com/google/idea/blaze/android/targetmapbuilder/NbCcToolchain.java
  base/src/com/google/idea/blaze/base/ideinfo/CToolchainIdeInfo.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfigurationData.java
  cpp/src/com/google/idea/blaze/cpp/CppAspectArgsProvider.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeResolveConfigurationEquivalenceTest.java
  proto/intellij_ide_info.proto
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6489 fix: "Read access is allowed from inside read-action" exception when opening a file
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6485 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6493 fix: Missing directories when view_project_root is on
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6491 Remove unused custom java 17 toolchain
  BUILD
  WORKSPACE.bzlmod
Labels: product: IntelliJ, awaiting-review

#6484 Update changelog for v2024.06.18 release
  CHANGELOG
Labels: awaiting-review

#6469 Support CLion 2024.2
  WORKSPACE.bzlmod
  clwb/src/com/google/idea/blaze/plugin/CMakeNotificationFilter.java
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v242/BUILD
  cpp/sdkcompat/v242/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/v221/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CMakeNotificationProviderWrapper.java
  third_party/javascript/BUILD
Labels: product: CLion, awaiting-review

#6497 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6502 fix: Display "Coverage" tool window correctly after executing "run wi…
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageEngine.java
Labels: product: IntelliJ, awaiting-review

#6515 Bump JetBrains plugins
  WORKSPACE.bzlmod
Labels: awaiting-review

#6512 Automatically add assignees to issues based on product labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/issue-assignee.yml
Labels: type: process, awaiting-review

#6508 Use a global bounded threadpool when using persistent workers
  aspect/tools/src/com/google/idea/blaze/aspect/PackageParser.java
  aspect/tools/tests/unittests/com/google/idea/blaze/aspect/PackageParserTest.java
Labels: product: IntelliJ, awaiting-review

#6534 Disable include hints (-ibazel) by default
  base/src/META-INF/blaze-base.xml
Labels: awaiting-review

#6521 trusted project: respect intellij settings controlling project trustness
  base/src/com/google/idea/blaze/base/project/TrustAwareProjectCreator.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
