Repository bazelbuild/intellij, pull requests merged in 2024-10, with the labels that each got.

#6810 Add java home to the blaze info
  base/src/com/google/idea/blaze/base/command/info/BlazeInfo.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunnerImpl.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  java/tests/integrationtests/com/google/idea/blaze/java/fastbuild/FastBuildChangedFilesServiceTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6805 chore: Bump JetBrains IDEs
  MODULE.bazel
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfigServiceImpl.java
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceImplCompat.java
Labels: product: IntelliJ, awaiting-review

#6816 feature: Cache 'bazel info' results
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6818 chore: Aspect templating - 3/n - pass 'Project' to AspectRepositoryPr…
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunnerImpl.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQuerySourceToTargetProvider.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/qsync/CandidatePackageFinder.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/sync/actions/CleanProjectTargetsSyncAction.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/sync/sharding/WildcardTargetExpander.java
  base/tests/unittests/com/google/idea/blaze/base/command/BlazeCommandTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/TestAspectRepositoryProvider.java
  cpp/src/com/google/idea/blaze/cpp/XcodeCompilerSettingsProviderImpl.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunner.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleRunnerImpl.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncListener.java
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypescriptSyncPlugin.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6759 CLion Virtual Include Fixes
  .bazelrc
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  clwb/BUILD
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/VirtualIncludesTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/Assertions.java
  clwb/tests/projects/virtual_includes/WORKSPACE
  clwb/tests/projects/virtual_includes/lib/strip_absolut/BUILD.bazel
  clwb/tests/projects/virtual_includes/lib/strip_absolut/strip_absolut.cc
  clwb/tests/projects/virtual_includes/lib/strip_absolut/strip_absolut.h
  clwb/tests/projects/virtual_includes/lib/strip_relative/BUILD.bazel
  clwb/tests/projects/virtual_includes/lib/strip_relative/include/strip_relative.h
  clwb/tests/projects/virtual_includes/lib/strip_relative/strip_relative.cc
  clwb/tests/projects/virtual_includes/main/BUILD
  clwb/tests/projects/virtual_includes/main/hello-world.cc
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6825 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6828 fix: Fix bazel mod deps execution
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6776 chore: python demo
  examples/python/with_numpy/.bazelrc
  examples/python/with_numpy/BUILD.bazel
  examples/python/with_numpy/MODULE.bazel
  examples/python/with_numpy/app/BUILD.bazel
  examples/python/with_numpy/app/main.py
  examples/python/with_numpy/requirements.txt
  examples/python/with_numpy/tools/intellij/.managed.bazelproject
Labels: awaiting-review

#6817 Support Jetbrains IDEs 243 - CLion
  MODULE.bazel
  MODULE.bazel.lock
  clwb/clwb.bazelproject
  clwb/sdkcompat/BUILD
  clwb/sdkcompat/v243/BUILD
  clwb/sdkcompat/v243/com/google/idea/blaze/clwb/BazelCNotificationProvider.java
  clwb/sdkcompat/v243/com/google/idea/blaze/clwb/CLionNotificationProvider.kt
  clwb/sdkcompat/v243/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/test_defs.bzl
  cpp/sdkcompat/BUILD
  cpp/sdkcompat/v243/BUILD
  cpp/sdkcompat/v243/com/google/idea/blaze/cpp/qsync/OCWorkspaceModifiableModelDisposer.java
  intellij_platform_sdk/BUILD.clion243
  intellij_platform_sdk/build_defs.bzl
  testing/test_defs.bzl
  third_party/javascript/BUILD
Labels: product: CLion, product: IntelliJ, awaiting-review

#4473 Implement JUnit5 support and parameterize tests
  aspect/fast_build_info.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
  examples/java/greetings_project/BUILD.bazel
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/greeting_lib/tests/com/example/junit4/GreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit4/ParameterizedGreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit5/GreetingTest.java
  examples/java/greetings_project/greeting_lib/tests/com/example/junit5/ParameterizedGreetingTest.java
  examples/java/greetings_project/junit5_deps.bzl
  examples/java/greetings_project/maven_install.json
  java/src/com/google/idea/blaze/java/JavaBlazeRules.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildBlazeData.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/JUnitTestHeuristic.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestEnvironmentCreator.java
  java/src/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlags.java
  java/src/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducer.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/CombinedTestHeuristicTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/JUnitTestHeuristicTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsIntegrationTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestClassConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestMethodConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/MultipleJavaClassesTestContextProviderTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/utils/BlazeJUnitRunConfigurationProducerTestCase.java
  java/tests/integrationtests/com/google/idea/blaze/java/utils/JUnitTestUtils.java
  java/tests/unittests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsTest.java
  proto/fast_build_info.proto
Labels: product: IntelliJ, topic: testing, awaiting-review

#6833 fix: Query Sync doesn't crash on projects using BUILD.bazel file names
  aspect/build_dependencies.bzl
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review

#6806 Update testing platform for ubuntu
  .bazelci/android-studio.yml
  .bazelci/aspect.yml
  .bazelci/clion.yml
  .bazelci/intellij-ue.yml
  .bazelci/intellij.yml
Labels: product: IntelliJ, topic: bazel, awaiting-review

#6835 fix: Query Sync works for kotlin
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review

#6841 fix: Query Sync: don't check for validity of excludes that are system…
  aswb/tests/unittests/com/google/idea/blaze/android/libraries/RenderJarCacheTest.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/unittests/com/google/idea/blaze/base/sync/projectview/TargetExpressionListTest.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6837 [fix] Use parent context in getCachedBlazeInfo
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6839 [fix] Confirm if user wants to reimport instead of disallowing it
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6844 chore: Aspect templating - 4/n - extract apply_hack.bzl
  aspect/BUILD
  aspect/BUILD.aspect
  aspect/flag_hack.bzl
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#6846 `--incompatible_use_plus_in_repo_names` is present only starting from…
  .bazelversion
Labels: awaiting-review

#6853 [feature] Recognize WORKSPACE.bzlmod files
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystemProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6851 fix: Use "" alias for for the root module back
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6865 chore: Make clwb config appearing by default
  clwb/clwb.bazelproject
Labels: product: CLion, awaiting-review

#6857 fix: project sync failing due to an error in rules_rust
  .bazelrc
Labels: awaiting-review

#6866 chore: Aspect templating - 5/n - bundled-only section
  aspect/BUILD
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#6860 Disable bazel deps call. It's unused yet, and could fail
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6869 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6859 Update changelog for v2024.10.08 release
  CHANGELOG
Labels: awaiting-review

#6842 chore: copy some aspect files to the client side to prepare for templating
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  aspect/BUILD
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
  aspect/java_info.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect_template/BUILD
  aspect_template/BUILD.aspect
  aspect_template/MODULE.bazel
  aspect_template/java_info.bzl
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/util/FileUtil.java
  base/src/com/google/idea/blaze/base/util/TemplateWriter.java
  build-visibility.bzl
  clwb/BUILD
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/TestAspectRepositoryProvider.java
  ijwb/BUILD
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6871 SyncListener for aspect templating
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/BlazeSyncManager.java
  base/src/com/google/idea/blaze/base/sync/SyncScope.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
  base/src/com/google/idea/blaze/base/util/TemplateWriter.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  clwb/BUILD
  clwb/test_defs.bzl
  testing/src/com/google/idea/testing/ServiceHelper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6862 Upgrade protobuf and load proto_library and lang_proto_library from it
  MODULE.bazel
  MODULE.bazel.lock
  aspect/testing/rules/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/go/go_proto_library/BUILD
  maven_install.json
  proto/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  shared/java/com/google/idea/blaze/common/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/packages/metrics/BUILD
  third_party/bazel/src/main/java/com/google/devtools/build/lib/starlarkdebug/proto/BUILD
  third_party/bazel/src/main/protobuf/BUILD
Labels: product: IntelliJ, awaiting-review

#6873 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6847 [fix] Fix python debugging
  python/src/com/google/idea/blaze/python/run/BlazePyDebugRunner.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
Labels: product: IntelliJ, awaiting-review

#6625 Download Buildifier Binary
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierDownloader.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierFormattingService.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierNotification.java
  base/src/com/google/idea/blaze/base/buildmodifier/DefaultBuildifierBinaryProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/buildmodifier/BuildifierDownloaderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6726 Support for Python Rules that are Code Generators
  aspect/intellij_info_impl.bzl
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryTargetTagFilter.java
  base/src/com/google/idea/blaze/base/dependencies/TargetTagFilter.java
  base/src/com/google/idea/blaze/base/ideinfo/Tags.java
  base/src/com/google/idea/blaze/base/model/primitives/LanguageClass.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/tests/unittests/com/google/idea/blaze/base/dependencies/BlazeQueryTargetTagFilterTest.java
  docs/python/code-generators.md
  docs/python/images/code-generators.svg
  examples/python/simple_code_generator/.gitignore
  examples/python/simple_code_generator/MODULE.bazel
  examples/python/simple_code_generator/README.md
  examples/python/simple_code_generator/example/BUILD.bazel
  examples/python/simple_code_generator/example/main.py
  examples/python/simple_code_generator/example/rules.bzl
  examples/python/simple_code_generator/example/things/places/rivers.py
  python/src/com/google/idea/blaze/python/PythonBlazeRules.java
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
  python/tests/unittests/com/google/idea/blaze/python/PythonBlazeRulesTest.java
  python/tests/unittests/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategyTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6872 fix: Re-realize aspect files after plugin update
  .bazelci/clion.yml
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6880 Document query sync
  docs/querysync.md
Labels: awaiting-review

#6881 Update querysync.md
  docs/querysync.md
Labels: awaiting-review

#6883 Set runfiles vars to absolute paths when debugging Go tests
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
Labels: product: GoLand, awaiting-review

#6884 fix: Disable python codegen support by default
  base/src/com/google/idea/blaze/base/projectview/section/sections/EnablePythonCodegenSupport.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  examples/python/simple_code_generator/tools/intellij/.managed.bazelproject
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6890 chore: Bump CLion
  MODULE.bazel
  MODULE.bazel.lock
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRemoteDebugProcess.java
Labels: product: CLion, awaiting-review

#6888 Fix starlark debugger
  skylark/src/com/google/idea/blaze/skylark/debugger/impl/SkylarkDebugProcess.java
Labels: awaiting-review

#6894 doc: Document gazelle integration
  docs/gazelle.md
Labels: awaiting-review

#6899 doc: Document the starlark debugger
  docs/starlark_debugger.md
Labels: awaiting-review

#6898 Update querysync.md
  docs/querysync.md
Labels: product: IntelliJ, awaiting-review

#6903 fix: fast test not working when main class is not set
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestEnvironmentCreator.java
Labels: product: IntelliJ, awaiting-review

#6904 doc: Document fast builds
  docs/fastbuild.md
Labels: awaiting-review

#6901 fix: fast sync with bazel 8 or when --incompatible_use_plus_in_repo_names is on
  java/src/com/google/idea/blaze/java/run/fastbuild/BazelFastBuildTestEnvironmentCreator.java
Labels: product: IntelliJ, awaiting-review

#6905 doc: Table of contents
  docs/index.md
Labels: awaiting-review

#6906 doc: Refer to the new docpage
  README.md
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystemProvider.java
  ijwb/src/META-INF/description.html
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6900 Decorate tabs for BUILD files with package name
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/editor/BazelEditorTabTitleProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6916 feat: More descriptive location labels (instead of just .workspace)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/ui/BlazeModuleRendererFactory.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6910 BEP parse unknown targets in aborted event
  base/src/com/google/idea/blaze/base/buildview/events/AbortedParser.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6918 Resolve aspect test build issue on mac
  aspect/testing/tests/src/com/google/idea/blaze/aspect/cpp/coptsmakevars/CoptsMakeVarsTest.java
Labels: awaiting-review

#6920 Update changelog for v2024.10.22 release
  CHANGELOG
Labels: awaiting-review

#6921 chore: bump CLion
  MODULE.bazel
Labels: awaiting-review

#6911 Use execroot for compiler working directory
  .bazelrc
  clwb/BUILD
  clwb/test_defs.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/LlvmToolchainTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/SimpleTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/VirtualIncludesTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/Assertions.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/BazelVersionRule.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/OSRule.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/Statements.java
  clwb/tests/projects/llvm_toolchain/MODULE.bazel
  clwb/tests/projects/llvm_toolchain/WORKSPACE
  clwb/tests/projects/llvm_toolchain/main/BUILD
  clwb/tests/projects/llvm_toolchain/main/hello-world.cc
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6925 Do not decorate tabs for BUILD files in non-bazel projects
  base/src/com/google/idea/blaze/base/editor/BazelEditorTabTitleProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6919 CLion support for cc_library implementation deps
  .bazelrc
  aspect/intellij_info_impl.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/VirtualIncludesTest.java
  clwb/tests/projects/virtual_includes/lib/impl_deps/BUILD
  clwb/tests/projects/virtual_includes/lib/impl_deps/impl.cc
  clwb/tests/projects/virtual_includes/lib/impl_deps/impl.h
  clwb/tests/projects/virtual_includes/lib/strip_absolut/BUILD
  clwb/tests/projects/virtual_includes/main/BUILD
  clwb/tests/projects/virtual_includes/main/hello-world.cc
Labels: product: CLion, awaiting-review

#6926 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6929 chore: bump bazel version for tests
  MODULE.bazel
Labels: awaiting-review

#6891 Breakpoints do not get triggered in Golang projects running C extensions via cgo #6416
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/ideinfo/GoIdeInfo.java
  base/tests/utils/unit/com/google/idea/blaze/base/model/MockBlazeProjectDataBuilder.java
  golang/src/com/google/idea/blaze/golang/run/BlazeDlvPositionConverter.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/BlazeDlvPositionConverterTest.java
  proto/intellij_ide_info.proto
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6879 feat: Query Sync for Python 1/n - non-analysis mode
  base/src/com/google/idea/blaze/base/qsync/LanguageClasses.java
  examples/python/with_numpy/app/main.py
  examples/python/with_numpy/lib/BUILD.bazel
  examples/python/with_numpy/lib/symbols.py
  python/BUILD
  python/src/com/google/idea/blaze/python/resolve/BlazePyResolverUtils.java
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/java/com/google/idea/blaze/qsync/project/language_class.proto
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6931 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6889 Supply code-gen rule names via settings
  aspect/intellij_info_impl.bzl
  aspect_template/BUILD
  aspect_template/code_generator_info.bzl
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryTargetTagFilter.java
  base/src/com/google/idea/blaze/base/dependencies/TargetTagFilter.java
  base/src/com/google/idea/blaze/base/ideinfo/PyIdeInfo.java
  base/src/com/google/idea/blaze/base/ideinfo/Tags.java
  base/src/com/google/idea/blaze/base/model/primitives/LanguageClass.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/EnablePythonCodegenSupport.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncPlugin.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
  base/src/com/google/idea/blaze/base/sync/codegenerator/CodeGeneratorRuleNameHelper.java
  base/src/com/google/idea/blaze/base/util/TemplateWriter.java
  base/tests/unittests/com/google/idea/blaze/base/dependencies/BlazeQueryTargetTagFilterTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  docs/python/code-generators.md
  examples/python/simple_code_generator/README.md
  examples/python/simple_code_generator/example/BUILD.bazel
  examples/python/simple_code_generator/generated/BUILD.bazel
  examples/python/simple_code_generator/lib/BUILD.bazel
  examples/python/simple_code_generator/lib/things/places/rivers.py
  examples/python/simple_code_generator/rules/BUILD.bazel
  examples/python/simple_code_generator/rules/rules.bzl
  examples/python/simple_code_generator/tools/intellij/.managed.bazelproject
  proto/intellij_ide_info.proto
  python/src/com/google/idea/blaze/python/PythonBlazeRules.java
  python/src/com/google/idea/blaze/python/projectview/PythonCodeGeneratorRuleNamesSection.java
  python/src/com/google/idea/blaze/python/sync/BlazePythonSyncPlugin.java
  python/tests/unittests/com/google/idea/blaze/python/PythonBlazeRulesTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6941 fix(qsync): Enable basic syntax highlighting in 'analysis disabled' mode
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingSettingProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6938 Issue 3555 illegal character trying to debug gotest
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
Labels: product: GoLand, awaiting-review

#6944 Use git info only when Expand to Working Set is enabled
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6949 fix: 2024.3 builds
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
Labels: awaiting-review
