Repository bazelbuild/intellij, pull requests merged in 2024-04, with the labels that each got.

#6356 Update assignee in issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: product: IntelliJ, awaiting-maintainer

#6218 Cherry-pick "Prevent the bazel plugin from being used for non-Android C++ development in Android Studio."
  aswb/BUILD
  aswb/src/META-INF/aswb.xml
  aswb/src/com/google/idea/blaze/android/cppimpl/NdkCppSupportChecker.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/ClwbSupportsCpp.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/CppSupportChecker.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: product: CLion, awaiting-review

#6366 Update README.md
  README.md
Labels: awaiting-review

#6368 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6367 Extend "Known Limitations" in README.md
  README.md
Labels: awaiting-review

#6377 Fix: Silence false positive "No such target" errors for files in the project root
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6372 Update CHANGELOG for 2024.04.09 release
  CHANGELOG
Labels: awaiting-review

#6387 Feature flags for resolve virtual includes using heuristics or clangd
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6395 Add invoke later call to import project action
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6388 feat: create "Add package" EditorNotificationPanel if derive_targets_from_directories is on
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectHelper.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6401 Update changelog for v2024.04.23 release
  CHANGELOG
Labels: awaiting-review
