Repository bazelbuild/intellij, pull requests merged in 2024-09, with the labels that each got.

#6704 [#6664] Default disable `ExternalWorkspaceDataProvider`
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6706 chore: Add a registry flag to disable ExternalWorkspaceDataProvider
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6711 [#6664] Gate `ExternalWorkspaceDataProvider` on bzlmod being enabled
  base/src/com/google/idea/blaze/base/command/info/BlazeInfo.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunnerImpl.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6715 221 remove sdkcompat layers
  WORKSPACE.bzlmod
  base/BUILD
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion221
  intellij_platform_sdk/BUILD.idea221
  intellij_platform_sdk/BUILD.ue221
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  sdkcompat/v221/BUILD
  sdkcompat/v221/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v221/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v221/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v221/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
  testing/BUILD
  testing/testcompat/v221/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v221/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v221/com/google/idea/testing/TestRunnerUtilCompat.java
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6716 221 remove base sdk test compat
  testing/src/com/google/idea/testing/ServiceHelper.java
  testing/testcompat/v222/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v223/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v231/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v232/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v233/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v241/com/google/idea/sdkcompat/BaseSdkTestCompat.java
  testing/testcompat/v242/com/google/idea/sdkcompat/BaseSdkTestCompat.java
Labels: awaiting-review

#6717 chore: drop 222: Remove sdkcompat layers and configs
  WORKSPACE.bzlmod
  aswb/BUILD
  base/BUILD
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion222
  intellij_platform_sdk/BUILD.idea222
  intellij_platform_sdk/BUILD.ue222
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  sdkcompat/v222/BUILD
  sdkcompat/v222/com/google/idea/sdkcompat/cpp/CidrOwnModuleDetectorWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v222/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v222/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v222/com/google/idea/sdkcompat/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/ui/icons/IconManagerCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v222/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
  testing/BUILD
  testing/testcompat/v222/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v222/com/google/idea/testing/TestRunnerUtilCompat.java
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6710 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: product: IntelliJ, awaiting-review

#6700 [#6664] Resolve a workspace label across external repositories - 4/n
  MODULE.bazel.lock
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/lang/buildfile/references/LabelReference.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceData.java
  base/src/com/google/idea/blaze/base/model/primitives/ExternalWorkspace.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspaceHelper.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/RuleTargetCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/findusages/ExternalWorkspaceFindUsagesTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceBzlModeTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/ExternalWorkspaceFixture.java
  base/tests/utils/integration/com/google/idea/blaze/base/lang/buildfile/BuildFileIntegrationTestCase.java
  base/tests/utils/unit/com/google/idea/blaze/base/model/MockBlazeProjectDataBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6714 chore: Fix invalid API annotations
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
Labels: product: IntelliJ, awaiting-review

#6722 [#6721] Don't set `ExternalWorkspace.repoName()` to null when same as…
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceData.java
  base/src/com/google/idea/blaze/base/model/primitives/ExternalWorkspace.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceBzlModeTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/ExternalWorkspaceFixture.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6720 chore: drop 212: Remove IJ/CL links
  WORKSPACE.bzlmod
Labels: awaiting-review

#6724 Move more dependencies to MODULE.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
Labels: awaiting-review

#6723 chore: drop 222: Inline ProjectRootManagerExWrapper
  aswb/tests/unittests/com/google/idea/blaze/android/sync/BlazeAndroidSyncPluginTest.java
  testing/testcompat/v223/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v231/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v232/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v233/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v241/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
  testing/testcompat/v242/com/google/idea/sdkcompat/roots/ex/ProjectRootManagerExWrapper.java
Labels: awaiting-review

#6730 [#6664,#505]: Enable External Workspace completions and tests - 5/n
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/BuildLabelCharFilter.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/BuildLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/ExternalWorkspaceLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceFragment.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/LabelReference.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspaceHelper.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/ExternalWorkspaceCompletionTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/lang/buildfile/BuildFileIntegrationTestCase.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6728 [#6664]: Collapse two bazel info invocations into one
  base/src/com/google/idea/blaze/base/bazel/BazelVersion.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfo.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunner.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunnerImpl.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/src/com/google/idea/blaze/base/run/coverage/CoverageUtils.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6731 chore: drop 222: Inline attach sources provider
  java/src/com/google/idea/blaze/java/libraries/AddLibraryTargetDirectoryToProjectViewAttachSourcesProvider.java
  java/src/com/google/idea/blaze/java/libraries/BlazeAttachSourceProvider.java
  sdkcompat/v223/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v232/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/java/AttachSourcesProviderAdapter.java
Labels: product: IntelliJ, awaiting-review

#6733 chore: drop 222: Remove RemoveIntegrationRecordsConfirmationOption
  sdkcompat/v231/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v232/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v233/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v241/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
  sdkcompat/v242/com/google/idea/sdkcompat/vcs/RemoveIntegrationRecordsConfirmationOption.java
Labels: awaiting-review

#6729 [#6664]: Invoke `blaze mod` correctly
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6735 chore: drop 222: Remove KotlinCompat
  kotlin/src/com/google/idea/blaze/kotlin/sync/BlazeKotlinProjectConfigurator.java
  sdkcompat/v223/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/kotlin/KotlinCompat.java
Labels: product: IntelliJ, awaiting-review

#6737 chore: drop 222: Remove DelegatingRenamePsiElementProcessor
  sdkcompat/asdev/BUILD
  sdkcompat/v223/BUILD
  sdkcompat/v223/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v231/BUILD
  sdkcompat/v231/com/google/idea/sdkcompat/as/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v231/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v232/BUILD
  sdkcompat/v232/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v233/BUILD
  sdkcompat/v233/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v241/BUILD
  sdkcompat/v241/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
  sdkcompat/v242/BUILD
  sdkcompat/v242/com/google/idea/sdkcompat/refactoring/rename/DelegatingRenamePsiElementProcessorBase.java
Labels: product: IntelliJ, awaiting-review

#6734 chore: drop 222: Remove AbstractRepositoryManagerCompat
  sdkcompat/v223/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/fig/repo/AbstractRepositoryManagerCompat.java
Labels: product: IntelliJ, awaiting-review

#6736 chore: drop 222: Remove FileReferenceCompat
  sdkcompat/v223/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/psi/impl/imports/FileReferenceCompat.java
Labels: product: IntelliJ, awaiting-review

#6741 Fix googletest integration with CLion 2024.2
  clwb/src/com/google/idea/blaze/clwb/oclang/run/CidrGoogleTestUtilAdapter.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
Labels: product: CLion, awaiting-review

#6739 Changes to prepare for Bazel 8
  .bazelrc
  MODULE.bazel.lock
  WORKSPACE.bzlmod
Labels: product: IntelliJ, awaiting-review

#6745 Update changelog for v2024.09.10 release
  CHANGELOG
Labels: awaiting-review

#6753 Auto import not using any context so there is nowhere to report that …
  base/src/com/google/idea/blaze/base/projectview/section/sections/ImportSection.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6756 Fix unrecognized options by bazel mod command
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6748 Set go DebugConfguration working directory for tests
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
Labels: product: GoLand, awaiting-review

#6742 [#6664] Completion of FilePath and targets from external repositories
  base/src/com/google/idea/blaze/base/lang/buildfile/completion/LabelRuleLookupElement.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManager.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/FileLookupData.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/LabelReference.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/LabelUtils.java
  base/src/com/google/idea/blaze/base/lang/buildfile/references/PackageReferenceFragment.java
  base/src/com/google/idea/blaze/base/lang/projectview/references/ProjectViewLabelReference.java
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspaceHelper.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/ExternalWorkspaceCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/FilePathInExternalWorkspaceCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/RuleTargetCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/RuleTargetInExternalWorkspaceCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/findusages/ExternalWorkspaceFindUsagesTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceBzlModeTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/ExternalWorkspaceFixture.java
  base/tests/utils/integration/com/google/idea/blaze/base/lang/buildfile/BuildFileIntegrationTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6766 [#6764] Fix coverage display when running tests
  base/src/com/google/idea/blaze/base/command/info/BlazeInfo.java
  base/src/com/google/idea/blaze/base/run/coverage/CoverageUtils.java
  java/tests/integrationtests/com/google/idea/blaze/java/fastbuild/FastBuildChangedFilesServiceTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6775 chore: Support Jetbrains IDEs 243 - part 1
  MODULE.bazel
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion243
  intellij_platform_sdk/BUILD.idea243
  intellij_platform_sdk/BUILD.ue243
Labels: awaiting-review

#6777 chore: Prepare for 243 bump
  intellij_platform_sdk/build_defs.bzl
  sdkcompat/BUILD
  sdkcompat/v243/BUILD
  sdkcompat/v243/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v243/com/google/idea/sdkcompat/editor/markup/UIControllerCreator.java
  sdkcompat/v243/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/go/GoSdkCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/JSModuleResolutionWrapper.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/JSModuleTargetWrapper.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/refactoring/safedelete/JavaSafeDeleteProcessorCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/ui/icons/IconManagerCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/vcs/changes/ChangeListAdapterCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/vcs/changes/FakeRevisionCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/vcs/changes/ui/ChangesListViewCreator.java
  sdkcompat/v243/com/google/idea/sdkcompat/vcs/impl/VcsBaseContentProviderDelegator.java
  testing/BUILD
  testing/testcompat/v243/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v243/com/google/idea/testing/TestRunnerUtilCompat.java
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
Labels: awaiting-review

#6779 chore: Prepare for 243 bump
  intellij_platform_sdk/build_defs.bzl
  third_party/devkit/BUILD
  third_party/toml/BUILD
Labels: awaiting-review

#6774 Add extra_target
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#6781 chore: Prepare for 243 bump: move addListeners to SDK compat
  base/src/com/google/idea/blaze/base/sync/libraries/ExternalLibraryManager.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6782 chore: Support Jetbrains IDEs 243 - take into account that addListene…
  sdkcompat/v243/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
Labels: awaiting-review

#6786 chore: Support Jetbrains IDEs 243 - temporarily disable BlazeTypeScri…
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfigLibraryUpdater.java
  sdkcompat/v223/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v232/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
Labels: product: IntelliJ, awaiting-review

#6789 chore: Support Jetbrains IDEs 243 - go and js plugin require json plugin since 243
  golang/BUILD
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.ue223
  intellij_platform_sdk/BUILD.ue231
  intellij_platform_sdk/BUILD.ue232
  intellij_platform_sdk/BUILD.ue233
  intellij_platform_sdk/BUILD.ue241
  intellij_platform_sdk/BUILD.ue242
  intellij_platform_sdk/BUILD.ue243
  javascript/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6767 Fix view_project_root with overlapping directories
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6788 chore: Support Jetbrains IDEs 243 - add dependency on optentest4j
  MODULE.bazel
  base/BUILD
  gazelle/BUILD
  golang/BUILD
  ijwb/BUILD
  java/BUILD
  javascript/BUILD
  kotlin/BUILD
  maven_install.json
  plugin_dev/BUILD
  scala/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6778 Update changelog for 2024.09.24 release
  CHANGELOG
Labels: awaiting-review

#6795 chore: Support Jetbrains IDEs 243 - temporarily disable BlazeTypeScri…
  javascript/BUILD
  javascript/src/META-INF/javascript-contents-243.xml
  javascript/src/META-INF/javascript-contents.xml
Labels: product: IntelliJ, awaiting-review

#6791 chore: Bump protobuf
  MODULE.bazel
  maven_install.json
Labels: awaiting-review

#6796 chore: Bump cpp example
  examples/cpp/simple_project/WORKSPACE
Labels: product: CLion, awaiting-review

#6790 Add --incompatible_use_plus_in_repo_names to get external repository …
  .bazelrc
Labels: product: IntelliJ, awaiting-review

#6798 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: awaiting-review

#6800 chore: Aspect templating - 1/n
  aspect/BUILD
  aspect/build_dependencies.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_classpath.bzl
  aspect/java_info.bzl
Labels: awaiting-review

#6809 [#6807] Make failures `bazel mod dump_repo_mapping` failures silent
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6815 chore: Aspect templating - 2/n
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunner.java
  base/src/com/google/idea/blaze/base/command/mod/BlazeModRunnerImpl.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
