Repository bazelbuild/intellij, pull requests merged in 2024-12, with the labels that each got.

#7002 Fix over-including when view_project_root is set.
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7092 fix: remove strongInfoHolder flag, so users can choose which plugin t…
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7083 chore: set explicit 2024.3 version and enable qs in the project view
  ijwb/ijwb.bazelproject
Labels: product: IntelliJ, awaiting-review

#7086 [AOSP-pick] Begin extracting IDE_JAVA aspect interface
  aspect/build_dependencies.bzl
  aspect/build_dependencies_deps.bzl
Labels: awaiting-review

#7101 fix(qsync): Hightlighting level is always updated after 'enable analy…
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingResetListener.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingSettingProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7103 Rollback to bazel 7.4.1
  .bazelrc
  .bazelversion
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review

#7090 Update changelog for v2024.12.03 release
  CHANGELOG
Labels: awaiting-review

#7085 [AOSP-pick] Enable altering the location of aspect files
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7109 chore: Bump versions in Python examples
  examples/python/simple_code_generator/MODULE.bazel
  examples/python/with_numpy/MODULE.bazel
  examples/python/with_numpy/requirements.txt
Labels: awaiting-review

#7119 fix: Sync failure after non-fatal bazel failure
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7115 Fix reading of _kt_toolchain attribute
  aspect/intellij_info_impl.bzl
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
Labels: product: IntelliJ, awaiting-review

#7122 fix: Kotlin toolchain detection
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#7084 [AOSP-pick] Improve performance and decrease memory usage
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/PartialProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/query/QueryData.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  querysync/javatests/com/google/idea/blaze/qsync/AffectedPackagesTest.java
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTestBuilder.java
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

#7118 Update bazel version to Bazel 8.0.0rc7
  .bazelrc
  .bazelversion
  WORKSPACE.bzlmod
Labels: awaiting-review

#7102 Add import project action to project drop down
  base/src/META-INF/blaze-base.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7062 Adds support for the google test run button in nova
  .bazelci/clion.yml
  clwb/BUILD
  clwb/build_defs.bzl
  clwb/src/com/google/idea/blaze/clwb/radler/BUILD
  clwb/src/com/google/idea/blaze/clwb/radler/RadGoogleTestContextProvider.kt
  clwb/src/com/google/idea/blaze/clwb/radler/optional-plugin.xml
  clwb/test_defs.bzl
  intellij_platform_sdk/BUILD.clion243
Labels: product: CLion, awaiting-review

#7125 V2024.11.19 hotfix 2
  CHANGELOG
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7124 V2024.12.03 hotfix
  CHANGELOG
  aspect/intellij_info_impl.bzl
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7077 Update Issues and PRs Assignees
  .github/workflows/issue-assignee.yml
  .github/workflows/pr-label-and-assignee.yml
Labels: type: process, awaiting-review

#7139 Do not use curses with the old sync view
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7138 Add support for K2 mode
  kotlin/src/META-INF/blaze-kotlin.xml
Labels: product: IntelliJ, awaiting-review

#7135 "Compile" also uses aspects and output groups so we need repository o…
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/aspects/AspectBuildFlagsProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7134 If we edit project view and not triggered Sync, on project reopening …
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7143 Keep bazel from automatically enabling curses with the old sync view
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7146 Do not append `\n` for PROCESS since that output has all of the delim…
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7153 fix: Reduce freeze in ProjectUpdater
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdaterThreadingUtils.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7156 Revert "fix: Reduce freeze in ProjectUpdater (#7153)"
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdaterThreadingUtils.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7108 chore: Remove examples from bazelignore
  .bazelignore
Labels: awaiting-review

#7150 fix: IndexNotReadyException during 'Enable Analysis'
  java/src/com/google/idea/blaze/java/qsync/GeneratedSourcesStripper.java
Labels: product: IntelliJ, awaiting-review

#5084 Maintenance script
  maintenance/BUILD
  maintenance/maintenance.kt
Labels: product: IntelliJ, awaiting-review

#7069 fix(qsync): Handle codegen - generic case
  aspect/build_dependencies.bzl
Labels: product: IntelliJ, awaiting-review

#6442 internal: introduce 'add new major version script'
  tools/bump_major/main.go
Labels: awaiting-review

#7042 fix: Small codegen libraries were removed from the Project Structure
  java/src/com/google/idea/blaze/java/sync/importer/emptylibrary/EmptyLibraryFilter.java
  java/tests/unittests/com/google/idea/blaze/java/sync/importer/BlazeJavaWorkspaceImporterTest.java
Labels: product: IntelliJ, awaiting-review

#7172 chore: update products versions
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#7167 clion: fix non-passed env vars for gdbserverless debugging
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
Labels: product: CLion, awaiting-review

#7159 handle non-valid project view file on reload
  base/src/com/google/idea/blaze/base/settings/Blaze.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7094 Basic qsync support in CLion for linux
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  clwb/BUILD
  clwb/test_defs.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/QuerySyncTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/ClwbIntegrationTestCase.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7100 Adds support for the run button on main functions in nova
  clwb/src/com/google/idea/blaze/clwb/radler/RadBinaryContextProvider.kt
  clwb/src/com/google/idea/blaze/clwb/radler/optional-plugin.xml
  clwb/src/com/google/idea/blaze/clwb/run/producers/NonBlazeProducerSuppressor.java
Labels: product: CLion, awaiting-review

#7175 Update changelog for v2024.12.17 release
  CHANGELOG
Labels: awaiting-review

#7162 Use bzlmod in kotlin example
  examples/kotlin/simple_project/.bazelrc
  examples/kotlin/simple_project/BUILD
  examples/kotlin/simple_project/MODULE.bazel
  examples/kotlin/simple_project/MODULE.bazel.lock
  examples/kotlin/simple_project/maven_install.json
  examples/kotlin/simple_project/simple_project.bazelproject
Labels: product: IntelliJ, awaiting-review

#7161 Use bzlmod in java example
  examples/java/greetings_project/.bazelrc
  examples/java/greetings_project/MODULE.bazel
  examples/java/greetings_project/MODULE.bazel.lock
  examples/java/greetings_project/WORKSPACE
Labels: product: IntelliJ, awaiting-review

#7183 bugfix for v2024.12.03 release
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7190 cleanup: remove non-existing key
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7201 Allow to boost `.ijwb` over BSP and .idea folder.
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7203 Allow to boost `.ijwb` over BSP and .idea folder. (#7201)
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
