Repository bazelbuild/intellij, pull requests merged in 2024-02, with the labels that each got.

#6008 Use dedicated API instead of implementation details
  testing/testcompat/v241/com/google/idea/java/JavaSdkCompat.java
Labels: product: IntelliJ, lang: java, awaiting-review

#6031 chore: Bump JetBrains dependencies
  WORKSPACE
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  sdkcompat/v223/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v231/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v232/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v233/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
  sdkcompat/v241/com/google/idea/sdkcompat/general/NewErrorTreeViewPanelAdapter.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6021 Changes to BlazeTargetFilter regex to match more target names
  base/src/com/google/idea/blaze/base/run/filter/BlazeTargetFilter.java
  base/tests/unittests/com/google/idea/blaze/base/run/filter/BlazeTargetFilterTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6017 Update stale bot messages
  .github/workflows/stale.yml
Labels: type: process, awaiting-review

#6054 Update changelog for 2024.02.13
  CHANGELOG
Labels: awaiting-review

#6102 Remove aspect-tools dependency on the platform.
  WORKSPACE
  aspect/tools/BUILD
  build-visibility.bzl
  intellij_platform_sdk/BUILD
Labels: product: IntelliJ, awaiting-review

#6104 Bump jetbrains products
  WORKSPACE
Labels: awaiting-review

#6094 perf: avoid scanning convenience symlink directories during initial import
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/BooleanSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/UseExclusionPatternsSection.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6127 Added MODULE.bazel to valid workspace root files
  base/src/com/google/idea/blaze/base/bazel/BazelWorkspaceRootProvider.java
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6158 Use path to workspace root as `pwd` for `buildifier`
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5888 Fix things after bzlmod migration
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/NoIdeTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/DependenciesTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/genjars/GenJarsTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javabinary/JavaBinaryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/JavaLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestFastBuildAspectTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javatest/JavaTestTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/ScalaBinaryTest.java
  aswb/BUILD
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  base/BUILD
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/ArgumentCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionAttributeCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/BuiltInFunctionCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/completion/CommonMacroCompletionContributorTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/BuildReferenceManagerTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/PackageReferenceTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewCompletionTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/projectview/ProjectViewParserIntegrationTest.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/TargetExpressionTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/CandidatePackageFinderTest.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
  build_defs/build_defs.bzl
  clwb/BUILD
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  ext/BUILD
  ijwb/BUILD
  ijwb/tests/integrationtests/com/google/idea/blaze/ijwb/lang/projectview/ProjectViewCompletionTest.java
  intellij_platform_sdk/BUILD
  kotlin/tests/integrationtests/com/google/idea/blaze/kotlin/run/producers/KotlinTestContextProviderTest.java
  maven_install.json
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  testing/test_defs.bzl
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6128 2024.1 update: declare 2024.1 as stable
  intellij_platform_sdk/build_defs.bzl
Labels: product: IntelliJ, awaiting-review

#6133 chore: Bump JetBrains products versions
  WORKSPACE.bzlmod
  python/BUILD
  third_party/toml/BUILD
Labels: product: IntelliJ, awaiting-review

#6151 Update changelog for 2024.02.27 release
  CHANGELOG
Labels: awaiting-review

#6101 Added getActionUpdateThread to all actions
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtMenu.java
  base/src/com/google/idea/blaze/base/ext/IntelliJExtStatusAction.java
  base/src/com/google/idea/blaze/base/qsync/ComposePreviewQuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/action/ReloadProject.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  common/actions/src/com/google/idea/common/actions/ReplaceActionHelper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6041 Added registry key to disable fission flag
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeGDBServerProvider.java
Labels: product: CLion, awaiting-review

#6155 Added MODULE.bazel to isBazelWorkspace in AutoImportProjectOpenProcessor
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
