Repository bazelbuild/intellij, pull requests merged in 2024-05, with the labels that each got.

#6411 Bump JetBrains IDEs
  WORKSPACE.bzlmod
  base/tests/unittests/com/google/idea/blaze/base/run/state/EnvironmentVariablesStateTest.java
  intellij_platform_sdk/BUILD.clion241
  intellij_platform_sdk/BUILD.ue241
  testing/src/com/google/idea/testing/TestUtils.java
Labels: product: IntelliJ, awaiting-review

#6404 fix: disable bzlmod for"with_go_source" example
  examples/go/with_go_source/with_go_source.bazelproject
Labels: product: GoLand, awaiting-review

#6420 Update CHANGELOG for v2024.05.07
  CHANGELOG
Labels: awaiting-review

#6371 #6370 Add line numbers to sections and text-blocks
  aswb/src/com/google/idea/blaze/android/projectview/AndroidSdkPlatformSection.java
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/projectview/parser/ParseContext.java
  base/src/com/google/idea/blaze/base/projectview/parser/ProjectViewParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ListSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSection.java
  base/src/com/google/idea/blaze/base/projectview/section/ScalarSectionParser.java
  base/src/com/google/idea/blaze/base/projectview/section/Section.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AdditionalLanguagesSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/AutomaticallyDeriveTargetsSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/DirectorySection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ItemOrTextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TargetSection.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlock.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/TextBlockSection.java
  base/src/com/google/idea/blaze/base/wizard2/GenerateFromBuildFileSelectProjectViewOption.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
  python/src/com/google/idea/blaze/python/sync/BlazePythonSyncPlugin.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6422 Add 'View project root' flag
  base/src/com/google/idea/blaze/base/projectview/section/sections/Sections.java
  base/src/com/google/idea/blaze/base/projectview/section/sections/ViewProjectRootSection.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/ProjectViewSetTest.java
  base/tests/unittests/com/google/idea/blaze/base/projectview/parser/ProjectViewParserTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6438 Update CHANGELOG for v2024.05.21 release
  CHANGELOG
Labels: product: IntelliJ, awaiting-review

#6453 perf: Pass --override_repository flag to all commands for faster analysis phase
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aswb/tests/unittests/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProviderTest.java
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
