Repository bazelbuild/intellij, pull requests merged in 2024-11, with the labels that each got.

#6954 fix: Python tests
  intellij_platform_sdk/BUILD.idea241
  intellij_platform_sdk/BUILD.idea242
  intellij_platform_sdk/BUILD.idea243
  python/BUILD
  third_party/toml/BUILD
Labels: product: IntelliJ, awaiting-review

#6955 chore: Bump JetBrains IDEs and fix scala integration tests
  MODULE.bazel
Labels: awaiting-review

#6953 Update querysync.md
  docs/querysync.md
Labels: product: IntelliJ, awaiting-review

#6960 fix: NPE in location provider
  base/src/com/google/idea/blaze/base/ui/BlazeModuleRendererFactory.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6964 fix(qsync): IJ incorrectly recognizes files as external and asks to a…
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
Labels: awaiting-review

#6967 fix(qsync): NPE in "Add to project" panel action
  base/src/com/google/idea/blaze/base/qsync/CandidatePackageFinder.java
  base/src/com/google/idea/blaze/base/qsync/action/AddToProjectAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6952 Update changelog for v2024.11.05 release
  CHANGELOG
Labels: awaiting-review

#6973 Use bazel icon for plugin logo
  clwb/BUILD
  common/BUILD
  common/pluginIcon.svg
  ijwb/BUILD
Labels: product: CLion, product: IntelliJ, awaiting-review

#6936 Use --noincompatible_disallow_empty_glob
  .bazelrc
  .bazelversion
Labels: product: IntelliJ, awaiting-review

#6985 Make the BlazeImportProjectAction dumb aware
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6978 chore: Bump JetBrains IDEs
  MODULE.bazel
Labels: product: IntelliJ, awaiting-review

#6990 fix: Support bazel 8 and `--noenable_workspace` mode
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/OverrideFlags.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6992 WIP: fix(qsync): NPE when trying to enable analysis for a directory or for…
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  shared/java/com/google/idea/blaze/common/Label.java
Labels: awaiting-review

#6997 Revert "fix: Support bazel 8 and `--noenable_workspace` mode (#6990)"
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/OverrideFlags.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6996 Fix querysync widget for remote dev
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncNotificationProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7006 fix: Properly support non-Java Bazel 8 projects in IntelliJ
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand

#6999 feat: Starlark Debugger Gutter Icons
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/run/ExecutorType.java
  base/src/com/google/idea/blaze/base/run/producers/BlazeBuildFileRunConfigurationProducer.java
  base/src/com/google/idea/blaze/base/run/producers/BlazeBuildTargetRunConfigurationProducer.java
  base/src/com/google/idea/blaze/base/run/producers/BuildFileRunLineMarkerContributor.java
  base/src/com/google/idea/blaze/base/run/producers/BuildTarget.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/producers/BlazeBuildFileRunConfigurationProducerTest.java
  skylark/src/META-INF/blaze-skylark.xml
  skylark/src/com/google/idea/blaze/skylark/debugger/run/SkylarkDebugAction.java
  skylark/src/com/google/idea/blaze/skylark/debugger/run/SkylarkDebugBuildFlagsProvider.java
  skylark/src/com/google/idea/blaze/skylark/debugger/run/SkylarkDebugExecutor.java
  skylark/src/com/google/idea/blaze/skylark/debugger/run/SkylarkDebugRunner.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6988 Update details about the Android Studio plugin in the README
  README.md
Labels: product: Android Studio, awaiting-review

#7007 feat: Query Sync promo
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7023 [AOSP-pick] Inline trivial default interface method
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7028 fix(qsync): Some improvements to the RD-compatible notification panel
  base/src/com/google/idea/blaze/base/qsync/QuerySyncNotificationProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7029 disable warmup service
  base/src/com/google/idea/blaze/base/project/indexing/FileSystemWarmUpService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7032 fix(qsync): NPE in QuerySyncNotificationProvider
  base/src/com/google/idea/blaze/base/qsync/QuerySyncNotificationProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7035 Update querysync.md
  docs/querysync.md
Labels: awaiting-review

#7005 Update CHANGELOG for 2024.11.19 release
  CHANGELOG
Labels: awaiting-review

#7036 fix: NPE in WorkspaceHelper when project is not loaded yet
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspaceHelper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7024 [AOSP-pick] Use BuildArtifactCache to fetch -info.txt files
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7039 [AOSP-pick] [querysync] Fix building dependencies when workspace root is included
  querysync/javatests/com/google/idea/blaze/qsync/AspectUnitTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/JavaInfoTxt.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/TestData.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/workspacerootincluded/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/workspacerootincluded/MyClass.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/workspacerootincluded/collect_deps.bzl
Labels: product: Android Studio, awaiting-review

#7038 [AOSP-pick] Do not store file to label map
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
  querysync/javatests/com/google/idea/blaze/qsync/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTestBuilder.java
  shared/java/com/google/idea/blaze/common/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7050 chore: bump CLion
  MODULE.bazel
Labels: awaiting-review

#7048 fix issues with aspect templates not available in query sync mode
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7052 fix: Don't require rules_java and rules_python for bazel 7 and older
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7053 V2024.11.05 hotfix
  CHANGELOG
  aspect/intellij_info_impl.bzl
  aspect_template/BUILD
  aspect_template/python_info.bzl
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7040 Modify details about sharing code between this repo and AOSP
  README.md
Labels: product: IntelliJ, awaiting-review

#7054 V2024.11.19 hotfix
  CHANGELOG
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/SyncAspectTemplateProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7046 chore: Remove commented code in .bazelrc
  .bazelrc
Labels: awaiting-review

#7045 Reapply "fix: Support bazel 8 and `--noenable_workspace` mode (#6990)…
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/OverrideFlags.java
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7056 Query Sync doc - difference between "sync" and "enable analysis"
  docs/querysync.md
Labels: awaiting-review

#7047 [AOSP-pick] Expose bazel workspace_status to handlers
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/vcs/BlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/FallbackBlazeVcsHandlerProvider.java
  base/src/com/google/idea/blaze/base/vcs/git/GitBlazeVcsHandlerProvider.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/MockBlazeVcsHandlerProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7034 Fix getPackageName which didn't respect "build ignore"
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackage.java
Labels: product: GoLand, awaiting-review

#7060 Stop adding a trailing # when filtering tests for JUnit 5
  java/src/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlags.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestClassConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/MultipleJavaClassesTestContextProviderTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsTest.java
Labels: product: IntelliJ, awaiting-review

#7070 chore: Bump deps
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/junit5_deps.bzl
Labels: product: IntelliJ, awaiting-review

#7065 doc: Update querysync.md title
  docs/querysync.md
Labels: product: IntelliJ, awaiting-review

#7072 Update querysync.md
  docs/querysync.md
Labels: awaiting-review

#7076 fix: Disable Query Sync promo
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7075 fix: Disable Query Sync promo
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7074 fix: Disable Query Sync promo
  base/src/com/google/idea/blaze/base/qsync/QuerySyncPromo.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7001 PTY enabled terminal for the new sync view
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/buildview/BuildViewScope.kt
  base/src/com/google/idea/blaze/base/buildview/PtyConsoleView.kt
  base/src/com/google/idea/blaze/base/command/BuildFlagsProviderImpl.java
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
  shared/java/com/google/idea/blaze/common/PrintOutput.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7037 Enable the new sync view for query sync
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7081 fix(qsync): Include runtime_deps in the target graph
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
Labels: awaiting-review
