Repository bazelbuild/intellij, pull requests merged in 2024-07, with the labels that each got.

#6538 clion: fix broken debug in 2024.2
  WORKSPACE.bzlmod
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  sdkcompat/v223/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v231/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v232/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v233/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v241/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
  sdkcompat/v242/com/google/idea/sdkcompat/clion/CidrDebugProcessCreator.java
Labels: product: CLion, awaiting-review

#6539 Upgrade APIs to match v7 script for adding assignees on both issues and PRs
  .github/workflows/issue-assignee.yml
  .github/workflows/pr-label-and-assignee.yml
Labels: type: process, awaiting-review

#6542 Bump JetBrains IDEs
  WORKSPACE.bzlmod
  testing/test_defs.bzl
Labels: product: IntelliJ, awaiting-review

#6541 Update changelog for v2024.07.02 release
  CHANGELOG
Labels: awaiting-review

#6537 fix: Resolve query failure when there is a large number of files in t…
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/BlazeQuerySourceToTargetProvider.java
Labels: product: IntelliJ, awaiting-review

#6548 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: product: IntelliJ, awaiting-review

#6551 doc: Add reference to the youtube video
  README.md
  clwb/src/META-INF/description.html
  ijwb/src/META-INF/description.html
Labels: product: IntelliJ, awaiting-review

#6556 chore: Run maven repin
  maven_install.json
Labels: product: IntelliJ, awaiting-review

#6557 Typo Error in labeler
  .github/labeler.yml
Labels: type: process, product: IntelliJ, awaiting-review

#6562 Fixes after sync freeze on MacOS
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
  common/util/src/com/google/idea/async/process/CommandLineTask.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCSyncPlugin.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6567 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6572 Remove IntelliJExt registrations
  base/src/META-INF/blaze-base.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6530 Improve performance when resolving the workspace root
  base/src/com/google/idea/blaze/base/sync/workspace/WorkspaceHelper.java
  cpp/BUILD
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
Labels: product: IntelliJ, awaiting-review

#6573 Update CODEOWNERS - remove Justin Kaeser
  CODEOWNERS
Labels: type: process, awaiting-review

#6546 Propagate build errors to UI
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
Labels: product: IntelliJ, awaiting-review

#6570 Update changelog for v2024.07.16 release
  CHANGELOG
Labels: awaiting-review

#6544 use absolute directories paths while deriving targets
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  java/tests/integrationtests/com/google/idea/blaze/java/base/dependencies/BlazeQueryDirectoryToTargetProviderTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/sync/FakeBlazeQueryProvider.java
Labels: product: IntelliJ, awaiting-review

#6579 Remove registration of `IntelliJExtManager`
  base/src/META-INF/blaze-base.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6582 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6589 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6588 fix: Adjust executor threads based on device core count
  base/src/com/google/idea/blaze/base/prefetch/FetchExecutor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5515 Don't build unnecessary jars.
  MODULE.bazel.lock
  aspect/intellij_info_impl.bzl
  aspect/testing/rules/intellij_aspect_test_fixture.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/general/noide/NoIdeTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/dependencies/DependenciesTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/javalibrary/JavaLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/ScalaLibraryTest.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: product: IntelliJ, awaiting-review

#6500 CLion MSVC Support
  base/src/com/google/idea/blaze/base/sync/sharding/ArgMaxShardSizeLimit.java
  clwb/BUILD
  clwb/sdkcompat/BUILD
  clwb/sdkcompat/v223/BUILD
  clwb/sdkcompat/v223/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v231/BUILD
  clwb/sdkcompat/v231/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v232/BUILD
  clwb/sdkcompat/v232/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v233/BUILD
  clwb/sdkcompat/v233/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v241/BUILD
  clwb/sdkcompat/v241/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/sdkcompat/v242/BUILD
  clwb/sdkcompat/v242/com/google/idea/blaze/clwb/MSVCCompilerVersionCompat.java
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/MSVCEnvironmentProvider.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeDebuggerKind.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeGDBServerProvider.java
  clwb/src/com/google/idea/blaze/clwb/run/RunConfigurationUtils.java
  clwb/tests/unittests/com/google/idea/blaze/clwb/MSVCEnvironmentProviderTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCTargetInfoService.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerInfoMapService.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolverResult.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/BlazeResolveConfiguration.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionCheckerImpl.java
  cpp/src/com/google/idea/blaze/cpp/CompilerVersionUtil.java
  cpp/src/com/google/idea/blaze/cpp/CompilerWrapperProviderImpl.java
  cpp/src/com/google/idea/blaze/cpp/CppEnvironmentProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6592 Fix wrong heuristic for when bazel uses a wrapper script
  cpp/src/com/google/idea/blaze/cpp/CompilerWrapperProviderImpl.java
Labels: product: CLion, awaiting-review

#6596 feat: enable view_project_root by default in auto import mode
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6602 Update changelog for v2024.07.30 release
  CHANGELOG
Labels: awaiting-review
