Repository bazelbuild/intellij, pull requests merged in 2024-03, with the labels that each got.

#5998 fix(build): Allow for targets outside of release channels
  common/util/BUILD
  cpp/sdkcompat/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: product: CLion, awaiting-review

#6188 Fix unit test failure with bazel@head
  base/tests/unittests/com/google/idea/blaze/base/qsync/DependencyTrackerImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6212 Fix until-build in EAP compatible plugin releases
  build_defs/stamp_plugin_xml.py
Labels: product: IntelliJ, awaiting-review

#6007 Followup for Pass path associations as special compiler flags
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
Labels: product: CLion, awaiting-review

#6233 Fix kotlin example projects
  examples/kotlin/simple_coroutines_project/BUILD
  examples/kotlin/simple_project/BUILD
Labels: product: IntelliJ, awaiting-review

#6249 Fix unit test failure with bazel@head
  aspect/testing/tests/src/com/google/idea/blaze/aspect/java/pluginprocessorjars/BazelPluginProcessorJarTest.java
Labels: product: IntelliJ, awaiting-review

#6255 Bump CLion
  WORKSPACE.bzlmod
Labels: product: CLion, awaiting-review

#6251 Update changelog for 2024.03.12 release
  CHANGELOG
Labels: awaiting-review

#6270 Fixed getActionUpdateThread (backport of e3b3fa3)
  base/src/com/google/idea/blaze/base/actions/BlazeMenuGroup.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectAction.java
  base/src/com/google/idea/blaze/base/actions/BlazeProjectToggleAction.java
  base/src/com/google/idea/blaze/base/run/exporter/ExportRunConfigurationDialog.java
  base/src/com/google/idea/blaze/base/sync/actions/IncrementalSyncProjectAction.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/ui/problems/BlazeProblemsViewPanel.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeImportProjectAction.java
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6267 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6288 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6210 fix(sync): Disable query-sync by default
  common/experiments/src/com/google/idea/common/experiments/experiment.properties
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6301 Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: product: CLion, product: IntelliJ, awaiting-review

#6310 Reduced the logging level for the stack traces produced when resolving external artifacts.
  base/src/com/google/idea/blaze/base/sync/workspace/ArtifactLocationDecoderImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6312 chore: Bump JetBrains IDEs
  WORKSPACE.bzlmod
Labels: awaiting-review

#6321 Update CHANGELOG for v2024.03.26
  CHANGELOG
Labels: awaiting-review

#6325 Fix imports for go modules named "external"
  examples/go/with_proto/MODULE.bazel
  examples/go/with_proto/go/external/BUILD.bazel
  examples/go/with_proto/go/external/README.md
  examples/go/with_proto/go/external/external.go
  examples/go/with_proto/go/main.go
  examples/go/with_proto/go/main_test.go
  golang/src/com/google/idea/blaze/golang/resolve/BlazeGoPackage.java
Labels: product: GoLand, awaiting-review
