Repository bazelbuild/intellij, pull requests merged in 2024-01, with the labels that each got.

#5910 Fix bazel sync errors when using non-default convenience symlinks
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5908 Update changelog for 2024.01.02
  CHANGELOG
Labels: awaiting-review

#5958 No need in duplicated `try_import` entry since we already have `impor…
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5952 Update changelog for 2024.01.16 release
  CHANGELOG
Labels: product: IntelliJ, awaiting-review

#5992 Bump JetBrains IDEs
  WORKSPACE
  golang/tests/integrationtests/com/google/idea/blaze/golang/resolve/BlazeGoAnnotatorTest.java
Labels: product: GoLand, awaiting-review

#5990 Update CHANGELOG for 2024.01.30
  CHANGELOG
Labels: awaiting-review
