Repository bazelbuild/intellij, pull requests merged in 2025-06, with the labels that each got.

#7656 ability to configure python debug session flags
  python/src/com/google/idea/blaze/python/projectview/DebugFlagsSection.java
  python/src/com/google/idea/blaze/python/run/BlazePyDebugHelper.java
  python/src/com/google/idea/blaze/python/sync/BlazePythonSyncPlugin.java
Labels: P1, product: IntelliJ, awaiting-review

#7713 Bump EAP SDKs
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  intellij_platform_sdk/build_defs.bzl
  maven_install.json
  testing/test_defs.bzl
  third_party/kotlin/BUILD
  third_party/kotlin/patches/BUILD
  third_party/kotlin/patches/codeql_add_language_version_option.patch
  third_party/kotlin/patches/codeql_do_not_emit_jdeps.patch
  third_party/kotlin/patches/codeql_fix_jdeps_merged_on_windows.patch
  third_party/kotlin/patches/strip_stdlib.patch
  tools/maintenance/BUILD
Labels: awaiting-review

#7726 Fixing removing incorectly detected iml file
  base/src/com/google/idea/blaze/base/sync/projectstructure/ModuleEditorImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand

#7710 Updating rules_scala to 7.0.0 and switching back to official releases
  MODULE.bazel
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalabinary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalalibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalamacrolibrary/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalamacrolibrary/ScalaMacroLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/scala/scalatest/BUILD
Labels: awaiting-review

#7722 Update CHANGELOG for v2025.06.10 release
  CHANGELOG
Labels: awaiting-review

#7725 Removed jarjar.
  MODULE.bazel
Labels: P4, awaiting-review

#7735 Bump EAP SDKs
  MODULE.bazel
  MODULE.bazel.lock
  clwb/BUILD
  clwb/build_defs.bzl
  cpp/BUILD
  intellij_platform_sdk/build_defs.bzl
  tools/maintenance/maintenance.kt
Labels: product: CLion, awaiting-review

#7742 Drop 2024.3 from CI
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

#7745 [AOSP-pick] Extract out GetArtifactsException from BuildResultHelper
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/GetArtifactsException.java
  base/src/com/google/idea/blaze/base/run/smrunner/BlazeXmlToTestEventsConverter.java
  base/src/com/google/idea/blaze/base/run/testlogs/BlazeTestResultFinderStrategy.java
  base/src/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategy.java
  base/tests/unittests/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategyTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildResultHelperBep.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginDeployer.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7734 Highlighting support for binary operators and augmented assignments in BUILD files.
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/BuildLexerBase.java
  base/src/com/google/idea/blaze/base/lang/buildfile/lexer/TokenKind.java
  base/src/com/google/idea/blaze/base/lang/buildfile/parser/ExpressionParsing.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/parser/BuildParserTest.java
Labels: P4, product: CLion, product: IntelliJ, lang: starlark, product: GoLand, awaiting-review

#7704 Implement `BuildToolModuleHandler` for Scala Projects to register Bazel Imported Scala Projects
  scala/src/META-INF/scala-contents.xml
  scala/src/com/google/idea/blaze/scala/BlazeScalaBuildToolModuleHandler.java
Labels: product: IntelliJ

#7753 Update changelog for v2025.06.24 release
  CHANGELOG
Labels: awaiting-review

#7766 chore(deps): update dependency bazel to v8.3.0
  .bazelversion
  MODULE.bazel
Labels: awaiting-review

#7768 chore: update CLion 252 dependencies
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review
