Repository bazelbuild/intellij, pull requests merged in 2025-09, with the labels that each got.

#7865 Update .manged.bazelproject for use with the new Bazel plugin
  .managed.bazelproject
Labels: awaiting-review

#7744 [AOSP-pick] Cleanup code for deprecated way of handling gensrcjars
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/AppInspectorArtifactTrackerImpl.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/artifacts/GeneratedSourcesStripperProvider.java
  base/src/com/google/idea/blaze/base/qsync/artifacts/ProjectArtifactStore.java
  base/src/com/google/idea/blaze/base/run/RuntimeArtifactCacheImpl.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/artifacts/ProjectArtifactStoreTest.java
  java/src/META-INF/java-contents.xml
  java/src/com/google/idea/blaze/java/qsync/GeneratedSourcesStripper.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/GeneratedSourcesStripperTest.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdateTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7874 CLion: make sysroot execroot relative
  MODULE.bazel.lock
  base/src/com/google/idea/blaze/base/model/primitives/ExecutionRootPath.java
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverImpl.java
  base/src/com/google/idea/blaze/base/sync/workspace/VirtualIncludesHandler.java
  base/tests/unittests/com/google/idea/blaze/base/model/primitives/ExecutionRootPathTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/LlvmToolchainTest.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/base/Utils.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/CoptsProcessorTest.kt
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerFlagsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationToolchainResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/SysrootFlagsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsEmptyOptionsFilter.kt
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsIncludeProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsLegacyIncludeFilter.kt
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsSysrootProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/GCCIncludeProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/IncludeProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/MSVCIncludeProcessor.kt
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeCompilerSettingsTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeConfigurationResolverTest.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/BlazeResolveConfigurationEquivalenceTest.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypescriptGotoDeclarationHandler.java
Labels: product: CLion, awaiting-review

#7878 [AOSP-pick] No need for special mobile_install invokers
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7888 Update CHANGELOG for v2025.09.19 release
  CHANGELOG
Labels: awaiting-review

#7104 Adding implementation for EssentialHighlightingRestarterDisablement
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/analysis/QuerySyncEssentialHighlightingRestarterDisablement.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7889 Changing ijwb plugin name to mark it as legacy
  ijwb/BUILD
Labels: product: IntelliJ, awaiting-review

#7891 Update platform versions for IJwB
  MODULE.bazel
  MODULE.bazel.lock
  tools/maintenance/maintenance.kt
Labels: awaiting-review

#7901 Remove no-op python2->python3 flags
  aspect/BUILD
  aspect/BUILD.aspect
  aspect/flag_hack.bzl
  aspect/intellij_info.bzl
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#7885 [AOSP-pick] Delete unused variant of getBuildInvoker()
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7905 Cleanup obsolete aspect tests
  .gitignore
  .managed.bazelproject
  aspect/testing/rules/BUILD
  aspect/testing/rules/fast_build_aspect_test_fixture.bzl
  aspect/testing/rules/fast_build_aspect_test_fixture.proto
  aspect/testing/rules/src/com/google/idea/blaze/aspect/FastBuildAspectRule.java
  aspect/testing/rules/src/com/google/idea/blaze/aspect/FastBuildAspectTestFixtureBuilder.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/MODULE.bazel
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/WORKSPACE
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/WORKSPACE.bzlmod
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata/foo.sh
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/JavaProtoLibraryTest.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/Lib.java
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/bar.proto
  aspect/testing/tests/src/com/google/idea/blaze/aspect/proto/jpl/foo.proto
  build-visibility.bzl
Labels: awaiting-review
