Repository bazelbuild/intellij, pull requests merged in 2025-01, with the labels that each got.

#7128 [AOSP-pick] Add kotlin native rule type to kotlin rules
  aspect/build_dependencies.bzl
  kotlin/src/com/google/idea/blaze/kotlin/KotlinBlazeRules.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySpecTest.java
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: product: IntelliJ, awaiting-review

#7209 Update CHANGELOG for v2025.01.07 release
  CHANGELOG
Labels: awaiting-review

#7130 [AOSP-pick] Do not wait for the write lock
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
Labels: product: Android Studio, awaiting-review

#7216 Fix mac agent native errors
  .bazelrc
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  clwb/test_defs.bzl
Labels: product: CLion, awaiting-review

#7217 Fix red code in MODULE.bazel
  base/src/com/google/idea/blaze/base/lang/buildfile/psi/FuncallExpression.java
  base/src/com/google/idea/blaze/base/lang/buildfile/validation/BuiltInRuleAnnotator.java
  cpp/src/com/google/idea/blaze/cpp/HeaderRootTrimmer.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7222 Fix qsync NPE
  querysync/java/com/google/idea/blaze/qsync/AffectedPackagesCalculator.java
Labels: awaiting-review

#7129 [AOSP-pick] Rename properties that specify aspect file
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  clwb/test_defs.bzl
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7221 [AOSP-pick] [all] plugin.xml: replace <reference> `id` with `ref` (IJPL-171993)
  base/src/META-INF/blaze-base.xml
  java/src/META-INF/java-contents.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7220 [AOSP-pick] Break a huge method into two
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: product: IntelliJ, awaiting-review

#7223 [AOSP-pick] Remove default method variants from interfaces
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/BUILD
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelperBep.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildResultHelperBep.java
  python/BUILD
  shared/java/com/google/idea/blaze/common/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7230 [AOSP-pick] Allow limiting parallel BEP parsing
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7237 Update ij_product in ijwb.bazelproject
  ijwb/ijwb.bazelproject
Labels: product: IntelliJ, awaiting-review

#7229 [AOSP-pick] Remove default helper methods in BuildResultHelper
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  clwb/BUILD
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/BUILD
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/BUILD
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7243 [AOSP-pick] Tiny optimization when handling errors
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
Labels: awaiting-review

#7248 [AOSP-pick] Rename sync… to requestSync…
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeProjectSystemSyncManager.java
Labels: product: Android Studio, awaiting-review

#7202 Copy aspect files to workspace
  MODULE.bazel
  WORKSPACE.bzlmod
  aspect/BUILD
  aspect/build_defs.bzl
  aspect/code_generator_info.bzl
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_info.bzl
  aspect/python_info.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  aspect_template/BUILD
  aspect_template/BUILD.aspect
  aspect_template/MODULE.bazel
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/BlazeCommand.java
  base/src/com/google/idea/blaze/base/plugin/BazelVersionChecker.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/ProjectUpdateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/aspects/AspectBuildFlagsProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectStorageService.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriter.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriterImpl.kt
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategy.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyBazel.java
  base/src/com/google/idea/blaze/base/sync/aspects/strategy/OverrideFlags.java
  base/src/com/google/idea/blaze/base/util/TemplateWriter.java
  base/src/com/google/idea/blaze/base/util/VirtualFileByteSource.java
  base/tests/unittests/com/google/idea/blaze/base/sync/aspects/strategy/AspectStrategyTest.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  clwb/BUILD
  clwb/test_defs.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/ClwbIntegrationTestCase.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/SyncOutput.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/TestAspectRepositoryProvider.java
  gazelle/tests/integrationtests/com/google/idea/blaze/gazelle/sync/RunGazelleOnSyncTest.java
  ijwb/BUILD
  java/src/com/google/idea/blaze/java/fastbuild/BazelFastBuildAspectStrategy.java
  java/src/com/google/idea/blaze/java/run/hotswap/JavaClasspathAspectStrategy.java
  shared/java/com/google/idea/blaze/common/Label.java
  testing/test_defs.bzl
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7233 Update CHANGELOG for v2025.01.21 release
  CHANGELOG
Labels: awaiting-review

#7245 [AOSP-pick] Extract render services project system api
  aswb/src/com/android/tools/idea/rendering/tokens/BazelBuildSystemFilePreviewServices.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
Labels: awaiting-review

#7246 [AOSP-pick] Do not instantiate empty labels
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  shared/java/com/google/idea/blaze/common/Label.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: awaiting-review

#7253 Modify CODEOWNERS
  CODEOWNERS
Labels: type: process, awaiting-review

#7238 Add a managed project view file for query sync
  .managed.bazelproject
  clwb/clwb.bazelproject
  ijwb/ijwb.bazelproject
Labels: topic: bazel, topic: sync, awaiting-review

#7236 Remove BlazeTypeScriptConfigLibraryUpdater.java
  javascript/BUILD
  javascript/src/META-INF/javascript-contents-243.xml
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfigLibraryUpdater.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/TypeScriptConfigLibraryUpdaterAdapter.java
Labels: product: IntelliJ, awaiting-review

#7244 [AOSP-pick] Separate BEP fetching and parsing
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventStreamProvider.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelperBep.java
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategy.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategyTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BepUtils.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildResultHelperBep.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7249 [AOSP-pick] Disable qsync.build.generated.src.jars
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7257 make label parsing more resilient
  base/src/com/google/idea/blaze/base/dependencies/TargetInfo.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7247 [AOSP-pick] [querysync] Do not scan Bazel system directories for BUILD files
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/project/snapshot.proto
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverters.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7265 Fix aspect_template reference in java_classpath aspect
  aspect/java_classpath.bzl
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectStorageService.kt
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
