Repository bazelbuild/intellij, pull requests merged in 2025-03, with the labels that each got.

#7332 Add warning for ignored aspects
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectStorageService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7382 [AOSP-pick] Parameterize aspect at instantiation
  aspect/build_dependencies.bzl
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
  shared/java/com/google/idea/blaze/common/artifact/BUILD
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7400 [AOSP-pick] Do not flatten depsets when reporting outputs
  aspect/build_dependencies.bzl
Labels: awaiting-review

#7394 Update CHANGELOG for v2025.03.04 release
  CHANGELOG
Labels: awaiting-review

#7401 [AOSP-pick] Remove unused DBiP experimental flag
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunnerExperiments.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7403 [AOSP-pick] Delete unused additional_class_rules attribute
  aswb/BUILD
  testing/test_defs.bzl
Labels: awaiting-review

#7404 [AOSP-pick] Make output group names shorter and consistent
  aspect/build_dependencies.bzl
  aswb/testdata/projects/test_projects.bzl
  querysync/java/com/google/idea/blaze/qsync/deps/OutputGroup.java
Labels: awaiting-review

#7406 [AOSP-pick] Extract ProjectLoader interface
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/sync/data/BlazeDataStorage.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7407 [AOSP-pick] Make thread pools a concern of ProjectLoader
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7410 [AOSP-pick] Expose QuerySyncProject deps to tests
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7412 [AOSP-pick] Expose Bazel command from BazelDependencyBuilder
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7414 [AOSP-pick] Add java_and_deps test project
  testing/test_deps/projects/java_and_deps/.bazelproject
  testing/test_deps/projects/java_and_deps/BUILD
  testing/test_deps/projects/java_and_deps/deps/top_level_lib_1/BUILD
  testing/test_deps/projects/java_and_deps/deps/top_level_lib_1/java/com/example/top_level_lib_1/Lib1.java
  testing/test_deps/projects/java_and_deps/deps/top_level_lib_2/BUILD
  testing/test_deps/projects/java_and_deps/deps/top_level_lib_2/java/com/example/top_level_lib_2/Lib2.java
  testing/test_deps/projects/java_and_deps/deps/transitive_dep_lib/BUILD
  testing/test_deps/projects/java_and_deps/deps/transitive_dep_lib/java/com/example/transitive_dep_lib/DepLib.java
  testing/test_deps/projects/java_and_deps/project/BUILD
  testing/test_deps/projects/java_and_deps/project/java/com/example/lib/LibClass.java
  testing/test_deps/projects/java_and_deps/project/java/com/example/sample/Class1.java
  testing/test_deps/projects/java_and_deps/project/java/com/example/sample/nested/BUILD
  testing/test_deps/projects/java_and_deps/project/java/com/example/sample/nested/NestedClass.java
  testing/test_deps/projects/java_and_deps/project/java/com/example/sample/nested/NestedClass2.java
Labels: awaiting-review

#7415 [AOSP-pick] Pin aswb test targets to java 17
  aswb/testdata/projects/android1/external/BUILD
  aswb/testdata/projects/android1/project/BUILD
Labels: awaiting-review

#7417 [AOSP-pick] Convert BEP parsing to Kotlin
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.kt
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.kt
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderLegacyTest.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7420 [AOSP-pick] Split traverseFileSets
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7421 [AOSP-pick] Make FileApiArtifactFetcher thread pool configurable
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/cache/ArtifactFetchers.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileApiArtifactFetcher.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7423 Revert "Disable CLion MacOS CI (#7359)"
  .bazelci/clion.yml
Labels: awaiting-review

#7422 [AOSP-pick] Prepare for multi-info-file experiment
  aspect/build_dependencies.bzl
  aswb/testdata/projects/test_projects.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7425 [AOSP-pick] Do not flatten dependency graph in info files
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7429 [AOSP-pick] Fix SyncedInBazelProjectTest.javaAndDeps
  testing/test_deps/projects/java_and_deps/BUILD
Labels: awaiting-review

#7426 [AOSP-pick] Fix experiment service performance issues
  common/experiments/src/com/google/idea/common/experiments/ExperimentServiceImpl.java
Labels: product: Android Studio, awaiting-review

#7427 [AOSP-pick] qs_info groups are not concern of ArtifactTracker
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  querysync/java/com/google/idea/blaze/qsync/deps/OutputInfo.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7430 [AOSP-pick] Support enum experiments and string defaults
  common/experiments/src/com/google/idea/common/experiments/EnumExperiment.java
  common/experiments/src/com/google/idea/common/experiments/StringExperiment.java
  common/experiments/tests/unittests/com/google/idea/common/experiments/ExperimentServiceImplTest.java
Labels: awaiting-review

#7431 [AOSP-pick] Separate preparing and updating aspect files
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7434 [AOSP-pick] Prepare BazelDependencyBuilder for upcoming change
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7376 Followup: Use toolchains_aspects to propagate aspects to toolchains
  aspect/BUILD
  aspect/intellij_info.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BUILD
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7437 [AOSP-pick] Add experimental support for target pattern file
  base/BUILD
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7438 [AOSP-pick] Reproduce no-ide test ignored in tests
  testing/test_deps/projects/java_and_deps/deps/no_ide/BUILD
  testing/test_deps/projects/java_and_deps/deps/no_ide/java/com/example/no_ide/NoIdeLib.java
  testing/test_deps/projects/java_and_deps/project/BUILD
Labels: awaiting-review

#7439 [AOSP-pick] Introduce new default query strategy
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySpec.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/querysummary.proto
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7441 [AOSP-pick] Exclude no-ide targets from query results
  querysync/java/com/google/idea/blaze/qsync/query/QuerySpec.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySpecTest.java
Labels: awaiting-review

#7443 Bump bazel version for headless tests
  MODULE.bazel
Labels: awaiting-review

#7424 Remove genrules where possible
  MODULE.bazel
  aspect/BUILD
  aspect/testing/rules/intellij_aspect_test_fixture.bzl
  aswb/testdata/projects/src_transform/BUILD
  intellij_platform_sdk/build_defs.bzl
Labels: awaiting-review

#7442 [AOSP-pick] Delete SINGLE_TARGET case as unused
  base/src/com/google/idea/blaze/base/qsync/DependencyTracker.java
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7435 update python example to more recent version of rules_python
  examples/python/simple_code_generator/MODULE.bazel
  examples/python/simple_code_generator/rules/rules.bzl
Labels: awaiting-review

#7445 [AOSP-pick] isReadyForAnalysis needs only a virtual file
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingFilter.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncHighlightingSettingProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncTrafficLightRendererContributor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7446 [AOSP-pick] Skip no-ide targets in the aspect
  aspect/build_dependencies.bzl
  testing/test_deps/projects/java_and_deps/deps/no_ide/BUILD
  testing/test_deps/projects/java_and_deps/project/BUILD
  testing/test_deps/projects/java_and_deps/project/java/com/example/dep_on_no_ide/DepOnNoIde.java
Labels: awaiting-review

#7447 [AOSP-pick] Provide a helper function to check IDE version mismatch
  base/BUILD
  base/src/com/google/idea/blaze/base/util/VersionChecker.java
  base/tests/unittests/com/google/idea/blaze/base/util/VersionCheckerTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7449 [AOSP-pick] Consolidate containingFile in light class base
  aswb/src/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review

#7450 [AOSP-pick] Changes required for Google3 Buildifier not to complain
  aspect/build_dependencies.bzl
Labels: awaiting-review

#7451 [AOSP-pick] Set moduleInfo on light class construction
  aswb/src/com/google/idea/blaze/android/resources/BlazeRClass.java
Labels: awaiting-review

#7457 [AOSP-pick] Remove one-argument form of registerDependency
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
  aswb/tests/unittests/com/google/idea/blaze/android/projectsystem/BazelModuleSystemTest.java
Labels: awaiting-review

#7458 [AOSP-pick] Fix NPE
  aswb/src/com/google/idea/blaze/android/projectsystem/BazelModuleDependencies.java
Labels: awaiting-review

#7456 [AOSP-pick] Simplest possible version check
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/util/VersionChecker.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7440 Make ProjectOpenProcessors no strong info holder by default
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7461 Revert "Make ProjectOpenProcessors no strong info holder by default"
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7464 [AOSP-pick] Remove build system check in NewVectorAssetAction
  aswb/src/com/google/idea/blaze/android/projectsystem/BlazeModuleSystemBase.java
Labels: product: Android Studio, awaiting-review

#7466 [AOSP-pick] Fix incorrect application of `if` in cc_info handling
  aspect/build_dependencies.bzl
Labels: awaiting-review

#7465 [AOSP-pick] Automatically exclude `.aswb` from analysis
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7467 [AOSP-pick] Remove aswb.workspace.light.class.enabled experiment
  aswb/src/com/google/idea/blaze/android/resources/BlazeLightResourceClassService.java
Labels: awaiting-review

#7468 [AOSP-pick] Inline not needed callback
  base/src/com/google/idea/blaze/base/qsync/artifacts/ProjectArtifactStore.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdateTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7469 [AOSP-pick] Fix navigation to sources
  java/src/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinder.java
  java/tests/integrationtests/com/google/idea/blaze/java/qsync/ClassFileJavaSourceFinderTest.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactIndex.java
  testing/test_deps/projects/java_and_deps/deps/top_level_lib_1/BUILD
  testing/test_deps/projects/java_and_deps/project/BUILD
Labels: product: IntelliJ, awaiting-review

#7473 [AOSP-pick] Remove getPathToAapt from the Android Project System
  aswb/src/com/google/idea/blaze/android/projectsystem/BazelProjectSystem.java
Labels: awaiting-review

#7474 [AOSP-pick] Change code to always enable lint
  aswb/src/com/google/idea/blaze/android/libraries/AndroidLintCollector.java
Labels: awaiting-review

#7476 [AOSP-pick] Merge Local Blaze and Bazel Invokers
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker1.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildInvoker.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7478 [AOSP-pick] Producers for Screenshot test Gradle Run Configuration
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/NonBlazeProducerConfigurationTest.java
Labels: product: IntelliJ, awaiting-review

#7480 [AOSP-pick] Query sync cache invalidator
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/action/ResetQuerySyncAction.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7482 Update CHANGELOG for v2025.03.18 release
  CHANGELOG
Labels: awaiting-review

#7488 [AOSP-pick] Extract IDE_JAVA_PROTO bazel sync interface
  aspect/build_dependencies.bzl
  aspect/build_dependencies_deps.bzl
Labels: awaiting-review

#7490 [AOSP-pick] ASwB can always follow required proto dependencies
  aspect/build_dependencies.bzl
  aspect/build_dependencies_deps.bzl
Labels: awaiting-review

#7455 CLion Bazel 9 compatability fixes
  .bazelci/clion.yml
  .bazelci/intellij-ue.yml
  MODULE.bazel
  MODULE.bazel.lock
  aspect/intellij_info.bzl
  aspect/make_variables.bzl
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectStorageService.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriter.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriterImpl.kt
  clwb/BUILD
  clwb/test_defs.bzl
  ijwb/tests/headlesstests/com/google/idea/blaze/ijwb/headless/base/IjwbHeadlessTestCase.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  testing/src/com/google/idea/testing/headless/BazelVersionRule.java
  testing/test_defs.bzl
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7491 [AOSP-pick] Sort ASwB test deps
  testing/test_deps/test_deps_bazel_artifacts.bzl
Labels: awaiting-review

#7494 [AOSP-pick] Upgrade ASwB test Bazel to 8.0.1
  testing/test_deps/deps.bzl
  testing/test_deps/projects/MODULE.bazel
  testing/test_deps/test_deps_bazel_artifacts.bzl
Labels: awaiting-review

#7495 [AOSP-pick] Token for APK analyzer default APK
  aswb/src/com/google/idea/blaze/android/projectsystem/BazelProjectSystem.java
Labels: awaiting-review

#7499 Added an example Scala project with Bzlmod.
  examples/scala/with_bzlmod/MODULE.bazel
  examples/scala/with_bzlmod/MODULE.bazel.lock
  examples/scala/with_bzlmod/hello/BUILD
  examples/scala/with_bzlmod/hello/Hello.scala
  examples/scala/with_bzlmod/hello/HelloApp.scala
  examples/scala/with_bzlmod/hello/HelloTest.scala
Labels: awaiting-review

#7496 [AOSP-pick] Store artifact in QuerySync's cache and add an artifacts directory
  aswb/BUILD
  aswb/src/com/google/idea/blaze/android/run/RuntimeArtifactCacheImpl.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/run/RuntimeArtifactCacheImplTest.java
  querysync/BUILD
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectories.java
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  shared/java/com/google/idea/blaze/exception/BUILD
  shared/javatests/com/google/idea/blaze/common/artifact/BUILD
Labels: awaiting-review

#7459 [AOSP-pick] Make BuildArtifactCache an independent service
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/CacheCleaner.java
  base/src/com/google/idea/blaze/base/qsync/DynamicallyDispatchingArtifactFetcher.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BUILD
  shared/java/com/google/idea/blaze/common/artifact/BuildArtifactCacheDirectory.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7500 [AOSP-pick] Remove fetching configMnemonic from BEP event as its calculated from artifact prefix path
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
  base/tests/unittests/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategyTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7498 [AOSP-pick] Fix project definition serialization
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectDefinition.java
  querysync/java/com/google/idea/blaze/qsync/project/SnapshotSerializer.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ProjectDefinitionTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7502 Set Java version in kotlin example project
  examples/kotlin/simple_project/.bazelrc
Labels: product: IntelliJ, awaiting-review

#7506 [AOSP-pick] Add true dependency graph to java-info.txt files
  aspect/build_dependencies.bzl
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/java/java_target_info.proto
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7508 [AOSP-pick] Add/Update getLocalFiles method to support both BlazeArtifact and OutputArtifact type artifacts
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileArtifact.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderLegacyTest.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  java/src/com/google/idea/blaze/java/sync/jdeps/JdepsFileReader.java
  java/src/com/google/idea/blaze/java/sync/source/PackageManifestReader.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7509 [AOSP-pick] Somewhat de-generalize core DependencyManagement
  aswb/src/com/google/idea/blaze/android/projectsystem/BazelAddDestinationMenuToken.java
  aswb/src/com/google/idea/blaze/android/projectsystem/BazelNavDesignSurfaceToken.java
Labels: awaiting-review

#7511 [AOSP-pick] Make external dependencies computation
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: awaiting-review

#7510 [AOSP-pick] Use the same project definition to load and reload
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncManager.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7513 [AOSP-pick] Fix invalidate caches contributor registration
  base/src/META-INF/blaze-base.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7514 [AOSP-pick] Ignore bazel-* directories
  testing/test_deps/deps.bzl
Labels: awaiting-review

#7512 [AOSP-pick] Replace deleteUnnecessaryFiles
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
  querysync/java/com/google/idea/blaze/qsync/query/PackageSet.java
  querysync/javatests/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdateTest.java
Labels: awaiting-review

#7507 [AOSP-pick] Store output xml files as OutputArtifact instead of BlazeArtifact in BlazeTestResult
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
  base/src/com/google/idea/blaze/base/run/testlogs/BlazeTestResult.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildRunProfileState.java
  java/src/com/google/idea/blaze/java/run/fastbuild/FastBuildTestResultFinderStrategy.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7520 [AOSP-pick] Move RuntimeArtifactCache to base folder
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/run/RuntimeArtifactCache.java
  base/src/com/google/idea/blaze/base/run/RuntimeArtifactCacheImpl.java
  base/tests/integrationtests/com/google/idea/blaze/base/artifact/TestOutputArtifact.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/RuntimeArtifactCacheImplTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7523 [AOSP-pick] Build dependencies in the same way
  base/src/com/google/idea/blaze/base/qsync/DependencyTrackerImpl.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7517 [AOSP-pick] Remove getParallelBuildInvoker method
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7493 Make ProjectOpenProcessors no strong info holder by default in CLion
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/project/AutoImportProjectOpenProcessor.java
  base/src/com/google/idea/blaze/base/project/BlazeProjectOpenProcessor.java
  ijwb/src/META-INF/ijwb.xml
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7524 [AOSP-pick] Update getLocalFiles method to support RuntimeArtifactCache usage
  aswb/src/com/google/idea/blaze/android/run/NativeSymbolFinder.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileArtifact.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7521 [AOSP-pick] Isolate kotlin coroutine debugging use case
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7528 [AOSP-pick] Fix deletion of all files in artifact directory
  querysync/java/com/google/idea/blaze/qsync/artifacts/ArtifactDirectoryUpdate.java
Labels: product: Android Studio, awaiting-review

#7527 [AOSP-pick] Build workflows cleanup in tools/adt/idea (Part 2)
  aswb/BUILD
  aswb/src/com/google/idea/blaze/android/run/NativeSymbolFinder.java
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolUtils.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoRunnerImpl.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQuerySourceToTargetProvider.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/qsync/CandidatePackageFinder.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategy.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/sharding/ShardedTargetList.java
  base/src/com/google/idea/blaze/base/sync/sharding/WildcardTargetExpander.java
  base/tests/unittests/com/google/idea/blaze/base/qsync/CandidatePackageFinderTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategyTest.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildInvoker.java
  clwb/BUILD
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/BUILD
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/BUILD
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/BUILD
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
