Repository bazelbuild/intellij, pull requests merged in 2025-02, with the labels that each got.

#7262 docs: add readme on the plugin and AOSP relation
  README.md
Labels: awaiting-review

#7269 Bump CLion to fixed version
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#7264 [AOSP-pick] Remove 2 options of query sync settings
  base/src/com/google/idea/blaze/base/qsync/UnsyncedFileEditorNotificationProvider.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncConfigurable.java
  base/src/com/google/idea/blaze/base/qsync/settings/QuerySyncSettings.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7263 [AOSP-pick] Continue separating BEP fetching and parsing
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/BepArtifactData.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelperBep.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategy.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildResultHelperBep.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7266 Followup: query xcode parameters from provider based on attributes
  aspect/BUILD
  aspect/xcode_query.bzl
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/SimpleTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/Assertions.java
  cpp/src/com/google/idea/blaze/cpp/XcodeCompilerSettingsProviderImpl.java
Labels: product: CLion, awaiting-review

#7259 Replace VFS with a manifest file for copying aspects
  aspect/BUILD
  aspect/build_defs.bzl
  aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/BazelInvokingIntegrationTestRunner.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectRepositoryProvider.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectRepositoryProvider.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriter.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectWriterImpl.kt
  base/src/com/google/idea/blaze/base/util/TemplateWriter.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7268 Update CHANGELOG for v2025.02.04 release
  CHANGELOG
Labels: awaiting-review

#7278 [AOSP-pick] Fix _proto deps that are supposed to be proto_deps
  querysync/java/com/google/idea/blaze/qsync/query/BUILD
Labels: product: Android Studio, awaiting-review

#7279 [AOSP-pick] BlazeInfoData is an immutable singleton
  aswb/tests/utils/integration/com/google/idea/blaze/android/targetmapbuilder/BlazeInfoData.java
Labels: product: Android Studio, awaiting-review

#7281 Changing rules_scala to custom bzlmod-compatible version and removing WORKSPACE
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bzlmod
  maven_install.json
Labels: product: IntelliJ, awaiting-review

#7284 Revert "Hide `FileGitHubIssueAction` as Github is no longer used to track issues against ASwB (#7277)"
  base/src/com/google/idea/blaze/base/actions/FileGitHubIssueAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7301 Add cfg exec to java runtime required by aspects
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#7198 handling for debugging python test targets with transitions
  aspect/python_info.bzl
  base/src/com/google/idea/blaze/base/run/testmap/ProjectSourceToTargetFinder.java
  base/src/com/google/idea/blaze/base/run/testmap/TargetInfoComparator.java
  base/tests/unittests/com/google/idea/blaze/base/run/testmap/TargetInfoComparatorTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySpecTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7313 updating rules_cc to fix broken integration tests pipeline
  clwb/tests/projects/external_includes/MODULE.bazel
  clwb/tests/projects/llvm_toolchain/MODULE.bazel
  clwb/tests/projects/simple/MODULE.bazel
  clwb/tests/projects/virtual_includes/MODULE.bazel
Labels: product: CLion, awaiting-review

#7276 [AOSP-pick] Disable conflicting configuration reporting
  querysync/java/com/google/idea/blaze/qsync/deps/JavaArtifactInfo.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/TargetBuildInfo.java
  querysync/java/com/google/idea/blaze/qsync/java/JavaArtifactMetadata.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/NewArtifactTrackerTest.java
Labels: product: Android Studio, awaiting-review

#7314 Return sorted sets (follow-up to #7198)
  base/src/com/google/idea/blaze/base/run/testmap/ProjectSourceToTargetFinder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7308 Fix CLion integration tests for EAP
  intellij_platform_sdk/BUILD.clion251
Labels: product: CLion, awaiting-review

#7287 Drop implicit read lock from action when downloading buildifier
  base/src/com/google/idea/blaze/base/buildmodifier/BuildFileFormatter.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierBinaryProvider.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierDownloader.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierFormattingService.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierNotification.java
  base/src/com/google/idea/blaze/base/buildmodifier/BuildifierNotification.kt
  base/src/com/google/idea/blaze/base/buildmodifier/DefaultBuildifierBinaryProvider.java
  base/src/com/google/idea/blaze/base/util/ScopeService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7303 Add gotit tooltip to promote the new sync view
  base/src/com/google/idea/blaze/base/buildview/BuildViewMigration.kt
  base/src/com/google/idea/blaze/base/toolwindow/ToolWindowTabs.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7329 [AOSP-pick] Extract BEP parser library
  aswb/BUILD
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildFlags.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelperBep.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BUILD
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepArtifactData.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BuildEventStreamProvider.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/OutputArtifactParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  base/tests/unittests/com/google/idea/blaze/base/run/testlogs/LocalBuildEventProtocolTestFinderStrategyTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BepUtils.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildResultHelperBep.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7328 Update CHANGELOG for v2025.02.18 release
  CHANGELOG
Labels: awaiting-review

#7337 [AOSP-pick] Delete currently unused fields
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactDirectoryBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddProjectGenSrcsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7321 More customary to IJ error reporting for cases when required JDK is missing
  java/src/com/google/idea/blaze/java/qsync/BlazeJavaQuerySyncPlugin.java
  java/src/com/google/idea/blaze/java/sync/BlazeJavaSyncPlugin.java
  java/src/com/google/idea/blaze/java/sync/JavaLanguageLevelHelper.java
  java/src/com/google/idea/blaze/java/sync/projectstructure/Jdks.java
Labels: product: IntelliJ, awaiting-review

#7338 [AOSP-pick] Separate BEP parsing and data
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultHelperBep.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BepUtils.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7342 [AOSP-pick] Replace output group name filter
  aswb/src/com/google/idea/blaze/android/libraries/RenderJarCache.java
  aswb/src/com/google/idea/blaze/android/sync/aspects/strategy/RenderResolveOutputGroupProvider.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/qsync/GroupedOutputArtifacts.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7344 [AOSP-pick] Encapsulate buildResult field
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7345 [AOSP-pick] Clean up DeployTarget interface
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeAndroidDeviceSelector.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeAndroidRunConfigurationRunner.java
Labels: awaiting-review

#7331 Copy aspects also during startup sync
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7347 [AOSP-pick] Handle output groups explicitly in deployment
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7348 Fixes for the PTY terminal on Windows
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7354 [AOSP-pick] Extract BuildOutputs interface
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/command/BlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/logging/utils/BuildPhaseSyncStats.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/GroupedOutputArtifacts.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncBuildResult.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterface.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/tests/utils/integration/com/google/idea/blaze/base/sync/BlazeSyncIntegrationTestCase.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginDeployer.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#5980 Update bazel logo to svg for better compatibility with gateway
  base/src/com/google/idea/blaze/base/wizard2/UseExistingBazelWorkspaceOption.java
  base/src/icons/BlazeIcons.java
  base/src/resources/icons/bazel/logo.png
  base/src/resources/icons/bazel/logo@2x.png
  base/src/resources/icons/blaze/logo.png
  base/src/resources/icons/logo.svg
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7080 Stop adding $ as "terminators" when filtering tests for JUnit 5
  java/src/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlags.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsIntegrationTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaAbstractTestCaseConfigurationProducerTest.java
  java/tests/integrationtests/com/google/idea/blaze/java/run/producers/BlazeJavaTestMethodConfigurationProducerTest.java
  java/tests/unittests/com/google/idea/blaze/java/run/producers/BlazeJUnitTestFilterFlagsTest.java
Labels: product: IntelliJ, awaiting-review

#7355 [AOSP-pick] Separate BEP analysis and parsing
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7356 [AOSP-pick] Simplify handling of config mnemonics
  aswb/tests/unittests/com/google/idea/blaze/android/filecache/LocalArtifactCacheTest.java
  aswb/tests/unittests/com/google/idea/blaze/android/libraries/UnpackedAarsTest.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifact.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileOutputArtifactWithoutDigest.java
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/OutputArtifactParser.java
  base/src/com/google/idea/blaze/base/command/info/BlazeConfigurationHandler.java
  base/src/com/google/idea/blaze/base/model/RemoteOutputArtifacts.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/workspace/ArtifactLocationDecoderImpl.java
  base/tests/utils/unit/com/google/idea/blaze/base/sync/FakeRemoteOutputArtifact.java
  base/tests/utils/unit/com/google/idea/blaze/base/sync/workspace/MockArtifactLocationDecoder.java
  shared/java/com/google/idea/blaze/common/artifact/OutputArtifactWithoutDigest.java
  shared/javatests/com/google/idea/blaze/common/artifact/TestOutputArtifact.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7359 Disable CLion MacOS CI
  .bazelci/clion.yml
Labels: awaiting-review

#7358 [AOSP-pick] Extract core BEP parsing
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7360 [AOSP-pick] Enumerate all currently used cache directories.
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  base/src/com/google/idea/blaze/base/sync/data/BlazeDataStorage.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectories.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7353 Rename Android Studio handler to Bazel handler in run configs
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7361 [AOSP-pick] Simplify ParsedBepOutput public interface
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7362 [AOSP-pick] Cleanup BlazeBuildOutputs instantiation
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  base/src/com/google/idea/blaze/base/command/CommandLineBlazeCommandRunner.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBlazeCommandRunner.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7365 [AOSP-pick] Drop log only localExecRoot property
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7366 [AOSP-pick] Never ask for artifacts without output group
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/BlazeInstrumentationTestApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/FullApkBuildStepIntegrationTest.java
  aswb/tests/integrationtests/com/google/idea/blaze/android/functional/MobileInstallBuildStepIntegrationTest.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7271 Store the package and name of a Label as strings rather than paths, to avoid occurrence of backslashes on Windows
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  shared/java/com/google/idea/blaze/common/Label.java
  shared/java/com/google/idea/blaze/common/TargetTree.java
  shared/javatests/com/google/idea/blaze/common/LabelTest.java
Labels: product: IntelliJ, awaiting-review

#7357 CLion qsync improvements for Mac
  base/src/com/google/idea/blaze/base/qsync/ProjectLoader.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/QuerySyncTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/ClwbIntegrationTestCase.java
  cpp/src/com/google/idea/blaze/cpp/qsync/CcProjectModelUpdateOperation.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactDirectories.java
  querysync/java/com/google/idea/blaze/qsync/deps/CcToolchain.java
  querysync/java/com/google/idea/blaze/qsync/project/ProjectPath.java
  querysync/java/com/google/idea/blaze/qsync/project/project.proto
  querysync/javatests/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilderTest.java
  querysync/javatests/com/google/idea/blaze/qsync/cc/ConfigureCcCompilationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddDependencySrcJarsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7372 Fix build errors
  base/src/com/google/idea/blaze/base/sync/data/BlazeDataStorage.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7369 [AOSP-pick] Always use BlazeBuildOutputs
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/BepParser.java
  base/src/com/google/idea/blaze/base/command/buildresult/bepparser/ParsedBepOutput.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  base/tests/unittests/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReaderTest.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7370 [AOSP-pick] Rename build_id to build_id_for_logging
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateDeserializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/ArtifactTrackerStateSerializer.java
  querysync/java/com/google/idea/blaze/qsync/deps/DependencyBuildContext.java
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/deps/artifact_tracker_state.proto
Labels: product: Android Studio, awaiting-review

#7375 CLion disable llvm tests
  clwb/BUILD
Labels: product: CLion, awaiting-review

#7378 [AOSP-pick] Clean up and Java docs
  aswb/src/com/google/idea/blaze/android/run/deployinfo/BlazeApkDeployInfoProtoHelper.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeBuildOutputs.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationRunner.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  scala/src/com/google/idea/blaze/scala/run/producers/GenerateDeployableJarTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7379 [AOSP-pick] Mark ASwB K2 compatible
  kotlin/src/META-INF/blaze-kotlin.xml
Labels: product: IntelliJ, awaiting-review

#7192 address uninitialized registry warnings
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/BlazeTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7380 [AOSP-pick] Remove TODOs and rename classes
  aswb/src/com/google/idea/blaze/android/editor/ProjectUnresolvedResourceStatsCollector.java
  aswb/src/com/google/idea/blaze/android/run/BlazeAndroidRunConfigurationCommonState.java
  base/BUILD
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/dependencies/AddSourceToProjectAction.java
  base/src/com/google/idea/blaze/base/lang/LegacyAdditionalLanguagesHelper.java
  base/src/com/google/idea/blaze/base/model/LegacyLibraryToTargetResolver.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/syncstatus/LegacySyncStatusContributor.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabColorProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusEditorTabTitleProvider.java
  base/src/com/google/idea/blaze/base/syncstatus/SyncStatusNodeDecorator.java
  base/tests/utils/unit/com/google/idea/blaze/base/model/FakeLibraryToTargetResolver.java
  clwb/src/com/google/idea/blaze/clwb/oclang/run/test/GoogleTestLocation.java
  cpp/src/com/google/idea/blaze/cpp/oclang/CppSyncStatusContributor.java
  golang/src/com/google/idea/blaze/golang/sync/GoSyncStatusContributor.java
  java/src/com/google/idea/blaze/java/syncstatus/JavaSyncStatusContributor.java
  kotlin/src/com/google/idea/blaze/kotlin/syncstatus/KotlinSyncStatusContributor.java
  python/src/com/google/idea/blaze/python/sync/PySyncStatusContributor.java
  scala/src/com/google/idea/blaze/scala/sync/ScalaSyncStatusContributor.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7381 [AOSP-pick] Fix skip finding output experiment implementation
  base/src/com/google/idea/blaze/base/qsync/FileRefresher.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7199 Reduce freeze in ProjectUpdater
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdaterHelper.kt
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdaterThreadingUtils.kt
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review
