Repository bazelbuild/intellij, pull requests merged in 2025-04, with the labels that each got.

#7529 [AOSP-pick] Update LocalFileArtifact to use RuntimeArtifactCache
  base/src/com/google/idea/blaze/base/command/buildresult/LocalFileArtifact.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7531 [AOSP-pick] Delete unused getFileDependencies()
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
Labels: awaiting-review

#7532 [AOSP-pick] Extract updateProjectSnapshot method
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
Labels: product: CLion, product: IntelliJ, product: GoLand

#7534 [AOSP-pick] Revert unnecessary change
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolUtils.java
Labels: product: CLion, product: IntelliJ, product: GoLand

#7533 Update CHANGELOG for v2025.04.01 release
  CHANGELOG
Labels: awaiting-review

#7535 Windows fixes
  base/src/com/google/idea/blaze/base/buildview/BazelExecService.kt
  clwb/clwb.bazelproject
  ijwb/ijwb.bazelproject
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginDeployer.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7539 [AOSP-pick] Sort the rules
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
Labels: awaiting-review

#7541 [AOSP-pick] Inline used-once utility
  aswb/tests/utils/unit/com/android/ide/common/repository/GoogleMavenArtifactIdHelper.java
Labels: awaiting-review

#7538 [AOSP-pick] Replace usages of ExternalTransitiveClosure
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/ExternalTransitiveClosure.java
  querysync/java/com/google/idea/blaze/qsync/project/PendingExternalDeps.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/ExternalTransitiveClosureTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/PendingExternalDepsTest.java
Labels: awaiting-review

#7540 [AOSP-pick] Drop outdated experiments
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/SnapshotBuilder.java
  querysync/java/com/google/idea/blaze/qsync/util/ProjectSpecBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7542 [AOSP-pick] Make it clear what QuerySummary is
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  querysync/java/com/google/idea/blaze/qsync/PartialProjectRefresh.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummaryImpl.java
  querysync/java/com/google/idea/blaze/qsync/util/QuerySummarizer.java
  querysync/javatests/com/google/idea/blaze/qsync/AffectedPackagesTest.java
  querysync/javatests/com/google/idea/blaze/qsync/PartialProjectRefreshTest.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/QuerySyncTestUtils.java
  querysync/javatests/com/google/idea/blaze/qsync/TestDataSyncRunner.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTestBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7544 [AOSP-pick] Fix java_binary debugging
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/src/com/google/idea/blaze/java/run/hotswap/ClassFileManifestBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7546 [AOSP-pick] Remove unnecessary methods
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker1.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildInvoker.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#6482 docs: Add ARCHITECTURE.md to introduce contributors to the architecture
  ARCHITECTURE.md
Labels: awaiting-review

#7548 [AOSP-pick] Return simple labels instead of TargetTree
  base/src/com/google/idea/blaze/base/model/AspectSyncProjectData.java
  base/src/com/google/idea/blaze/base/model/BlazeProjectData.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/src/com/google/idea/blaze/base/run/ui/TargetExpressionListUi.java
  plugin_dev/src/com/google/idea/blaze/plugin/IntellijPluginRule.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfiguration.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7545 [AOSP-pick] Move ASwB test dependencies to bzlmod
  testing/src/com/google/idea/testing/runfiles/BUILD
  testing/src/com/google/idea/testing/runfiles/Runfiles.java
  testing/test_deps/BUILD
  testing/test_deps/aswb_test_projects.BUILD
  testing/test_deps/deps.bzl
  testing/test_deps/test_deps.MODULE.bazel
  testing/test_deps/test_deps.bzl
  testing/test_deps/test_deps_bazel_artifacts.bzl
Labels: awaiting-review

#7550 [AOSP-pick] Clean up QuerySyncLanguages
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/LanguageClasses.java
  base/tests/integrationtests/com/google/idea/blaze/base/qsync/BazelDependencyBuilderTest.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/project/QuerySyncLanguage.java
  querysync/java/com/google/idea/blaze/qsync/project/language_class.proto
  querysync/javatests/com/google/idea/blaze/qsync/GraphToProjectConverterTest.java
  querysync/javatests/com/google/idea/blaze/qsync/ProjectRefresherTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/project/SnapshotSerializationTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/ProjectProtos.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7556 [AOSP-pick] Extract `BuildGraphData` interface
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesAction.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/QuerySyncProjectSnapshot.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphDataImpl.java
  querysync/java/com/google/idea/blaze/qsync/project/DepsGraph.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7558 [AOSP-pick] Modify signature of getBuildInvoker
  aswb/src/com/google/idea/blaze/android/run/binary/mobileinstall/MobileInstallBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/runner/ExecRootUtil.java
  aswb/src/com/google/idea/blaze/android/run/runner/FullApkBuildStep.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestLaunchTask.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker1.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystemProvider.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/src/com/google/idea/blaze/base/build/BlazeBuildService.java
  base/src/com/google/idea/blaze/base/command/info/BlazeInfoProvider.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQueryDirectoryToTargetProvider.java
  base/src/com/google/idea/blaze/base/dependencies/BlazeQuerySourceToTargetProvider.java
  base/src/com/google/idea/blaze/base/lang/buildfile/language/semantics/BuildLanguageSpecProviderImpl.java
  base/src/com/google/idea/blaze/base/lang/buildfile/sync/BuildLangSyncPlugin.java
  base/src/com/google/idea/blaze/base/model/ExternalWorkspaceDataProvider.java
  base/src/com/google/idea/blaze/base/qsync/BazelAppInspectorBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelInfoHandler.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/qsync/BazelRenderJarBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelVersionHandler.java
  base/src/com/google/idea/blaze/base/qsync/CandidatePackageFinder.java
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/run/BlazeBeforeRunCommandHelper.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/tests/unittests/com/google/idea/blaze/base/sync/sharding/BlazeBuildTargetSharderTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildInvoker.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
  cpp/src/com/google/idea/blaze/cpp/XcodeCompilerSettingsProviderImpl.java
  gazelle/src/com/google/idea/blaze/gazelle/GazelleSyncListener.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
  java/src/com/google/idea/blaze/java/run/coverage/BlazeCoverageProgramRunner.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BuildPluginBeforeRunTaskProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7559 [AOSP-pick] Migrate getSdkManager() to getRepoManager()
  aswb/src/com/google/idea/blaze/android/sdk/BlazeSdkProviderImpl.java
Labels: awaiting-review

#7557 [AOSP-pick] Separate storage and logic in BuildGraphData
  base/src/com/google/idea/blaze/base/qsync/ProjectStatsLogger.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProjectData.java
  base/src/com/google/idea/blaze/base/qsync/action/BuildDependenciesForProjectAction.java
  java/src/com/google/idea/blaze/java/run/producers/JavaBinaryContextProvider.java
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
  querysync/java/com/google/idea/blaze/qsync/BUILD.bazel
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/cc/CcWorkspaceBuilder.java
  querysync/java/com/google/idea/blaze/qsync/cc/ConfigureCcCompilation.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphDataImpl.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/BuildGraphDataImplTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BuildGraphs.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7561 [AOSP-pick] Replace AbstractBuildInvoker with AbstractBuildInvoker1
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker.java
  base/src/com/google/idea/blaze/base/bazel/AbstractBuildInvoker1.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7564 [AOSP-pick] Skip throwing UnsupportedOperationException to avoid crash
  aswb/src/com/android/tools/idea/rendering/tokens/BazelBuildSystemFilePreviewServices.java
Labels: awaiting-review

#7562 [AOSP-pick] Return NO_STATUS test result if no tests were run
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7565 [AOSP-pick] Collect BUILD included files
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummary.java
  querysync/java/com/google/idea/blaze/qsync/query/QuerySummaryImpl.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/includes/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/includes/includes.bzl
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/includes/includes2.bzl
Labels: awaiting-review

#7566 [AOSP-pick] Migrate querysync library to aswb_library rule
  querysync/java/com/google/idea/blaze/qsync/BUILD.bazel
  querysync/java/com/google/idea/blaze/qsync/GraphToProjectConverter.java
  querysync/java/com/google/idea/blaze/qsync/artifacts/BUILD
  querysync/java/com/google/idea/blaze/qsync/cc/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/NewArtifactTracker.java
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcs.java
  querysync/java/com/google/idea/blaze/qsync/java/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BUILD
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/PostQuerySyncData.java
  querysync/java/com/google/idea/blaze/qsync/query/BUILD
Labels: awaiting-review

#7572 [AOSP-pick] Disable BlazeRenderErrorContributorTest
  aswb/tests/unittests/com/google/idea/blaze/android/rendering/BlazeRenderErrorContributorTest.java
Labels: awaiting-review

#7567 [AOSP-pick] Provides libraries via extension point instead of library table
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdater.java
  base/src/com/google/idea/blaze/base/qsync/ProjectUpdaterHelper.kt
  base/src/com/google/idea/blaze/base/qsync/QuerySync.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncBazelAdditionalLibraryRootsProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncBazelOrderEnumeratorHandler.java
  querysync/java/com/google/idea/blaze/qsync/DependenciesProjectProtoUpdater.java
  querysync/java/com/google/idea/blaze/qsync/deps/BUILD
  querysync/java/com/google/idea/blaze/qsync/deps/ProjectProtoUpdateOperation.java
  querysync/java/com/google/idea/blaze/qsync/java/AddCompiledJavaDeps.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJars.java
  querysync/java/com/google/idea/blaze/qsync/java/AddDependencySrcJars.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddCompiledJavaDepsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddDependencyGenSrcsJarsTest.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddDependencySrcJarsTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7574 [AOSP-pick] Build useful maps explicitly
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphDataImpl.java
Labels: awaiting-review

#7581 [AOSP-pick] Inline what remains of DepsGraph
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphData.java
  querysync/java/com/google/idea/blaze/qsync/project/BuildGraphDataImpl.java
  querysync/java/com/google/idea/blaze/qsync/project/DepsGraph.java
  querysync/javatests/com/google/idea/blaze/qsync/project/BUILD
  querysync/javatests/com/google/idea/blaze/qsync/project/DepsGraphTest.java
Labels: awaiting-review

#7588 [AOSP-pick] Unzip generated sources for project structure
  aswb/testdata/projects/gensrcjars/gen_srcjar.bzl
  aswb/testdata/projects/gensrcjars/java/com/example/jar2/Jar2Class.java_
  querysync/java/com/google/idea/blaze/qsync/java/AddProjectGenSrcJars.java
  querysync/javatests/com/google/idea/blaze/qsync/java/AddProjectGenSrcJarsTest.java
Labels: awaiting-review

#7591 [AOSP-pick] Add a simple Java only test project for protobuf
  testing/test_deps/projects/.gitignore
  testing/test_deps/projects/MODULE.bazel
  testing/test_deps/projects/simple_proto/.bazelproject
  testing/test_deps/projects/simple_proto/external/BUILD
  testing/test_deps/projects/simple_proto/external/external.proto
  testing/test_deps/projects/simple_proto/project/BUILD
  testing/test_deps/projects/simple_proto/project/java/com/example/android/ProtoConsumer.java
  testing/test_deps/projects/simple_proto/project/java/com/example/lib/ProtoConsumer.java
  testing/test_deps/projects/simple_proto/project/lib.proto
  testing/test_deps/test_deps.MODULE.bazel
Labels: awaiting-review

#7575 [AOSP-pick] Migrate aswb/base to aswb_library
  base/src/com/google/idea/blaze/base/async/process/ExternalTask.java
  base/src/com/google/idea/blaze/base/async/process/ExternalTaskProvider.java
  base/src/com/google/idea/blaze/base/bazel/BazelVersion.java
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResult.java
  base/src/com/google/idea/blaze/base/dependencies/ExternalFileProjectManagementHelper.java
  base/src/com/google/idea/blaze/base/filecache/RemoteOutputsCache.java
  base/src/com/google/idea/blaze/base/ideinfo/ArtifactLocation.java
  base/src/com/google/idea/blaze/base/io/FileOperationProvider.java
  base/src/com/google/idea/blaze/base/issueparser/BlazeIssueParser.java
  base/src/com/google/idea/blaze/base/lang/projectview/lexer/ProjectViewLexerBase.java
  base/src/com/google/idea/blaze/base/model/primitives/WorkspaceRoot.java
  base/src/com/google/idea/blaze/base/prefetch/PrefetchIndexingTask.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/qsync/FileRefresher.java
  base/src/com/google/idea/blaze/base/qsync/ProjectQuerierImpl.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncInspectionWidgetActionProvider.java
  base/src/com/google/idea/blaze/base/qsync/QuerySyncProject.java
  base/src/com/google/idea/blaze/base/qsync/cache/FileApiArtifactFetcher.java
  base/src/com/google/idea/blaze/base/run/TestSizeFromRoughTargetNameHeuristic.java
  base/src/com/google/idea/blaze/base/run/TestTargetSourcesHeuristic.java
  base/src/com/google/idea/blaze/base/scope/scopes/TimingScope.java
  base/src/com/google/idea/blaze/base/settings/BuildSystemName.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncParams.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncPhaseCoordinator.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectTargetsHelper.java
  base/src/com/google/idea/blaze/base/sync/aspects/BlazeIdeInterfaceAspectsImpl.java
  base/src/com/google/idea/blaze/base/sync/libraries/LibraryEditor.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ModuleEditorImpl.java
  base/src/com/google/idea/blaze/base/sync/sharding/ShardedBuildProgressTracker.java
  base/src/com/google/idea/blaze/base/toolwindow/ConsoleView.java
  base/src/com/google/idea/blaze/base/toolwindow/TasksToolWindowServiceImpl.java
  base/src/com/google/idea/blaze/base/ui/problems/BuildTasksProblemsView.java
  base/src/com/google/idea/blaze/base/wizard2/BlazeProjectImportBuilder.java
  base/src/com/google/idea/blaze/base/wizard2/ui/BlazeEditProjectViewControl.java
  java/src/com/google/idea/blaze/java/fastbuild/FastBuildServiceImpl.java
  shared/java/com/google/idea/blaze/common/TimeSource.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7589 [AOSP-pick] Improve BuildInvoker capablities
  aswb/src/com/google/idea/blaze/android/run/runner/BlazeInstrumentationTestApkBuildStep.java
  base/src/com/google/idea/blaze/base/bazel/BazelBuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/BuildSystem.java
  base/src/com/google/idea/blaze/base/bazel/LocalInvoker.java
  base/src/com/google/idea/blaze/base/qsync/BazelQueryRunner.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/src/com/google/idea/blaze/base/sync/sharding/ShardedTargetList.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/BuildSystemProviderWrapper.java
  base/tests/utils/unit/com/google/idea/blaze/base/bazel/FakeBuildSystem.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7553 Bump intellij SDK versions
  MODULE.bazel
  clwb/src/com/google/idea/blaze/clwb/run/BlazeDebuggerKind.java
  intellij_platform_sdk/BUILD.idea251
  intellij_platform_sdk/BUILD.ue251
  javascript/tests/integrationtests/com/google/idea/blaze/javascript/run/smrunner/BlazeJavascriptWebTestEventsHandlerTest.java
  javascript/tests/integrationtests/com/google/idea/blaze/javascript/run/smrunner/BlazeWebJavascriptTestEventsHandlerTest.java
  scala/src/com/google/idea/blaze/scala/sync/BlazeScalaSyncPlugin.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/DelegatingTypeScriptConfigServiceCompat.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  tools/maintenance/BUILD
  tools/maintenance/maintenance.kt
Labels: product: CLion, product: IntelliJ, awaiting-review

#7595 CLion fix run configuration
  .bazelci/clion.yml
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  clwb/BUILD
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/ExecutionTest.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/base/ClwbHeadlessTestCase.java
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/BUILD.clion243
  intellij_platform_sdk/BUILD.clion251
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  testing/src/com/google/idea/testing/headless/HeadlessTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7605 Workaround fix for java project sync without bzlmod for bazel 8+
  base/src/com/google/idea/blaze/base/model/AspectSyncProjectData.java
  base/src/com/google/idea/blaze/base/sync/ProjectStateSyncTask.java
  base/src/com/google/idea/blaze/base/sync/SyncProjectState.java
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectStorageService.kt
  base/src/com/google/idea/blaze/base/sync/aspects/storage/AspectTemplateWriter.kt
  base/tests/unittests/com/google/idea/blaze/base/sync/BlazeSyncManagerTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7609 Revert "Return NO_STATUS test result if no tests were run (#7562)"
  base/src/com/google/idea/blaze/base/command/buildresult/BuildEventProtocolOutputReader.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7608 Cherry Pick: Fix CIDR and PY runconfiguration runner AOSP regression (#7595)
  .bazelci/clion.yml
  base/src/com/google/idea/blaze/base/command/buildresult/BuildResultParser.java
  base/src/com/google/idea/blaze/base/sync/BlazeSyncStartupActivity.java
  clwb/BUILD
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationRunner.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/ExecutionTest.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/base/ClwbHeadlessTestCase.java
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion242
  intellij_platform_sdk/BUILD.clion243
  intellij_platform_sdk/BUILD.clion251
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationRunner.java
  testing/src/com/google/idea/testing/headless/HeadlessTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7606 fix: replace string with modern providers
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
Labels: awaiting-review

#7612 Enable CLion headless tests
  clwb/BUILD
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/ExecutionTest.java
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/base/ClwbHeadlessTestCase.java
Labels: product: CLion, awaiting-review

#7599 clion: fix CNFE for nova mode
  clwb/src/META-INF/clwb-oclang.xml
  clwb/src/META-INF/clwb.xml
  clwb/src/com/google/idea/blaze/clwb/radler/RadTestEventsHandler.kt
  clwb/src/com/google/idea/blaze/clwb/radler/optional-plugin.xml
Labels: product: CLion, awaiting-review

#7607 [AOSP-pick] Delete no longer needed cc_toolchain configs
  testing/test_deps/projects/BUILD
  testing/test_deps/projects/WORKSPACE
  testing/test_deps/projects/cc_toolchain_config.bzl
Labels: awaiting-review

#7603 Update CHANGELOG for v2025.04.15 release
  CHANGELOG
Labels: awaiting-review

#7624 Remove redundant overrides of BlazeIntegrationTestCase.buildSystem()
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/findusages/ExternalWorkspaceFindUsagesTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/lang/buildfile/references/ExternalWorkspaceReferenceTest.java
  kotlin/tests/integrationtests/com/google/idea/blaze/kotlin/run/debug/BazelKotlinxCoroutinesLibFinderTest.java
  python/tests/integrationtests/com/google/idea/blaze/python/resolve/provider/BazelPyGenfilesImportResolverStrategyTest.java
  python/tests/integrationtests/com/google/idea/blaze/python/resolve/provider/BazelPyImportResolverStrategyTest.java
  scala/tests/integrationtests/com/google/idea/blaze/scala/run/producers/DeployableJarRunConfigurationProducerTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7627 Bump Intellij 251 SDK versions
  MODULE.bazel
  MODULE.bazel.lock
  tools/maintenance/maintenance.kt
Labels: awaiting-review

#7614 Remove reference to JavaInfo from fast_build_info
  aspect/fast_build_info.bzl
Labels: awaiting-review

#7615 Remove references to java_common from aspects
  aspect/fast_build_info.bzl
  aspect/intellij_info_impl.bzl
  aspect/java_info.bzl
Labels: awaiting-review
