Repository bazelbuild/intellij, pull requests merged in 2025-05, with the labels that each got.

#7636 headless tests: improve error logging
  base/src/com/google/idea/blaze/base/scope/output/IssueOutput.kt
  testing/src/com/google/idea/testing/headless/SyncOutput.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7632 Update CHANGELOG for v2025.04.29 release
  CHANGELOG
Labels: awaiting-review

#7643 Fix annotation_processing in fast_build aspect
  aspect/fast_build_info.bzl
Labels: awaiting-review

#7597 update java example
  examples/java/greetings_project/.bazelrc
  examples/java/greetings_project/MODULE.bazel
  examples/java/greetings_project/MODULE.bazel.lock
  examples/java/greetings_project/WORKSPACE
  examples/java/greetings_project/greeting_lib/BUILD
  examples/java/greetings_project/junit5_deps.bzl
  examples/java/greetings_project/maven_install.json
Labels: product: IntelliJ, awaiting-review

#7653 add macOS specific files to gitignore
  .gitignore
Labels: awaiting-review

#7652 chore: update IJ products to 2025.1.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#7659 Revert "Make run configurations configurable (#7275)"
  aswb/src/com/google/idea/blaze/android/run/binary/BlazeAndroidBinaryRunConfigurationHandlerProvider.java
  aswb/src/com/google/idea/blaze/android/run/test/BlazeAndroidTestRunConfigurationHandlerProvider.java
  base/src/com/google/idea/blaze/base/run/BlazeCommandRunConfiguration.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationHandlerProvider.java
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandRunConfigurationHandlerProvider.java
  base/src/com/google/idea/blaze/base/run/confighandler/PendingTargetRunConfigurationHandler.java
  base/src/com/google/idea/blaze/base/run/confighandler/PendingTargetRunConfigurationHandlerProvider.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationGenericHandlerIntegrationTest.java
  base/tests/integrationtests/com/google/idea/blaze/base/run/BlazeCommandRunConfigurationRunManagerImplTest.java
  base/tests/utils/unit/com/google/idea/blaze/base/run/MockBlazeCommandRunConfigurationHandlerProvider.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrRunConfigurationHandlerProvider.java
  golang/src/com/google/idea/blaze/golang/run/BlazeGoRunConfigurationHandlerProvider.java
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunConfigurationHandlerProvider.java
  java/tests/unittests/com/google/idea/blaze/java/run/BlazeJavaRunProfileStateTest.java
  python/src/com/google/idea/blaze/python/run/BlazePyRunConfigurationHandlerProvider.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7660 Pass options to aspects using templating over defines
  aspect/BUILD
  aspect/cc_info.bzl
  aspect/intellij_info_impl.bzl
  base/src/META-INF/blaze-base.xml
  base/src/com/google/idea/blaze/base/sync/aspects/storage/CcAspectTemplateWriter.kt
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/base/ClwbHeadlessTestCase.java
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/CppAspectArgsProvider.java
  testing/src/com/google/idea/testing/headless/Assertions.java
  testing/src/com/google/idea/testing/headless/HeadlessTestCase.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7666 Missing load statments for Bazel 9
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySummaryTest.java
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/includes/includes.bzl
  querysync/javatests/com/google/idea/blaze/qsync/testdata/buildincludes/sub/includes/includes2.bzl
Labels: awaiting-review

#7665 Update CHANGELOG for v2025.05.13 release
  CHANGELOG
Labels: awaiting-review

#7641 Add project data directory to exclusion patterns as well
  base/src/com/google/idea/blaze/base/qsync/ProjectLoaderImpl.java
  base/src/com/google/idea/blaze/base/sync/projectstructure/ContentEntryEditor.java
  base/src/com/google/idea/blaze/base/sync/projectview/ImportRoots.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7651 Fix intellij plugin target collection with qsync
  plugin_dev/src/com/google/idea/blaze/plugin/IntellijPluginRule.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfiguration.java
  plugin_dev/src/com/google/idea/blaze/plugin/run/BlazeIntellijPluginConfigurationType.java
  querysync/java/com/google/idea/blaze/qsync/BlazeQueryParser.java
  querysync/javatests/com/google/idea/blaze/qsync/query/QuerySpecTest.java
  shared/java/com/google/idea/blaze/common/RuleKinds.java
Labels: awaiting-review

#7662 Add C++ example to clwb headless tests
  .bazelignore
  .bazelrc
  clwb/BUILD
  clwb/test_defs.bzl
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/ExampleTest.java
  examples/cpp/BUILD
Labels: product: CLion, awaiting-review

#7669 Updated the example Scala project with Bzlmod.
  examples/scala/with_bzlmod/MODULE.bazel
Labels: awaiting-review

#7675 Do not print sync log twice in headless tests
  testing/src/com/google/idea/testing/headless/SyncOutput.java
Labels: awaiting-review

#7680 Changed '--noexperimental_run_validations' to '--norun_validations'.
  base/src/com/google/idea/blaze/base/command/BlazeFlags.java
  base/src/com/google/idea/blaze/base/qsync/BazelDependencyBuilder.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7686 Removed BlazercMigrator.
  base/src/com/google/idea/blaze/base/command/BlazercMigrator.java
  base/src/com/google/idea/blaze/base/sync/BuildPhaseSyncTask.java
  base/tests/integrationtests/com/google/idea/blaze/base/sync/BlazercMigratorTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7453 Cleanup of unused definitions
  build_defs/build_defs.bzl
  third_party/java/jdk/BUILD
  tools/build_rules/prelude_bazel
Labels: P2, product: IntelliJ, awaiting-review

#7683 Support for 252
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  base/src/com/google/idea/blaze/base/sync/libraries/ExternalLibraryManager.java
  clwb/BUILD
  clwb/sdkcompat/BUILD
  clwb/sdkcompat/v242/BUILD
  clwb/sdkcompat/v242/com/google/idea/blaze/clwb/CLionNotificationProvider.kt
  clwb/sdkcompat/v243/BUILD
  clwb/sdkcompat/v251/BUILD
  clwb/sdkcompat/v251/com/google/idea/blaze/clwb/CLionNotificationProvider.kt
  clwb/src/com/google/idea/blaze/clwb/CLionNotificationProvider.kt
  intellij_platform_sdk/BUILD
  intellij_platform_sdk/BUILD.clion252
  intellij_platform_sdk/BUILD.idea252
  intellij_platform_sdk/BUILD.ue252
  intellij_platform_sdk/build_defs.bzl
  java/tests/integrationtests/com/google/idea/blaze/java/sync/projectstructure/JdksTest.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfig.java
  javascript/src/com/google/idea/blaze/typescript/BlazeTypeScriptConfigServiceImpl.java
  javascript/src/com/google/idea/blaze/typescript/DelegatingTypeScriptConfigService.java
  kotlin/src/com/google/idea/blaze/kotlin/sync/BlazeKotlinSyncPlugin.java
  sdkcompat/BUILD
  sdkcompat/v242/BUILD
  sdkcompat/v242/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/DelegatingTypeScriptConfigServiceCompat.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v242/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v243/BUILD
  sdkcompat/v243/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/DelegatingTypeScriptConfigServiceCompat.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v243/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v251/com/google/idea/sdkcompat/general/AsyncVfsEventsPostProcessorCompat.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/DelegatingTypeScriptConfigServiceCompat.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/TypeScriptConfigAdapter.java
  sdkcompat/v251/com/google/idea/sdkcompat/javascript/TypeScriptConfigServiceAdapter.java
  sdkcompat/v252/BUILD
  sdkcompat/v252/com/google/idea/sdkcompat/javascript/JSModulePathSubstitutionAdapter.java
  testing/BUILD
  testing/src/com/google/idea/testing/EdtRule.java
  testing/src/com/google/idea/testing/VerifyRequiredPluginsEnabled.java
  testing/testcompat/v242/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v242/com/google/idea/testing/TestRunnerUtilCompat.java
  testing/testcompat/v243/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v243/com/google/idea/testing/TestRunnerUtilCompat.java
  testing/testcompat/v251/com/google/idea/java/JavaSdkCompat.java
  testing/testcompat/v251/com/google/idea/testing/TestRunnerUtilCompat.java
  third_party/devkit/BUILD
  third_party/go/BUILD
  third_party/javascript/BUILD
  third_party/python/BUILD
  third_party/scala/BUILD
  third_party/toml/BUILD
  tools/bump_major/main.go
  tools/maintenance/maintenance.kt
Labels: P1, product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7689 chore: update lockfile after 14b9383b6
  MODULE.bazel.lock
Labels: awaiting-review

#7635 Add pty4j to test classpath
  MODULE.bazel
  maven_install.json
  testing/test_defs.bzl
Labels: P4, awaiting-review

#7691 Use scoped process handler in BlazeCommandGenericRunConfigurationRunner
  base/src/com/google/idea/blaze/base/run/confighandler/BlazeCommandGenericRunConfigurationRunner.java
  clwb/src/com/google/idea/blaze/clwb/run/BlazeCidrLauncher.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7692 java: fix broken debugger output
  java/src/com/google/idea/blaze/java/run/BlazeJavaRunProfileState.java
Labels: product: IntelliJ, awaiting-review

#7700 Update CHANGELOG for v2025.05.13 stable release
  CHANGELOG
Labels: awaiting-review

#7697 Update CHANGELOG for v2025.05.27 release
  CHANGELOG
Labels: awaiting-review

#7695 Reformatted the example run configurations for the sake of readability.
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest.xml
  examples/java/greetings_project/run_configurations/Bazel_test_EnvVarsTest_testEnvVars.xml
  examples/java/greetings_project/run_configurations/Bazel_test_greeting_lib_env_vars_test.xml
Labels: product: IntelliJ, awaiting-review

#7694 Catch and log the error when there are dots in a qualified name
  python/src/com/google/idea/blaze/python/resolve/provider/AbstractPyImportResolverStrategy.java
Labels: product: IntelliJ, awaiting-review
