Repository bazelbuild/intellij, pull requests merged in 2025-07, with the labels that each got.

#7785 Picks to v2025.06.24
  CHANGELOG
  base/src/com/google/idea/blaze/base/sync/libraries/ExternalLibraryManager.java
  docs/hotswap.md
  java/src/META-INF/java-contents.xml
  java/src/com/google/idea/blaze/java/run/hotswap/BlazeHotSwapAction.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7786 Update CHANGELOG for v2025.07.08 release
  CHANGELOG
Labels: awaiting-review

#7769 Disable expand sync to workings set by default
  base/src/com/google/idea/blaze/base/settings/BlazeUserSettings.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7780 CLion: add copts filter
  .bazelrc
  .gitignore
  BUILD
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolver.java
  base/src/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverImpl.java
  base/tests/unittests/com/google/idea/blaze/base/sync/workspace/ExecutionRootPathResolverTest.java
  clwb/BUILD
  clwb/test_defs.bzl
  clwb/tests/headlesstests/com/google/idea/blaze/clwb/VirtualIncludesTest.java
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/CoptsProcessorTest.kt
  clwb/tests/integrationtests/com/google/idea/blaze/clwb/base/ExecutionRootPathResolverStub.kt
  clwb/tests/projects/simple/.bazelrc
  clwb/tests/projects/virtual_includes/MODULE.bazel
  clwb/tests/projects/virtual_includes/lib/raw_files/BUILD
  clwb/tests/projects/virtual_includes/lib/raw_files/default/raw_default.h
  clwb/tests/projects/virtual_includes/lib/raw_files/quote/raw_quote.h
  clwb/tests/projects/virtual_includes/lib/raw_files/system/raw_system.h
  clwb/tests/projects/virtual_includes/main/BUILD
  clwb/tests/projects/virtual_includes/main/hello-world.cc
  cpp/BUILD
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/BlazeCWorkspace.java
  cpp/src/com/google/idea/blaze/cpp/BlazeCompilerSettings.java
  cpp/src/com/google/idea/blaze/cpp/BlazeConfigurationResolver.java
  cpp/src/com/google/idea/blaze/cpp/IncludeRootFlagsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/UnfilteredCompilerOptions.java
  cpp/src/com/google/idea/blaze/cpp/copts/CoptsProcessor.java
  cpp/src/com/google/idea/blaze/cpp/copts/EmptyOptionsFilter.kt
  cpp/src/com/google/idea/blaze/cpp/copts/GCCIncludeProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/IncludeProcessor.kt
  cpp/src/com/google/idea/blaze/cpp/copts/LegacyIncludeFilter.kt
  cpp/src/com/google/idea/blaze/cpp/copts/MSVCIncludeProcessor.kt
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppAutoImportHelperTest.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppIntegrationTestCase.java
  cpp/tests/integrationtests/com/google/idea/blaze/cpp/BlazeCppResolvingTestCase.java
  cpp/tests/unittests/com/google/idea/blaze/cpp/UnfilteredCompilerOptionsTest.java
  golang/tests/integrationtests/com/google/idea/blaze/golang/run/BlazeDlvPositionConverterTest.java
Labels: product: CLion, product: IntelliJ, product: GoLand, awaiting-review

#7793 chore(SDK): update IJwB 252 dependencies
  MODULE.bazel
  MODULE.bazel.lock
  intellij_platform_sdk/BUILD.ue252
Labels: awaiting-review

#7796 Plugin Transfer: added disclaimer to readme
  README.md
Labels: awaiting-review

#7801 CLion: add registry key to allow bazel-bin as header search path
  cpp/src/META-INF/blaze-cpp.xml
  cpp/src/com/google/idea/blaze/cpp/HeaderRootTrimmerImpl.kt
Labels: product: CLion, awaiting-review

#7807 chore(SDK): update 252 dependencies
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review
